[2021-01-04 16:37] LoganWolverineX opened #327 "[BUG 2.0.9] My Watched Episodes Not Updated After Watching Episode"
**Describe the bug**
I started noticing that after watching show episodes, it's not getting updated in "My Watched Episodes".  I think this must have started happening after updating to version 2.x because it updated update prior to version 2.x.

**To Reproduce**
Steps to reproduce the behavior:
1. Watch any show episode until it gets marked as watched.
2. Go to "My Watched Episodes" within "My Sh

[2021-01-04 16:41] henryjfry commented on #308
Ok it would appear that smartplay is not working for episodes for version 2.0.9

[2021-01-04 16:41] ShibajiCh opened #328 "[BUG] Seren v2.0.9 Bugs that I found till now"
Hi,

Below are the bugs that I noticed till now in the Seren v2.0.9 add-on.

1) Trakt tracking is not working all the time for mainly TV Shows. I've to go to Trakt website and add an episode as watched manually and then re-sync in Seren.
2) If I play a TV show completely without pause, forward or rewind, the Trakt tracking is not working sometimes or only half of the episode is being tracked as pl

[2021-01-04 16:50] jweinreich commented on #326
Confirmed here too on 2.0.9

WARNING: SEREN: We received no titles to build a list

[2021-01-04 16:57] jonypaulo commented on #277
I did a wyping and uninstalled and installed again.
After 3 wipings looks that it is working, even giving the same error, the traktor things appear.
Lets see if it continues

[2021-01-04 17:02] jweinreich commented on #277
Did you authorize Trakt on Seren app?
Are your accounts (RD, PM etc) fine now?

[2021-01-04 17:06] LoganWolverineX commented on #327
please disregard.  I think it must have been fixed in 2.0.9.  closing item.

[2021-01-04 17:24] kodi-lover commented on #326
Confirmed for me too, was fixed in version 2.0.8 but now broken again in this new version.

[2021-01-04 17:30] jweinreich commented on #328
Shield TV user here.
1.2.3 Can't help since I authorized trakt but disabled scrobling and let the official trakt addon do the work.
4. Did you enable Episode Play Style: "Auto Play" in settings? and just in case did you enable pre-emtive scraping? "Playing Next" dialog works ok here.
5. Don't understand, sorry.
6. Where are you scraping from? Usually that information is seen on the file descriptio

[2021-01-04 17:31] vchunkyzv opened #329 ""Continue Watching/are you still there" dialog boxes just appearing once on first show [BUG]"
**Describe the bug**
"Continue Watching/are you still there" dialog boxes just appearing once on first show. When the "continue watching" dialog box appears at the end of the episode, you can click continue watching and it successfully takes you to the next one, but on that next show the dialog doesn't re appear at the end of the show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'e

[2021-01-04 17:37] LoganWolverineX opened #330 "[BUG 2.0.9] Artwork not showing for My Watched Episodes In Landscape Showcase Artwork"
**Describe the bug**
Images are not showing up for episodes in landscape showcase in "My Watched Episodes".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Seren\My Shows\My Watched Episodes
2. Change view mode to show landscape images
3. Scroll through the page and see there are no images

**Expected behavior**
Images should show in landscape showcase in "My Watched Episodes.  Pecking

[2021-01-04 17:41] LoganWolverineX commented on #284
@nixgates just wanted to make sure "awaiting update" should not be tagged to this enhancement request, right? it will be looked at a later date.

[2021-01-04 17:51] jweinreich commented on #329
Confirmed, Playing next dialog appears only once.

[2021-01-04 17:56] xyzfre commented on #310
First just want to say thank you for your response and looking into this,, so it did fix my in progress TV shows those when I click on the seasons they are correct The ones I haven't watch are not checked off anymore￼ ,but now I notice every show I have on my watchlist that I haven't started yet those show up with the seasons marked as watched,, I did try to rebuild database and also deleting the

[2021-01-04 17:58] xyzfre commented on #310
![image](https://user-images.git￼hubusercontent.com/49699869/103564327-50a04200-4e8c-11eb-9759-d44b326eff34.jpeg)For example Dexter As you can see it is fix it showing the correct watch info￼￼

[2021-01-04 18:05] xyzfre commented on #310
![EF55D28E-6480-41EC-8258-EB4DD5C13F99](https://user-images.githubusercontent.com/49699869/103564991-7da12480-4e8d-11eb-91ff-815a8f21833a.jpeg)
![D57A83A0-2E4B-4ADB-B080-968275AB0779](https://user-images.githubusercontent.com/49699869/103564999-8134ab80-4e8d-11eb-927e-4740270ebbf6.jpeg)
Example these are shows on my watchlist that I haven’t started yet

[2021-01-04 18:21] xyzfre commented on #273
After Updating to 2.0.9 when going on New TV shows getting the same error as before now

[2021-01-04 18:33] james-s-nduka commented on #326
Can confirm this is broken in the latest version.

[2021-01-04 18:51] 101ben1011 commented on #312
Hi. I think I have done it properly this time lol.

Link to log file:
https://paste.kodi.tv/otadisaweh

Actions I took prior to uploading the log:
1. Opened kodi
2. Updated seren to 2.0.9
3. Cleared seren app data
4. Tried to authorise my real debrid, which said successful, followed by a seren error as before.
5. Tried to authorise my trakt account, which said successful, followed by a seren error

[2021-01-04 18:51] Dealz-416LS commented on #295
@nixgates bug 5. is a skin issue, I got help from Razzeee on the Trakt Script github and after a quick test it's confirmed as an issue with the skin I'm using.

[2021-01-04 19:13] ShibajiCh commented on #327
Hi,
Why did you close this ticket? Please reopen it. I can confirm that I'm too facing this issue in Seren v2. 0.9. Watched episodes are not getting marked as watched in Trakt and therefore next up episodes are not appearing correctly.

[2021-01-04 19:18] LoganWolverineX commented on #327
Ur issue is different then. I’m not seeing that issue. Episodes are getting marked as watched.

But maybe you’re right though. If I watched it from one device. And I go to another device, “my watched episodes” should be updated properly.  It’s not syncing up to trakt.

I will reopen. Keep in mind this issue is in relation to “my watched episodes” not updating/syncing when I go to it from other dev

[2021-01-04 19:20] LoganWolverineX commented on #327
@ShibajiCh did you try to re-authenticate Trakt from seren settings/accounts then let seren rebuild the trakt database? This step takes a while.

[2021-01-04 19:21] ShibajiCh commented on #327
Hi,
Thanks for reopening this issue. For me if I'm watching a single episode continuously without forwarding or rewinding it then sometimes it's not scrobbling in Trakt or even if it is scrobbling it is not getting marked as watched once the episode completes. So next up episodes list is also not updating.

[2021-01-04 19:23] Gaddinator90 commented on #314
@nixgates seems to be ok now, thank you very much I'll report if I have any issues

[2021-01-04 19:23] #314 closed

[2021-01-04 19:36] Bio37 opened #331 "[BUG] 2.0.9 Trakt Lists Next page Not Working As intended"
Steps to reproduce the issue.

1: Have more Trakt liked lists than the default page item limit in Seren's Interface settings.
2: Open 'My Liked Trakt lists" press "Next Page"
Behavior: Pressing Next page returns the same results that were in page 1

Expected Behavior: Pressing Next Page should show the next results instead of displaying the same results again

[2021-01-04 19:41] peno64 commented on #328
I can confirm the problems about trakt a bit. Yesterday I watched 2 episodes of a series and the first one was checked in trakt, but the next one that auto searched after the first and played until the end wasn't.

[2021-01-04 20:08] peno64 opened #332 "[BUG] Filename not passed to subtitle screen intermittently"
**Describe the bug**
For some streams, but not all, when you play them and then call the subtitles dialog, the same of the file playing is not shown there. Playing the *same* stream with the old version of seren does show the name of the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for Star Trek Discovery, season 3, first episode (3x01. That Hope Is You, Part 1
2. Choose it a

[2021-01-04 20:15] StreamAntics commented on #300
ah excellent thanks @nixgates you're doing great mate keep up the fantastic work.

[2021-01-04 20:35] nixgates commented on #331
This sounds like an issue that was fixed in the latest update (2.0.9). Can you please confirm what version you are on?

[2021-01-04 20:38] LoganWolverineX opened #333 "[BUG] v2.0.9 - Up Next Air Date Offset Issue?"
**Describe the bug**
I am in the US East time zone.  there's currently Monday (1/4) shows already showing up in Up next for shows that start at 8pm EST.  As of right now it's 3:30pm EST.  Do you know if anything was changed to any timezone offset in Seren 2.x?  It appears it's offset to GMT/UK time.  Before Seren 2.0, it showed up on time based on US East time zone, but now it seems to be showing

[2021-01-04 20:39] nixgates commented on #323
@Jim22223 im not sure what you mean?

Are you sure the file isn't in your account?

If the file isn't in your cloud on RD and Seren isn't identifying it there im not sure that's an issue?

[2021-01-04 21:04] Jim22223 commented on #323
The file is not in the account. Somehow the FEN plugin seemed to query the RD Cloud directly (and the file worked). No other addons (Venom, The Crew, Gaia, etc) had this result. I only installed Kodi a few days ago and used it for comparing the different addons.
But I just tried again and it's gone... I am sorry for the troubles.

[2021-01-04 21:05] Bio37 commented on #331
Sure can my friend. I'm on 2.0.9

On Mon, Jan 4, 2021 at 3:35 PM nixgates <notifications@github.com> wrote:

[2021-01-04 21:06] Bio37 commented on #331
Might just need to rebuild ?

On Mon, Jan 4, 2021 at 4:05 PM Sebastien Perron <uselessfact@gmail.com>
wrote:

[2021-01-04 21:13] Bio37 commented on #331
Okay it works now for whatever reason. I must have gotten the update later
than i tought. Sorry about the misunderstanding

On Mon, Jan 4, 2021 at 4:06 PM Sebastien Perron <uselessfact@gmail.com>
wrote:

[2021-01-04 21:16] #331 closed

[2021-01-04 21:30] SamDW96 commented on #302
Thank you for your work. I'm afraid the bug hasn't been fixed yet. After updating, I still had the same issue. A clean reinstall of Seren with a full data wipe helped initially and I could correctly see all my lists, but when looking back at it now I see the same problem again with the 9 repeating entries. The same happens in the popular and trending lists under 'Discover Movies' by the way.

Now

[2021-01-04 21:49] Sparky7420 commented on #327
I, too am facing the same issue. I have even reset seren and reauthorized trakt. It is hit or miss if it works. Same set up, lea, seren 2.0.9

[2021-01-04 22:06] MrSpongeHead opened #334 "Unable to update or re-install Seren 2.0.9"
Error message:-

"The dependency on script.module.pycryptodome version 3.4.3 could not be satisfied"

[2021-01-04 22:18] somexone opened #335 "[BUG] Movie title searches are in French?"
Hi there,

You can reproduce this error by going to search > search movies > new movie search

Ever since updating to Seren 2.0 all my movie searches have come up in French. For ex if I search Toy Story I'll get results for Histoire de jeouts. This appears for everything else as well.

I'm using macOS with Kodi 18.9 Leia. I haven't changed any language settings since updating. I will add I'm Canad

[2021-01-04 22:52] SupernovaDML opened #336 "[BUG] TV Shows That are Organized by Parts(Netflix) instead of Seasons in TVDB show an incorrect number of seasons."
You can replicate by searching for The Chilling Adventures of Sabrina both in Seren and in TVDB.

[2021-01-04 22:59] LoganWolverineX commented on #336
This isn't a bug by Seren.  This is the fault of how the files are named.  They should be following the naming based on Trakt/TVDB.  For those, you'll either have to watch it from My Files or rename them from PM cloud after it's cached in your PM cloud.

[2021-01-04 23:15] BinaryAssault opened #337 "[BUG] Invalid info dict passed to Kodi"
Running Kodi v18.9 on RPI4 using LibreELEC v9.2.6
Seren v2.0.8

Each time I try to open my TV Show collection I receive the following snippet:

[2021-01-05 00:22] henryjfry commented on #308
I think I have an idea of what is happening with the smart play only playing one episode automatically, but i havent been able to resolve it myself yet.

I think the issue is in player.py with the "self._keep_alive()" function.  It runs once when the player loads the first item in the playlist and this triggers the prescrape as it should and the playing next window.

However when the next file sta

[2021-01-05 00:39] streamindemons opened #338 "[BUG] Invalid PM account enabled causes scrape exceptions"
Using a 2017 shield, kodi 18.9, seren 2.0.9

First, I have my Smart Play popup set to play if nothing is selected and that does not happen.

Upon finish of an episode in Scrubs season 9, when I go to play the next episode the scraping window pops up briefly showing "starting engines" then fades away and gives me a seren error. This can be fixed by clearing local torrent cache, but is a very weird

[2021-01-05 00:45] #334 closed

[2021-01-05 00:46] MrSpongeHead commented on #334
I just needed to update Kodi.

[2021-01-05 00:56] xyzfre commented on #326
Same here it was working in 2.0.8 but now with the latest update also get an error when trying to open New TV shows section

[2021-01-05 01:07] XAT9393 commented on #296
Hey @nixgates don't know where else to contact you. Have been playing around with the add-on and tweaking it to run on matrix to see if I could run into some bugs.

Was trying to load the Most Popular from Shows and got this error. Don't know if it's because it's running on Matrix or something else

https://paste.kodi.tv/wipufasuje

[2021-01-05 01:30] henryjfry commented on #308
Ok I think I have found a fix, it seems that _keep_alive is triggered when the 1st playlist item is loaded but it then determines that there is no playing file and returns "_is_file_playing" as false. Adding in a delay in _playback_has_stopped to wait to see if a file is resolved first seems to work:

[code]

[2021-01-05 01:47] nixgates commented on #338
@streamindemons looks like your PM auth is dead, try re-authing.

I'll a notification so there is some feedback for this moving forward

[2021-01-05 02:00] streamindemons commented on #338
Yea i keep forgetting to disable that, had a trial lol. will send a new long with it disabled if the issue still happens

[2021-01-05 02:23] nixgates commented on #335
@somexone have you checked your language in Kodi?

Seren now translates meta data to match the current set language for Kodi so if you could check that setting and let me know 👍

[2021-01-05 02:25] nixgates commented on #281
It appears Trakt timeouts/disconnections are breaking some of the player features.

A workaround will be implemented but a full bodied fix will be required as well.

[2021-01-05 02:27] nixgates commented on #327
Please refer to issue #281

Closing as duplicate

[2021-01-05 02:27] #327 closed

[2021-01-05 02:27] somexone commented on #335
Hi Nix,

Yes I have checked. My Kodi language is set to US English and macOS is set to Canadian English.

I ended up downgrading to 1.6.9 and checked the same movies and I no longer have the issue. I've disabled updates until 2.0 has matured some more.

I do appreciate all that you do and am really loving Seren and can't wait until 2.0 has all the bugs worked out.

I have no idea why random movies

[2021-01-05 02:29] nixgates commented on #336
@SupernovaDML as Logan has mentioned this is a fault with the meta data coming from Trakt and not Seren.

I do intend to look at a way to maybe fix this in the future but it's a very technical job which may not be possible.

Closing bug

[2021-01-05 02:29] #336 closed

[2021-01-05 02:31] nixgates commented on #335
@somexone the old version of Seren did not attempt to translate the meta. It's a new feature in 2.0

If you wouldn't mind dropping me a log, using the old version of Seren is fine, I wouldn't mind just cross checking the language file Kodi is using so I can try and diagnose the issue 👍

[2021-01-05 02:34] nixgates commented on #325
@ruizitu looking at your log, it looks like your local torrent cache database is filling in the sources and Seren is pre-terming on it. Would you mind clearing your local torrent cache database and re-running the scrape with a log?

[2021-01-05 02:35] somexone commented on #335
Oh it's new. That explains it. Very odd tho how random titles are in French. Not even all of them just completely random.

I'd love to send you a log but I actually haven't had to give one yet so I am unsure how to generate one. I do apologize. Would I get that from Kodi itself or do I use Seren to get one?

[2021-01-05 02:36] nixgates commented on #308
@henryjfry each playback request needs to start it's own keep alive. Re-using the same class for each playback will cause more issues.

Can you confirm for me if the issue is present when playing not using TMDB helper?

[2021-01-05 02:39] nixgates commented on #315
@Adarma yep I can see what's happening in your log, there looks to be a new race condition created in the thread worker.

Will fix this up and have it out soon.

[2021-01-05 02:39] nixgates commented on #323
@Jim22223 no worries bud!

Good to see the RD fix is still working 👍

[2021-01-05 02:39] #323 closed

[2021-01-05 02:40] GoonerMagic opened #339 "[REQUEST]"
**Is your feature request related to a problem? Please describe.**
Preemptive Termination causes Seren to stop before higher quality links are found.
Eg. Found 5 4K, upto 20gb. Preemptive Termination (PT) (as per my settings, 5x4k links for Movies) halts search. If PT is turned off, it would find links 70GB+

**Describe the solution you'd like**
A minimum files size slider option in PT, separated

[2021-01-05 02:40] nixgates commented on #335
@somexone You can install an addon from the Kodi repository called log uploader.

That will give you a link to post here so I can view it :)

[2021-01-05 02:43] nixgates commented on #339
@GoonerMagic this is the design of PT.

If you really want to make sure you get all possible links, you should disable pre-termination. It's purpose is to be there for people who are not to fazed about the file size or other details. Pre-termination is a tool to say give me 1080/4k and give me x so I can be sure one works.

I'd rather not over complicate the feature as many people struggle with it

[2021-01-05 02:44] somexone commented on #335
Thank you @nixgates!

Just installed it.

Here is the link it gave me.

https://paste.kodi.tv/zutazotoli

Good luck!! It is definitely an interesting bug. I wish I could of given you a log before I downgraded tho. Hopefully this is helpful to you tho!

[2021-01-05 02:45] rpounds1986 opened #340 "[BUG] Smart play not working with Open Info/Meta"
First and foremost, great work on this update! It's nice to see a dev continue supporting and improving their work!!

Issue:

I use Open Info/Meta to add TV Shows and Movies to the library. Movies are working fine, but playing TV shows with Seren (Smart Play) just spins. If I switch to just Seren it works fine.

Steps to reproduce the behavior:
1. Go to TV shows
2. Click on TV show IE Game of Thro

[2021-01-05 02:48] GoonerMagic commented on #339
Damn. That's a shame!
Perhaps if that part was set to '0" by default, anyone confused wouldn't need to worry about it.

I saw someone asking for a minimum File size filter, which would also be useful, however if that was the only option, then older movies or hard to find shows would probably return no results, after filter.

Is there any way you would reconcider?

I'm not asking this to be done im

[2021-01-05 02:54] streamindemons commented on #338
That seems to have fixed it for now, will keep this open for a day or so and update if that fixed it for good

[2021-01-05 03:29] LoganWolverineX commented on #281
@nixgates i just encountered it not marking episode as watched after % watched. Because it doesn’t Mark it as watched, up next never updated so I had to manual sync trakt which takes some time. Hopefully it doesn’t happen often. And hopefully you’re able put in that workaround Sooner than later. It would be an annoyance if I am binging a show and it happens frequently.

[2021-01-05 03:32] StreamAntics commented on #281
yup same as the above, I thought the issue got resolved when I updated to 2.0.9 but seems to have started again after watching a couple of episodes on the most recent update, basically what I've found is if the smart play dialogue doesn't come up it won't mark the episode as watched.

[2021-01-05 03:35] LoganWolverineX commented on #281
Don’t think it’s related to that option. I use select source. I think it’s related to trakt disconnection but I don’t know if it is related to pausing/rewinding/fastforwarding. So far, when I don’t pause/rewind/fastforward it marks as watched fine after % watched. It might just be coincidence.

[2021-01-05 03:39] nixgates commented on #302
@SamDW96 can you please try clearing your cache and trying again. I've just checked on my end and can't replicate the problem any more. Not to be painful, but you're definitely on 2.0.9?

[2021-01-05 03:40] nixgates commented on #338
@streamindemons thanks for trying that, I'll add it to the list for the next update

[2021-01-05 03:41] StreamAntics commented on #281
I also use source select, but have the smart play option enabled and set to pause if nothing selected, if I select play it will scrape the next episode and allow me to select a link....on the occasions that the dialogue doesn't appear with 30 seconds remaining in the stream, it'll play to the end (not pause as it should) take me back to my next episode screen, and not update trakt, essentially tel

[2021-01-05 03:53] nixgates commented on #340
duplicate issue

Please refer to #308

[2021-01-05 03:53] #340 closed

[2021-01-05 03:59] streamindemons commented on #338
If I could add one around the same thing, having AD added with no auth gives multiple "failed to connect to AD" (something along those lines) during scraping, usually about 4

[2021-01-05 04:02] nixgates commented on #338
@streamindemons could you provide the log for that one, need to see where the errors are generated :)

[2021-01-05 04:04] nixgates commented on #312
This issue seems to be a duplicate of bug #280

Please refer here for updates!

[2021-01-05 04:04] #312 closed

[2021-01-05 04:05] nixgates commented on #321
@cgcgcgcgcg hey mate, just consolidating some of these tickets

Please refer to #280 for further updates :)

[2021-01-05 04:05] #321 closed

[2021-01-05 04:09] nixgates commented on #326
Hey guys, this is a duplicate ticket, please refer to bug  #273

[2021-01-05 04:09] #326 closed

[2021-01-05 04:14] nixgates commented on #324
@MartinB1957 you can raise a new issue by heading the issues list:

https://github.com/nixgates/plugin.video.seren/issues

Then click the new issue button in the top right hand corner :+1:

[2021-01-05 04:21] streamindemons commented on #338
@nixgates https://paste.kodi.tv/rifazowaci

there you go, exact words are "seems to basically be the same issue as the PM one, scraping stops after hitting ok on the popup

[2021-01-05 04:38] 5ilv3r5urf3r commented on #251
2.0.9. Turned off pre-emptive termination so cloud sources can be found. It works great on some shows and then not at all on others.

[2021-01-05 04:44] cgcgcgcgcg commented on #321
Thanks, a reminder that in v2.0.9 it still gives an error after authorizing Seren.

[2021-01-05 05:06] LoganWolverineX commented on #281
@nixgates I think i found some new details maybe can help you pinpoint the issue.

Replication steps:
1.  Binge watch any tv series that has at least a few unwatched episodes.
2.  scrape and watch the first unwatched episode normally
3. after watching % watched, it will get marked as watched like normally would
4. "playing next" will then pop-up X secs before episode ends like normal
5. next episo

[2021-01-05 05:41] nixgates commented on #315
@Adarma this should be fixed in the next update 👍

[2021-01-05 06:18] nixgates commented on #292
I'm closing this issue as I've not heard back from yourself @sheen73

If you feel this is in error, please re-open the ticket :+1:

[2021-01-05 06:18] #292 closed

[2021-01-05 06:28] Dealz-416LS commented on #328
@jweinreich

It’s strange, If I turn off scrobbling in Seren there is zero communication (check in) with Trakt during playback, the show/movie isn’t even marked as watched.

The only way for me to make it work (Resumes, Marked as watched & Rating) is to have Scrobbling turned on for both Seren and the Trakt add-on but iirc @nixgates said in a Reddit post having them both on isn’t  recommended but

[2021-01-05 07:34] neogeo71 commented on #302
I am on 2.0.9 and can reproduce this issue too. Cleared cache, deauthorize/reauthorized trakt, cleared seren cache, rebuilt tract database etc. Still have the issue...

[2021-01-05 08:23] nixgates commented on #321
@cgcgcgcgcg yep all good, I'm consolidating a few more bugs into the next update rather than pushing out heaps of small ones,

But I was able to reproduce this issue and have a fix that should solve it 100%

[2021-01-05 08:33] SamDW96 commented on #302
Yes, version 2.0.9. Issue still present after clearing cache. I also tried the other things mentioned above (re-auth, rebuilding database, ...), but to no avail.

[2021-01-05 10:04] ruizitu commented on #325
@nixgates tried that but no luck, here's the [log](https://paste.kodi.tv/cufafevoye)

[2021-01-05 10:28] jweinreich commented on #328
Sorry I wasn't accurate, I had disabled seren trakt scrobling and was
manually marking content as watched using the trakt addon.
I don't expect the trakt addon to scroble web content that is not in your
library, but I may be wrong here, with lack of documentation and poorly
explained menus we just have to trial and error.

For now I will disable trakt addon completely and watch how seren behaves.

[2021-01-05 10:44] StreamAntics commented on #281
Had quite a few error pop ups today so grabbed another log for you to look at, I'm not sure if I'm showing you the same thing each time (these logs don't mean allot to me) so let me know if I'm wasting your time with these logs @nixgates
https://paste.ubuntu.com/p/MgrdrXbPH5/

[2021-01-05 10:45] inb4after opened #341 "[BUG] Implement error skipping if a debrid service is down"
When a single debrid service is down, scraping will return an error and content will be unwatchable. However, other debrid services may still be working and scraping can be done on those instead, while skipping the dead service.

For example, PM is currently down and scraping results in an error. Disabling PM in settings fixes this and allows scraping to start, using RD/AD. If the error was automa

[2021-01-05 10:45] henryjfry commented on #308
Ok so ive reinstalled version 2.0.9 so it doesnt have any extraneous modifications and reapplied the following:

/plugin.video.seren/resources/lib/modules/router.py
`    elif action == "getSources" or action == "smartPlay":`

/plugin.video.seren/resources/lib/modules/player.py
[code]

And playing via tmdbhelper, smart play now works correctly.

I then went into seren and played the same few episod

[2021-01-05 10:47] nixgates commented on #341
Its actually already in the pipeline for a seperate bug. Will be available next update. Apologies for this.

[2021-01-05 10:48] inb4after commented on #341
Glad to hear, thanks in advance! 👍

[2021-01-05 10:50] henryjfry commented on #308
Although I did get an error when I manually went searching for the show in seren with the resume point:

`
2021-01-05 10:31:00.037 T:2358530272   ERROR: SEREN: Failed to receive JSON from Trakt response - response: <Response [401]> - error - No JSON object could be decoded
2021-01-05 10:31:00.085 T:2358530272   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the

[2021-01-05 10:54] nixgates commented on #281
@StreamAntics logs are always good bud!

Always feel free to throw them up lol

[2021-01-05 11:00] nixgates commented on #339
@GoonerMagic ha, why not lol.

[2021-01-05 11:27] StreamAntics commented on #300
For anyone else that's been having issues with episode torrents not scraping with Orion inside of Seren 2.0, I have had confirmation from Orion that an update has been put in place (I've tested and now working as normal) so If you are currently having that issue please update to Orion provider version 4.1.0 and that should resolve your issues

[2021-01-05 12:25] Dealz-416LS commented on #328
@jweinreich  no worries, thanks for clarification. Before 2.0 the Trakt add-on handled everything from Seren just fine Resumes (Check ins), Auto marking as watched etc now from my experience it doesn’t do anything unless Seren scrobbling is checked which is odd as it did it all fine before Seren got that option.

[2021-01-05 12:43] sathish804 commented on #301
@nixgates please consider this feature request for adding in Seren

[2021-01-05 13:06] Christhebaker opened #342 "Preemptive termination for autoplay only?"
Is there a way to turn on preemptive termination for auto play only? It works 90% of the time but when I source select I want to see all the sources.

Thanks.

[2021-01-05 13:06] #342 closed

[2021-01-05 13:19] GoonerMagic commented on #339
That's amazing! I really appreciate the change of heart, and I will patiently wait for whenever you have time to implement.

Cheers

[2021-01-05 13:59] hockeymachine86 opened #343 "[BUG] Seren fails to play next up episode"
2021-01-04 21:44:29.097 T:10178   ERROR: SEREN: ^(?:shameless)+(?:2011 )? ?(?:s0?2e0?2(?: |e\d\d?)|season\ 0?2\ episode\ 0?2)+
2021-01-04 21:44:40.578 T:10221   ERROR: Previous line repeats 2 times.

**Describe the bug**
Watching a tv show using Seren where it scrapes and finds a cloud (RD) source and the episode is almost over and I click play from the NextUp popup and it errored out with Seren a

[2021-01-05 14:32] iscriptu opened #344 "[REQUEST] Show information when you click on TV show items"
Hi,

I've wanted Seren to show the TV show information when clicking on a TV show instead of showing me seasons/episodes view, like it does with widgets since last year but was told that it was impossible at the time. I know that you've already added this for episodes and movies in Seren 2.0 but it would be really awesome if you could also do it for TV shows. I hope you agree.

Thanks for reading

[2021-01-05 14:33] JDSport opened #345 "TV Collection not showing when trakt pagination unticked [BUG]"
**Describe the bug**
TV Collection fails to show if paginate trakt collection is unticked
TV Collection fails to show if paginate trakt collection is ticked and number of items per page is set high - ie. 50 - 100
TV Collection shows if paginate trakt collection is ticked and number of items is 20-35.
TV Watchlist fails to show no matter what settings are used

**To Reproduce**
Steps to reproduce t

[2021-01-05 14:43] iscriptu commented on #282
I see, I hope that they do that then. Might have to pay a visit go their GitHub.

In regards to adding a setting that makes episode item using tv show/season artwork, like pre 2.0, will you consider it or something similar?

Also, I really think you should check to see if Finish Watching (movies) is working correctly because even after I removed playback progress via Trakt Manager, they remained o

[2021-01-05 15:54] xyzfre commented on #310
Been playing around a lot with 2.0.9 and so far besides this glitch on my end with my watchlist shows￼ seasons being marked off as watched it is working amazingly great lots of respect for your work my friend Seren is a legend ￼￼

[2021-01-05 17:04] biscuitgod commented on #307
I replicated this on my PC - brand new install from scratch.

Only seren changes I made were (aside from adding provider -a4kscrapers- Trakt and Real Debrid accounts):
1.  In settings, under Scraping > Terminate on... - Changed to Hosters Only
2.  In Settings, under Sort & Filter > Source grouping style - Changed to No Grouping
3.  In Settings, under Playback > Movie & Episode Play Style - Changed

[2021-01-05 17:06] biscuitgod commented on #307
With the release of 2.0.9, I am now getting a error - No playable sources found for item.   I was getting no error prior.

[2021-01-05 19:05] jonypaulo commented on #277
I did autorize all of them already 8 times.
Every single time it ends up to reset the setting of the app and i have to authorize everything again...
Before this updates it was working perfectly :(

[2021-01-05 19:14] jonypaulo commented on #277
And now after i uninstalled and installed again i can't even put the accounts.
Everytime i confirm any of them gives error

[2021-01-05 19:39] Billybairn62 opened #346 "Billybairn62"

[2021-01-05 19:43] Billybairn62 commented on #346
Hi,

Using Seren 2.0.9, on Kodi 18.8

Since the update, I am unable to get new shows. When I search for a show, the title is returned, but no seasons/episodes are shown.

However, Trakt shows in my "Next Up" section all play as normal, with no issues.

Movies seem to be ok.

[2021-01-05 20:25] lowersublobia opened #347 "Watch progress gets stuck after first pause"
**Describe the bug*
Watch progress is getting stuck if you pause the video that is being played

**To Reproduce**
Steps to reproduce the behavior:
1. Start Video
2. Pause any time
3. Finish video

**Expected behavior**
A check mark indicating a watched episode should appear next to title of episode , but instead the “partially watched” icon displays beside episode. When episode is selected , it as

[2021-01-05 20:38] gio2490 opened #348 "[BUG] Trakt not Authorizing"
**Describe the bug**
I decided to re-install Seren and now I am unable to authorize Trakt. I get a successful message that it has been auth, but when clicking ok I then get an error to check the log.

**To Reproduce**
Steps to reproduce the behavior:
1. Seren
2.Settings
3.Providers
4.Auth Trakt
5. Go through auth on web browser
6. Successful message
7. Ok

**Expected behavior**
Trakt should author

[2021-01-05 21:35] nixgates commented on #293
@Maximus97 @peno64 @greenmr

This has been addressed and will be in the next update, just a slight shuffle of text position so the source file name is much longer now

[2021-01-05 21:37] nixgates commented on #306
@peno64 Please refer to bug #293

Closing duplicate

[2021-01-05 21:37] #306 closed

[2021-01-05 21:39] nixgates commented on #307
@biscuitgod looks like the head request to the file is timing out. I will try those files myself and get back to you.

That head request is a further insurance to make sure the file is alive but it could be timing out to quickly.

[2021-01-05 21:41] nixgates commented on #309
Hey @patel-jeel92 haven't heard back so I'm closing the incident off.

If you do get a chance to get me a log please feel free to re-open this issue

[2021-01-05 21:41] #309 closed

[2021-01-05 21:43] nixgates commented on #282
@iscriptu hey bud, I'm just going to close this off as a duplicate as the other ticket has a lot more information available.

Please check back to bug #310 to check for progress :)

[2021-01-05 21:43] #282 closed

[2021-01-05 21:45] nixgates commented on #324
@Navios92 I'm removing this feature in 2.0 on the next update, it unfortunately conflicts to much with the kodi settings and will only cause more headaches down the line.

[2021-01-05 21:48] nixgates commented on #325
@ruizitu would you mind letting me know your pre-termination setting values?

[2021-01-05 21:56] nixgates commented on #328
1) Looks like there was a lot of connection issues to trakt yesterday. There's a few workarounds going into Seren to make sure they don't break other parts but I can't fix Trakt API not responding properly. There was a lot of time outs from some users yesterday and 502 (server errors) I'm hoping these will pass.

Please see bug #281

2) Same issue as 1

3) Same issue as 1

4) Funnily enough, same

[2021-01-05 21:58] nixgates commented on #328
I'm closing this off, @ShibajiCh as most of it is just duplicates of the above mentioned references.

If you want, please feel free to raise separate issues for 5) and 6)

[2021-01-05 21:58] #328 closed

[2021-01-05 21:59] nixgates commented on #329
Please reference #308

Closing duplicate

[2021-01-05 21:59] #329 closed

[2021-01-05 22:01] nixgates commented on #344
@iscriptu this is being removed because as I did suspect last year, it's just to hard to implement. Unfortunately it conflicts with the kodi setting to much and causes lock ups.

Please see bug #324

[2021-01-05 22:01] #344 closed

[2021-01-05 22:01] ruizitu commented on #325
You are a legend! I honestly do not know how I managed to enable that! I always had it off, but I probably messed up somehow as I don't think this was caused by the update. It was set on 1 with pre-termination on. Please accept my apologies.

[2021-01-05 22:02] nixgates commented on #341
@inb4after please reference bug #338 for further information 👍

closed as duplicate

[2021-01-05 22:02] #341 closed

[2021-01-05 22:08] nixgates commented on #346
@Billybairn62 I'm really not sure what you mean here, is there any errors?

Are you saying you are unable to browse a show?

[2021-01-05 22:09] nixgates commented on #347
Please refer to bug #281

With any luck, this should be resolved after the next update

Closing duplicate

[2021-01-05 22:09] #347 closed

[2021-01-05 22:21] nixgates commented on #348
@gio2490 howdy, something is really, really wrong with your TraktSync Database and your skins database. Some how they have both lost tables.

You might need to remove the files manually to continue, a rebuild will only error out. If you're unable to browse the files on your TV to delete the files, you can do a full wipe of your Seren install.

I'm hesitant to tell you to do a full wipe as it doesn

[2021-01-05 22:26] nixgates commented on #325
@ruizitu no worries, I'll increase some logging in Seren to help me identify this issue in the future! We still win!

[2021-01-05 22:26] #325 closed

[2021-01-05 22:31] gio2490 commented on #348
Thanks for looking into this!

I have done a wipe of Seren and that’s when the Trakt issue started for me. On an other TV running on an Amazon Fire TV with no skin was having the same issue.

Seems like a few others are also reporting on Reddit https://reddit.com/r/Addons4Kodi/comments/kr5yy9/seren_playback_failed/

I’ll try and do a clean install and report back in the morning.

[2021-01-05 22:39] Navios92 commented on #324
Yeah it seems easier to just leave it handled by Kodi.

[2021-01-05 23:27] SerpentDrago commented on #324
why ? why is having the option a problem ? people obviously shouldn't use seren's setting to info if they already have kodi global on info .

the whole reason for this feature is to be able to keep kodi default to play , and ONLY use info as default for seren items . Combined with some skins ability to set the default action for home widgets / hubs . makes the perfect setup .

Obviously if someone

[2021-01-05 23:46] SerpentDrago commented on #24
yeh prob just would simply need a provider pack to provide eznews

[2021-01-06 00:26] nixgates commented on #324
@SerpentDrago I'm not saying 100% this is an indefinite removal.

To get this working, we need to set up JSON Rpc requests to check settings of kodi to confirm what the current setting is so we don't get lock ups for users who accidentally do both. There's unfortunayely just not enough time free time write that module up to do that at the moment.

The easiest workaround for now is to disable it to

[2021-01-06 01:13] rezpower opened #349 "[REQUEST] Seren will only list cached results?"
Maybe I have missed a setting and my Seren is not correctly configured [In this case please let me know what to do]

Seren is the best and normally I should be using ONLY seren! But for only one reason I am using other add-ons and I wish seren would also behave like them:
When I search for a movie, seren gives me results from cached content on my Premiumize account. So if there is any cashed versi

[2021-01-06 01:50] oNeXuSo commented on #346
Hi
I'm having the same issue in trying to find new TV shows (Seren - Discover TV shows - New TV Shows) since update to 2.0.9, (Kodi version 18.9)

It gives an error and to check the log. I've attached this part of the log if it can help identify why this is happening.

Appreciate you are busy with more pressing issues however hope this helps when / if you manage to get some time to investigate.

[

[2021-01-06 02:00] LoganWolverineX commented on #349
in the result screen, there's an option for you to view the uncached results ones. it's below the "play" button on the right side of the screen.

[2021-01-06 02:18] nixgates commented on #349
@rezpower as Logan pointed out, its in the source select screen :)

Closing off, request already fulfilled.

[2021-01-06 02:18] #349 closed

[2021-01-06 02:49] G-streamer opened #350 "Small adjustment request"
Hate to complain, but I keep getting a pop up warning for "Unknown error connecting to trakt" which I assume is because I am not synced to a trakt account. I prefer to use Seren without trakt as I have no interest in maintaining a trakt library. I only use the Kodi library which is all I need. Is there any way to stop this popup?

[2021-01-06 04:15] nixgates commented on #350
@G-streamer this is not due to you not having a Trakt account unfortunately. This is Seren letting you know that there was a failure to fetch information from Trakt, this could be information about a show, movie, episode or list. It's essentially feedback from Seren to say hey, somethings gone wrong and it's out of my control.

What I can do is instead of an ok dialog, I will make this a notificat

[2021-01-06 05:59] nixgates commented on #346
@oNeXuSo please refer to #273 for your issue, I'm not entirely sure this is the same

[2021-01-06 06:01] nixgates commented on #308
@henryjfry ok I've been able to recreate the issue and I've got a fix ready that's in the next update. Will be pushing one today so not long.

[2021-01-06 06:02] nixgates commented on #281
Same issue as #308

Both should be resolved in the next update

[2021-01-06 06:06] LoganWolverineX commented on #281
@nixgates thanks again!!!  you're squashing a lot of these bugs so quickly :) 🥇

[2021-01-06 06:59] nixgates commented on #350
The change I mentioned should now be available in 2.0.10

[2021-01-06 06:59] nixgates commented on #338
@streamindemons this should be fixed now in 2.0.10

Could you please confirm for me 👍

[2021-01-06 07:00] nixgates commented on #324
Closing issue after release of 2.0.10

[2021-01-06 07:00] #324 closed

[2021-01-06 07:01] nixgates commented on #315
@Adarma the issue should hopefully be resolved now in 2.0.10, if you wouldn't mind confirming?

[2021-01-06 07:02] nixgates commented on #308
@henryjfry update is now released, could you please check and confirm with 2.0.10

[2021-01-06 07:03] nixgates commented on #293
@peno64  @Maximus97 @greenmr I've released the update, could you please check and confirm you're happy with the changes?

[2021-01-06 07:04] nixgates commented on #281
@LoganWolverineX haha need to get them out of the way

The issue should be resolved now in 2.0.10 👍

[2021-01-06 07:04] nixgates commented on #280
@beatlesdbp this issue is now resolved in 2.0.10 👍

[2021-01-06 07:05] nixgates commented on #273
@kodi-lover this issue should now be resolved in 2.0.1, could you please confirm?

[2021-01-06 07:30] dreulavelle opened #352 "[REQUEST] Seren doesn't search IMDb to grab correct Season lists"
So Seren searches other websites for metadata such as Season lists. After looking into this a little bit I've noticed it doesn't display the correct amount of Seasons on some shows. For example when looking up "Chilling Adventures of Sabrina" it only displays the 2 seasons (as shown on TMDb/TVDb and others). However I've found that IMDb displays the correct amount of seasons.

**Describe the solut

[2021-01-06 07:31] djdirty60 commented on #273
![16099181288967735515834848837594](https://user-images.githubusercontent.com/13561831/103741397-45b6f000-4ff9-11eb-962c-2df7ef35f64e.jpg)

unfortunately I only see 2 new series in the list.  assume that there should be with it and I only see the Dutch, not the English series

[2021-01-06 07:47] StreamAntics commented on #281
Hey @nixgates have updated to 2.0.10 and have run through a couple of episodes, so far smart play is now working as it should, and my next up is being updated as well perfect!!! and here comes the not so good part (sorry) I noticed that the data doesn't show during the scraping process anymore, and the time remaining before smart play action no longer shows, I've attached some images, hopefully th

[2021-01-06 07:47] Billybairn62 commented on #346
Hi,

Sorry I wasn't very clear, not very technically inclined! :-)

Since the 2.0.9 update, if I go into Seren, select "Discover TV Shows" then select "Search" and type in the name of a TV show, then "OK", the results show that show (and alternatives). However, If I then select the show I want, it doesn't show any seasons or episodes, I simply get the screen with two dots on it, as if there are no

[2021-01-06 08:01] nixgates commented on #352
@dreulavelle howdy!

Yea it was raised as an option not long ago. While its not currently being worked on, a few changes to the IMDB site made this a viable and speedy option.

I'll leave this open as adding IMDb as a meta provider is definetely on the cards :)

[2021-01-06 08:02] nixgates commented on #281
@StreamAntics hmm looks like an issue with the text highlight colour. Can you try set that to something and I'll quickly check it on my end.

[2021-01-06 08:11] StreamAntics commented on #281
reset everything to default, and seem to have appeared (strange because I haven't changed anything) but that's all good seems to be fine after doing that....will keep testing and let you know if anything comes up...Thanks @nixgates you're a legend mate!!!

[2021-01-06 08:16] nixgates commented on #281
@StreamAntics bother I should have asked what it was on so I know where the issue was. Next time it crops up I'll catch it lol

Alright closing this off!

[2021-01-06 08:16] #281 closed

[2021-01-06 08:39] nixgates commented on #273
@djdirty60 if you haven't, maybe try clearing your cache and retrying? May not make a difference but best to try.

If not, could you maybe drop me a log?

[2021-01-06 08:50] Navios92 opened #353 "[REQUEST] Play local library files"
This was requested a few times on reddit, so I figured I'd post it here for easier tracking.

**Describe the solution you'd like**
If the movie or episode was already available in the local library, Seren could either directly play it without scraping online sources. Or scrape it first and show it on the top of Source Select menu, with an option in Settings to terminate if local sources found.

It

[2021-01-06 08:54] djdirty60 commented on #273
where can I find that log?

[2021-01-06 08:54] Navios92 opened #354 "[BUG] Next page showing in Next Up (Non-paged menu)"
So, the option to paginate trakt lists doesn't seem to affect Next Up list. This has always been the case and I personally prefer it that way. However, Next Item is still shown in the Next Up list, which seems unnecessary.

[2021-01-06 09:02] henryjfry commented on #308
Ok I can confirm that the smart play, next up screen and prescrape now works for multiple episodes on version 2.0.10.

However I still needed to add:

/plugin.video.seren/resources/lib/modules/router.py
elif action == "getSources" or action == "smartPlay":

Before the smartplay url would actually play.

[2021-01-06 09:06] Navios92 opened #355 "[BUG] Items disappearing from Finish Watching movies list"
I'm not sure how to properly capture a log for this issue. Movies sometimes randomly disappear from the Finish Watching list. Restarting Kodi or simply playing a movie can trigger this.

I can confirm it's not a trakt problem as when I check [here](https://sharkykh.github.io/tppm/), I can see all the movies with correct resume points.

[2021-01-06 09:25] MagicFirefly opened #356 "[BUG] Hide watched setting hides unwatched items"
Version 2.0.10 and prior...
The below occurs when Hide Watched is enabled in settings. When Hide Watched is disabled, the episodes display.

My Shows > Watchlist > select a show > No episodes displayed (only two dots shown)
Discover Shows > Trending > select a show > No episodes displayed (only two dots shown)

Log: [https://paste.kodi.tv/vezodafema](https://paste.kodi.tv/vezodafema)

[2021-01-06 09:25] nixgates commented on #354
Ah ok, in regards to the next option, thanuflly it's a minor issue and will be easy to fix it up. Expect it next update.

For the paginated lists, I think it might help to change the setting to user lists as I believe thats what it covers of the top of my head. Will need to investigate further to be sure.

[2021-01-06 09:27] dreulavelle commented on #352
Perfect! Thank you so much!

On Wed, Jan 6, 2021 at 12:01 AM nixgates <notifications@github.com> wrote:

[2021-01-06 09:33] nixgates commented on #356
@MagicFirefly i know it sounds silly to ask, but are the episodes marked as watched when you have hide watched disabled?

Have you watched the episodes before?

[2021-01-06 09:42] MagicFirefly commented on #356
With Hide Watched disabled, the episodes do not appear as watched. The episodes have never been watched.

[2021-01-06 09:43] Navios92 commented on #354
I just noticed that Recently Watched shows list has the same problem. No pagination but Next Item shows up anyway.

I checked all lists and I can see that Paginate Trakt List option affects everything except for Next Up, Recently Watched shows and Collection (which already has its separate setting).

Thank you for your dedication and keep up the great work :)

[2021-01-06 09:43] nixgates commented on #273
@djdirty60 hmm seems like we've found another issue in the dateutil addon. Will need to try and find a workaround.

[2021-01-06 09:47] djdirty60 opened #357 "[BUG]"
**Describe the bug**
series remain empty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'TV-Series
2. Click on 'does not matter'
3. Scroll down to 'does not matter'
4. See error

**Expected behavior**
every series I click on remains empty, no episodes or seasons appear.

**Screenshots**
![1609926177008199805792912763084](https://user-images.githubusercontent.com/13561831/103753960-fc2

[2021-01-06 09:49] Navios92 commented on #308
@henryjfry If this is completely fixed, is there any chance you could update [OpenPlayers](https://github.com/a4k-openproject/json.openplayers)?

[2021-01-06 09:58] nixgates commented on #356
@MagicFirefly all good, thanks for the info :)

Will get it fixed up soon!

[2021-01-06 10:04] nixgates commented on #357
@djdirty60 can you check if you have the hide watched setting enabled in Seren's settings (note, not the kodi one)

This was just identified by another user, just want to confirm if it's the same

[2021-01-06 10:06] Navios92 commented on #355
There is another problem with Finish Watching. It doesn't seem to be working across different devices. Movies just restart from the beginning or get the resume point from the device itself, not trakt.

[2021-01-06 10:07] #145 closed

[2021-01-06 10:07] nixgates commented on #82
Added in 2.0

Closing

[2021-01-06 10:07] #82 closed

[2021-01-06 10:08] inb4after opened #358 "[REQUEST] Reverse direction option(s) for Next Up sorting"
Currently, sorting Next Up by "Release Date" will place the latest show episode on the left end of a widget. For watching multiple shows in release order, the user will have to scroll fully to the right each time they open Kodi to find the oldest show (which needs to be watched first).

A reverse toggle or further options within the cycle list would ensure better customizability for the Next Up ro

[2021-01-06 10:10] nixgates commented on #162
Seren 2.0 allows hiding of watched items now.

Closing

[2021-01-06 10:10] #162 closed

[2021-01-06 10:13] #217 closed

[2021-01-06 10:13] #218 closed

[2021-01-06 10:16] nixgates commented on #235
Duplicate #156

[2021-01-06 10:16] #235 closed

[2021-01-06 10:16] nixgates commented on #234
Implemented in 2.0 closing it off :)

[2021-01-06 10:16] #234 closed

[2021-01-06 10:17] #236 closed

[2021-01-06 10:18] nixgates commented on #249
@ReaLx3m option available in 2.0

[2021-01-06 10:18] #249 closed

[2021-01-06 10:19] djdirty60 commented on #357
issue was indeed watched episodes setting, problem solved

[2021-01-06 10:20] nixgates commented on #225
Sorry this is not for the Seren project

[2021-01-06 10:20] #225 closed

[2021-01-06 10:24] nixgates commented on #238
Issue 1 was covered by vitorps comments and you second request was covered in 2,0 release.

Closing off :)

[2021-01-06 10:24] #238 closed

[2021-01-06 10:29] nixgates commented on #358
@inb4after might I suggest the following addon https://kodi.wiki/view/Add-on:Keymap_Editor

This will allow you to bind something like a long press to the "end" button which will skip to the end of the list. Or if you're on a PC, you can already do so by simply pressing the end button on your keybaord.

[2021-01-06 10:29] #358 closed

[2021-01-06 10:30] nixgates commented on #357
Thanks, closing off as duplicate - #356

[2021-01-06 10:30] #357 closed

[2021-01-06 10:50] henryjfry commented on #308
Its not a json player fix, purely seren.

[2021-01-06 11:12] nixgates commented on #308
@henryjfry the smart play option in tmdb helper, is that the episode resume from show option?

Otherwise, I think the smart play was the old playlist building method which is no longer present in 2.0, hence the dead player.

That won't be fixed if it's the case and should be updated to reflect that on the TMDB player files :)

[2021-01-06 11:13] nixgates commented on #308
Closing this issue off as the issue is fixed :)

[2021-01-06 11:13] #308 closed

[2021-01-06 11:16] henryjfry commented on #308
Ok thats fair enough, ill probably apply a manual fix in seren myself as its the Wako players which are difficult to update (they seem to be extremely cagey with their pastebin/bitly link for the player files).

The smart play option im referring to from tmdbhelper is:

"plugin://plugin.video.seren/?action=smartPlay&actionArgs=%7B%22episode%22%3A%20{episode}%2C%20%22item_type%22%3A%20%22episode%22

[2021-01-06 11:47] nixgates commented on #308
@henryjfry did find a bug with auto episode resume today but should be fixed by next update :)

[2021-01-06 11:49] Adarma commented on #315
Confirmed working :+1: :
Thanks!

[2021-01-06 12:00] inb4after commented on #358
I understand that it's an ultra-low priority request at the current time.

However, I believe it to be an important feature, for future consideration, for three further reasons:

- Depending on the skin used, the visual aesthetic is interrupted if the wanted item is on the far right. For example, in AuraMod, a preceding item is partially cut off when the last item is highlighted. It is also more a

[2021-01-06 12:21] GodsLikelyMe opened #359 "[ERRORS]"
Had a few errors pop up while watching movies, but they didn't interrupt the playback. But then I paused it for a bit and when I unpaused, kodi crashed.

Log
https://paste.ubuntu.com/p/CqPXVYhdTf/

[2021-01-06 13:21] minhgi opened #360 "[BUG]Seren 2.10 keep on asking for Trakt authentication even when said No"
**Describe the bug**
Using Kodi 18.9,  Titan Bingie Mod 1.09 skin setting, and Seren 2.10 for two different builds. One with trakt account and one without.  The one without keep on asking for Trakt authentication even when said No or reloading the skin.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

[2021-01-06 13:34] beatlesdbp commented on #280
Hey thanks for letting me know. I have now switched back to Seren!
David Prospect

    On Wednesday, January 6, 2021, 02:05:14 AM EST, nixgates <notifications@github.com> wrote:

@beatlesdbp this issue is now resolved in 2.0.10 👍

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-01-06 13:41] G-streamer commented on #350
Ah, I found it odd that it was happening with my Kodi just sitting idol an not using Seren. Thank you for your quick response and adjustment! Much appreciated as I know you are working your tail off chasing bugs. Careful you don't pull out ALL your hair. lol

[2021-01-06 13:42] sathish804 opened #361 "[REQUEST] Playlist Creation option for My Files items"
At the moment for the debrid cloud content from My Files section can only be played one at a time and there is no option of playing them one after the other like a play list.

Solution

When an item is played from the My Files, populate an option for the user to create playlist for other items from the same folder like episodes in a season to play one after the other. Integration of Smart play opt

[2021-01-06 13:58] cgcgcgcgcg commented on #321
@nixgates just installed v2.0.10, everything works as promised, thank you.

[2021-01-06 14:05] SerpentDrago commented on #282
The Trakt manager BUTTON in auramods Info screen , works perfectly fine and ONLY even shows up for SEREN items . it will not work or even SHOW UP on tmdb helper items . so i have no idea what your on about .

It never has , it never will , i know i helped develop the skin . Trakt manager button feature on netflix info in auramod is ONLY for seren items . period .  and it works fine there .

[2021-01-06 14:08] solojer commented on #302
Issue still occurs on 2.0.10.
![seren](https://user-images.githubusercontent.com/77061178/103777350-bd3b4e00-4ffe-11eb-85cb-14e6c3b7b71e.PNG)

[2021-01-06 14:41] JDSport commented on #345
This seems to have been resolved in version 2.0.10 thanks.

[2021-01-06 14:41] #345 closed

[2021-01-06 14:43] Nuklear92 commented on #293
@nixgates I've already checked with 2.0.10 and it looks worse now. The font size is huge.😫 Hence, this is with the Default Estuary Kodi Skin. I hope whenever you're working with the Seren UI you're basing it for the Default Kodi skin and not a third party skin.

![image](https://user-images.githubusercontent.com/76958541/103780653-448ac080-5003-11eb-863a-31ddb3ab08c5.png)

[2021-01-06 14:45] iscriptu commented on #282
It shows up on my "Recommendations" TMDBHelper widget and works. I know because I use it to add shows/movies from my "Recommendations" to my watchlist. This didn't work in Seren 2.0 though.

[2021-01-06 14:49] Maximus97 commented on #293
I have the same issue as @Nuklear92

[2021-01-06 14:51] Nuklear92 commented on #293
@Maximus97 @nixgates Good, so it's not only myself. I hope Nix gets a quick fix for this one, because now we can barely read half of the link names. 😢

[2021-01-06 14:55] SerpentDrago commented on #282
Exactly what exact path in tmdb helper does it show up . cause it absolutely shouldn't and if it did , or even ever worked when it did , that itself is the bug .

Trakt manager button DOESN"T work on non seren items , and shouldn't show , period .

I'd like to know the exact path in tmdb helper your  using  for that widget that supposedly shows it on info screen.

[2021-01-06 14:57] peno64 commented on #293
Indeed, I have this also. I thaught I had not yet the latest version and would have looked at it further this evening but this confirms it...

[2021-01-06 15:16] djdirty60 opened #362 "[BUG] upcoming episodes"
**Describe the bug**
https://paste.ubuntu.com/p/dnNxYtgh38/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'my tv shows
2. Click on 'upcoming episode
3. Scroll down to '....'
4. See error

**Expected behavior**
Do nothing

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Kodi Version (please complete the following information):**
 - Kodi Version 18.9
 -

[2021-01-06 15:19] streamindemons commented on #338
@nixgates fixed!

[2021-01-06 16:58] LoganWolverineX commented on #281
@nixgates I would like to also confirm this is now working perfectly. Nice work!!!

[2021-01-06 17:11] kodi-lover commented on #273
Yes working now, thanks Nix

[2021-01-06 17:14] deklica opened #363 "[BUG] no Trakt update"
**Describe the bug**
After episode watched, no Trakt update, episode is still have unwatched status...
After few minutes I get this error log on pics 1-4, and on pause I get error like on pic 5.

**Screenshots**
![IMG_20210106_033414](https://user-images.githubusercontent.com/29065519/103798375-e33a1000-5049-11eb-88d4-f1cdf46ffe93.jpg)
![IMG_20210106_033433](https://user-images.githubusercontent.c

[2021-01-06 17:31] minhgi commented on #363
Seren 2.10 is released,  It might fix the track sync issue.

[2021-01-06 17:32] oNeXuSo commented on #273
@nixgates  Just updated to 2.0.10 and this has resolved the issue with pulling new TV shows for me too. Just another reason why Seren is my no.1 addon and has been for years. I appreciate all your hard work and dedication to this project and if I could buy you a beer I certainly would!  Thanks Nix

[2021-01-06 17:52] xyzfre commented on #273
I can also confirm on my end New TV Shows are working again thank you for all your hard work Seren is AMAZING ,I notice with this last update A speed in increase￼ as well Seren seems a lot faster when it comes to opening menus etc..￼

[2021-01-06 18:05] ljransom opened #364 "[BUG] Text on link results screen is huge when using titan/binge skin"
**Describe the bug**
On the link results screen the text size for file names is very big. I've compared this to another skin which seems fine. The provided screenshots show the difference

**To Reproduce**
Steps to reproduce the behavior:
1. Select a show or movie and scrape for links using the titan/binge skin
2. Observe how big the text is

**Expected behavior**
Text should be in line with other

[2021-01-06 18:13] bthedorff opened #365 "[BUG] Xbox One Building Database"
**Describe the bug**
On Xbox One it will rebuild the Trakt database on start every time and every 20(?) minutes or so. If I click rebuild database from within the setting, it fails and gives an error. I can however force Trakt sync. I have a hunch it is failing to complete sync even though the notification goes away. When I open my Trakt collection, I only have 3 pages (22 total shows) when I shou

[2021-01-06 18:21] Billybairn62 commented on #346
Hi Nix,

Updated to 2.0.10 today, reset my settings to default and reauthorised RD and it's all working as normal again!

Thanks for all the hard work you've put into Seren, I'm so happy I can continue to use it!

[2021-01-06 18:21] #346 closed

[2021-01-06 18:35] Nuklear92 commented on #364
Original issue can be found in #293 we are awaiting for @nixgates to reply back. If you want you can delete this post and keep an eye on #293 until a fix is made.

[2021-01-06 19:24] 101ben1011 commented on #280
Hi Nixgates,

Just thought I would update you.
You closed my bug report as a likely dupe of this bug.

The latest update 2.0.10 has fixed the real debrid issue, and that is now working fine, so thanks.

The trakt issue is still present, and I am unable to authorise my trakt account on the xbox as it creates an error. Works fine on my android devices though.

Just thought I'd let you know, in case

[2021-01-06 19:39] McPoon commented on #365
I have the same issue on Xbox Series X.

[2021-01-06 20:17] sathish804 commented on #315
@nixgates Its working great now!!

[2021-01-06 20:28] xyzfre opened #366 "[BUG] my watchlist shows Seasons marked off as watched"
**Describe the bug**
Every show on my watchlist when clicking on a season all seasons show up Mark as watched
**To Reproduce**
Steps to reproduce the behavior:
1. Go to  My TV Shows
2. Click on Watchlist
3. Scroll to any TV Show on Watchlist ,,Season Cover will show no check mark but once you open a season all seasons have a check mark as watched

**Expected behavior*.  When I pick a show from my

[2021-01-06 20:29] xyzfre commented on #366
![91F1359F-213A-4174-90FA-98A957A41D90](https://user-images.githubusercontent.com/49699869/103817038-f4782200-5033-11eb-90fc-ebd1fb3b3091.jpeg)
Example shows on my watchlist

[2021-01-06 20:31] xyzfre commented on #366
![97B0A915-6334-4F8E-949A-5D6284E57E95](https://user-images.githubusercontent.com/49699869/103817073-04900180-5034-11eb-9cba-130af63cf31b.jpeg)
Example ,American horror story ,, once I open the season they show up like this and I haven’t started not one episode yet

[2021-01-06 20:34] xyzfre commented on #366
My apologies for opening another ticket I just felt like I explained myself a little better on this one and the first issue I opened was solve ,, so this is a totally different issue thank you for all your hard work my friend Seren is a legend

[2021-01-06 20:44] nixgates commented on #293
Bother, I must have left out the font size change. I'll change it again in the next update hold tight for me!

Sorry :(

[2021-01-06 20:45] nixgates commented on #282
@SerpentDrago its the auramod skin

[2021-01-06 20:48] nixgates commented on #350
@G-streamer haha thanks. I'm doing ok now, its slowing up so more hair on my head now lol.

Closing it up.

[2021-01-06 20:48] #350 closed

[2021-01-06 20:51] nixgates commented on #302
@solojer thank you for the image! I can see what you mean now, I had fixed it for lists > page item limit but it appears not for  less than.

Will have it for next update.

[2021-01-06 20:53] nixgates commented on #338
@streamindemons thanks bud!

Closing it off!

[2021-01-06 20:53] #338 closed

[2021-01-06 21:10] nixgates commented on #273
Alrighty! Closing it off :)

[2021-01-06 21:10] #273 closed

[2021-01-06 21:13] nixgates commented on #280
@101ben1011 hey bud, yea sorry about closing duplicates. They just make it really hard to diagnose and keep track otherwise.

In saying that, raise a new issue for your trakt auth issue and I'll have a look for you :)
(Can you please make sure to include a log for me! Thank you!)

[2021-01-06 21:14] nixgates commented on #315
@Adarma good to hear! Closing it off :)

[2021-01-06 21:14] #315 closed

[2021-01-06 21:15] nixgates commented on #363
@deklica as mentioned, this is likely fixed in 2.0.10, if you wouldn't mind double checking for me :)

[2021-01-06 21:16] nixgates commented on #361
Great idea! Once we are stable ill work on adding it in!

[2021-01-06 21:50] nixgates commented on #366
@xyzfre can I ask you try add 2 new shows to your watchlist? One from Serens trakt manager, one from the trakt website.

Then open your watchlist and check the results?

[2021-01-06 21:52] nixgates commented on #364
@Nuklear92 yea best to keep the one issue, if you wouldn't mind posting your images and text there wi the others can see it that would be great!

Seems an issue with some skins and not so much the default Seren addon.

Some custom themes may need to be created to support these themes as they look like they overwrite some default kodi fonts or ive messed up the fonts. Need to identify which.

[2021-01-06 21:57] Nuklear92 commented on #293
@nixgates no worries, I'm sure you'll fix it with the next one. Probably so many other bugs have been getting your head all over the place.😄 I'll keep an eye and give you a feedback once you push the next update out. 👍

[2021-01-06 21:58] ljransom commented on #293
As requested from the duplicate ticket I raised, here's my experience using my titan binge build. Very large text for the file names so you can't read most of it. On kodi 18.9, and this issue wasn't present pre Seren 2.0.
![IMG_20210106_172755](https://user-images.githubusercontent.com/76923908/103823531-2ad09400-506a-11eb-8993-a63f7e6b8d0a.jpg)

[2021-01-06 22:31] tomtomclub opened #367 "[BUG] Beckup to open wizard inc log"
Kodi 18.9 Android
Systeem shield pro
Addon: seren /dev/Nixgates
2.0.10
 Wen I  backup kodi  build  (open wizard) and install  build again  the ,
Seren ,addon in de build is gone. The  Log shows problem  Catch module name
https://paste.kodi.tv/kanavurabu

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help exp

[2021-01-06 22:33] 101ben1011 commented on #280
Hey, no need to apologise, its no problem at all. Makes sense to close dupes, just wanted to let you know there was still a gremlin. I know you've got a lot on as it is. I will open a new issue tomorrow with a new log, then if you get time, you could take a look.

[2021-01-06 22:39] inb4after commented on #358
@nixgates Sent you a message on discord, check it out when you can ☺

[2021-01-06 23:08] Nuklear92 opened #368 "[BUG] Saved Search History not loading"
**Describe the bug**
When having Search History Enabled, whenever you search for a movie title or tv show and then go back and click in one of the searched names you get a Seren Error (Check the log for more information.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Search...'
2. Click on 'Search Movies or any of the other options. Search for a title. Go back to Search... select the

[2021-01-07 00:30] #368 closed

[2021-01-07 01:19] xyzfre commented on #366
So I tried like you said added one show through Seren Trakt manager and one from Track website but still the same issue,

[2021-01-07 01:25] xyzfre commented on #366
https://user-images.githubusercontent.com/49699869/103839234-eee30200-505c-11eb-9257-2f7ac75980bf.MOV

And now I just notice every show that I tried in most popular ,,trending etc.. as you can see in the video when opening the season all seasons are marked as watch except for my shows that are in progress that I started watching those show up correct

[2021-01-07 01:29] xyzfre commented on #366
https://user-images.githubusercontent.com/49699869/103839537-9b24e880-505d-11eb-88a8-336c612c7602.MOV

For example Dexter is one of my shows in progress as you can see in the video it shows the correct amount of seasons that I haven’t watched ,,really appreciate you taking time to checking this out

[2021-01-07 01:43] xyzfre commented on #366
https://user-images.githubusercontent.com/49699869/103840422-8b0e0880-505f-11eb-88ea-171f15599a0a.MOV

I can confirm I just checked like 4 different shows that are in my next up and those definitely show the correct amount of seasons that I haven’t started watching , my apologies for the poor video quality

[2021-01-07 01:48] LoganWolverineX commented on #367
Yea this is the bug from #290 .  For now, you'll need to just re-install seren add-on over the add-on without uninstalling it after openwizard restores the build.  All settings are preserved.

[2021-01-07 02:49] deklica commented on #363
There is no update in repository, but I updated manually...
No error showing up, but still episode is marked like unwatched (in Next Up, when I click stop 30s before end), and no Smart play pop-up on the end of the episode (must show 60s before end)...

[2021-01-07 04:00] AshDroidG commented on #363
I can confirm this bug. Seems to be an issue with Seren either not storing trakt resume points or not using them. I believe a previous ticket created (#355 Items disappearing from Finish Watching movies list bug) is related to the same issue. Basically if I start watching a new movie and after 10 mins stop and check Finish Watching the movie is there however on Kodi restart the movie disappears fr

[2021-01-07 04:54] Bulletbling commented on #274
We absolutely need this! Most tv shows are 720/1080p so my pre emotive 4K setting never applies to tv shows. I’d do 1080 pre emotive for tv shows. Venom does this very well iirc.

[2021-01-07 04:56] Bulletbling commented on #355
I’ve had this issue too. Movies randomly disappear from finish watching list, but for me it’s usually after starting to play the movie and stopping it. The widget then no longer displays the movie and a Kodi restart fixes it. Don’t know if this is the OP issue as well though.

[2021-01-07 05:04] MagicFirefly commented on #293
Want to raise my hand on this as well. Linux CoreELEC, Kodi with 65" OLED display. Using the default Kodi Estuary skin with default font and zoom at 0%. After an item is scarped, the source select results do not allow a method to see the entire info line that may include info not shown elsewhere. Thanks

[2021-01-07 05:56] nixgates commented on #367
@tomtomclub howdy as Logan mentioned we do have a ticket open for this already so I'm going to close this as a duplicate.

I'm not entirely certain as of yet if this caused by Seren yet but it will get looked at eventually :)

[2021-01-07 05:56] #367 closed

[2021-01-07 05:59] nixgates commented on #366
@xyzfre all good, i think I get the idea.

So doesn't seem to be an issue of the Trakt watchlist but rather shows that don't have at least one watched item :)

[2021-01-07 06:01] nixgates commented on #365
@bthedorff yep, I cannot what's happening, the datetime module strikes again. Been a few from this release.

Theres a plan in place to completely remove the use of that addon and implement a different method that should clear all these up.

Hold tight, hopefully we get it going next update.

[2021-01-07 06:03] nixgates commented on #366
@xyzfre actually, this still seems to be a continuation of your last issue #310

I'm going to close this ticket off, let's stick to the same ticket if we can.

[2021-01-07 06:03] #366 closed

[2021-01-07 06:05] nixgates commented on #348
@gio2490 when you did the wipe, did you do it through Seren or a manual removal of the addon files?

[2021-01-07 06:07] nixgates commented on #296
@XAT9393 hey bud, if you are still having the issue on 2.0.10, can you please check the other tickets, if one doesn't match please raise a new one.

Your language pack is now and working so I'm gonna close this off :)

[2021-01-07 06:07] #296 closed

[2021-01-07 06:10] nixgates commented on #280
@101ben1011 think there might be a relevant issue already for that one, have a quick search for me before you raise a new ticket?

Closing this one off :)

[2021-01-07 06:10] #280 closed

[2021-01-07 06:19] nixgates commented on #360
@minhgi this isn't a bug so much as a new protection put in to prevent users expecting these widgets to work and not realising their trakt account is not set-up.

To stop the errors, you need to remove the widgets that point to Trakt account menus or authorise a trakt account in Seren on the device.

[2021-01-07 06:19] #360 closed

[2021-01-07 06:21] nixgates commented on #343
@hockeymachine86 the smartplay feature had this bug fixed in 2.0.10.

Can you please update and confirm its now working :)

[2021-01-07 07:41] Fatal-Errol commented on #363
This also happens to me but is inconsistent. Sometimes it works, sometimes no. Sometimes I can see the progress in trakt but after the video finishes, it doesn't get tagged as watched in trakt and seren. Using 2.10, clean seren install.

[2021-01-07 09:01] inb4after commented on #274
Seren already has separate resolution settings for movies vs TV shows, so you can use 4K for movies and 1080p for TV shows. My suggestion was for the minimum source count for each to be separate as well.

[2021-01-07 10:42] SirRickie commented on #293
Same here. I'm using the Estuary Mod skin. Cannot see the entire info line.

[2021-01-07 11:44] xyzfre commented on #366
Ok @nixgates Thank you for your response and all your hard work really appreciate you checking this issue￼

[2021-01-07 13:56] SerpentDrago opened #372 "[BUG] Unable to disable reuse Language Invoker"
https://old.reddit.com/r/Addons4Kodi/comments/krrwr1/up_next_widget_crashing/gicaa8v/\\

Even manually editing xml and setting to false , causes seren upon startup to just set it back to true . and the shortcut in settings does not disable it .

guy is having random crashes he needs to disable this . same as i have to do sometimes . This setting really really should NOT be enabled on windows imho

[2021-01-07 13:59] mtaki14 opened #373 "[BUG] Quick Resume fails"
**Describe the bug**

Right click > Quick Resume Show results in "Seren Error Check the log for more information"

The same error appears if I enable the "Force Auto Episode Resume" option.

**Expected behavior**
For Seren to pick up from the episode where it left off or start the following episode (depending on if the last watched episode was watched in its entirety)

**Kodi Version (please compl

[2021-01-07 14:00] SerpentDrago commented on #373
If you have resume show enabled in seren and just click on a show like normal , does it resume ?

or is it just the context menu > quick resume that just doesn't work , yet resuming still actually works ?

[2021-01-07 14:03] mtaki14 commented on #373
Neither works. Some more background, I only started using trakt with seren after version 2 was released.

[2021-01-07 14:04] SerpentDrago commented on #352
to better explain also .

the reason imdb was never used for meta info , even though it tends to be the most accurate and is what the scene uses for naming of files .  Is before now , there was NOT WAY / NO proper fast way to gather that meta info .  IMDB site had to be manually scraped and their was no api , this results in LOTS of data and is very slow .

Now a new method is been discovered and

[2021-01-07 14:08] SerpentDrago commented on #373
by default seren should just resume . it doesn't requre you to use the context menu .

make sure your trakt account is authed , and that seren has finished syncing .

[2021-01-07 14:09] mtaki14 commented on #373
Trakt is authed and works otherwise

[2021-01-07 14:11] SerpentDrago commented on #373
https://i.imgur.com/Cx2uYL2.png

insure that is enabled

[2021-01-07 14:15] mtaki14 commented on #373
![seren_playback_settings](https://user-images.githubusercontent.com/7987430/103902587-6a978a00-5103-11eb-9430-fff835bb34ec.png)

p/s
I assume the log file in the original post would be of some help

[2021-01-07 14:15] SerpentDrago commented on #373
ohh boy you have some OLD old addons and stuff installed

 plugin.video.exodusredux v2.0.3a installed
script.module.exodusredux v2.0.5 installed
script.module.lambdascrapers v2.0.0 installed

just some of them , i suggest you go though uninstall any old repos and addons you don't use , then go though your kodi addon dependency section and remove any orphaned entries .

then restart , make sure all

[2021-01-07 14:19] mtaki14 commented on #373
Dully noted.

This happens on another system as well that only has Fen installed alongside Seren so this most likely has something to do with the way Seren interacts with my Trakt account.

[2021-01-07 14:23] SerpentDrago commented on #373
is this just Episodes or movies also ?   does it ever prompt you to resume (popup that you want t resume or not )

i just tested on a movie , on windows 10 with latest seren , and it asked even though i had it on automatic , so at the very least that is broken . but it did resume correctly

[2021-01-07 14:24] mtaki14 commented on #373
Can't recall movies but for individual episodes it does ask me to resume from where it left off with a popup.

[2021-01-07 14:24] SerpentDrago commented on #373
And just tested on a episode , and it prompted and resumed when clicked .

[2021-01-07 14:26] SerpentDrago commented on #373
such as this notice the time stamp

https://i.imgur.com/akvpKGu.png

[2021-01-07 14:27] mtaki14 commented on #373
I can't even get into the season/ episode selection screens with auto resume enabled.

This is with the defaul skin

[2021-01-07 14:29] SerpentDrago commented on #373
OHHHH , one sec , change this >

![image](https://user-images.githubusercontent.com/21133858/103903963-9fd3b600-50ca-11eb-8a2b-e23d874bca1b.png)

UNCHECK force auto episode resume , this does NOT do what you think it does , it makes it so when you click a SHOW , it auto trys to resume the last EPISODE you played . IMHO it should be disasbled by default and causes nothing but proplems

@nixgates  c

[2021-01-07 14:29] mtaki14 commented on #373
That doesn't change anything, I already tried

[2021-01-07 14:30] SerpentDrago commented on #373
if your not getting to seasons , episodes , THAT setting is what controls that , TRust me .

what happens when you context menu a show and then "browse show / browse season "

if clicking a SHOW , just starts playback instead of bringing you to the seasons and then episodes , then this setting is absolutely the issue

[2021-01-07 14:32] mtaki14 commented on #373
I meant it doesn't change the fact that auto resume still doesn't work.

It takes me to the season select screen instead of resuming (when auto resume is enabled)

[2021-01-07 14:34] SerpentDrago commented on #373
good ok , then browse to the corrrect season , then the episode ,  and see if it resumes properly that episode .

you need to be clear when saying it doesn't change anything . The whole thing i'm testing is that if you disable auto show resume . and actually browse to the correct episode , if it will actually resume that episode .

[2021-01-07 14:35] mtaki14 commented on #373
Just to be clear. Is auto resume supposed to continue playback of the next episode of where you left off or does it only work if you left an episode in the middle?

[2021-01-07 14:37] SerpentDrago commented on #373
![image](https://user-images.githubusercontent.com/21133858/103904750-b2022400-50cb-11eb-9bd8-9752905c8258.png)

that is so when you click a SHOW , it instead of showing you seasons / episodes , it just starts playing back the next un watched episode in that series .

![image](https://user-images.githubusercontent.com/21133858/103904833-d1994c80-50cb-11eb-8e1c-6f905f664d64.png)

That allows you to

[2021-01-07 14:37] SerpentDrago commented on #373
@nixgates  This is a confusing mess lol

[2021-01-07 14:38] mtaki14 commented on #373
So in that auto force resume is exactly what I thought it was and is what is not working properly

[2021-01-07 14:39] mtaki14 commented on #373
So auto force resume and context menu > quick resume invoke the same function, correct?

[2021-01-07 14:40] SerpentDrago commented on #373
agian nothing is called auto force resume

do you mean  "force auto episode resume"  it is very important you be clear .

again this setting should do nothing more then just auto scrape / start playback of the next unwatched episode .

YES , "force auto episode resume"  IS quickresume , and quick resumes to the latest unwatched episode , aka netflix like function

[2021-01-07 14:40] mtaki14 commented on #373
Yes, sorry I meant that

[2021-01-07 14:42] SerpentDrago commented on #373
the question is , is it just the context menu that doesn't work , or does the actual function if set so in setting not work ,

aka what happens when you click a show (not a episode , not a movie ) and SHOW , and have "force auto episode resume" enabled .

[2021-01-07 14:43] mtaki14 commented on #373
Same error as mentioned in the op

[2021-01-07 14:44] SerpentDrago commented on #373
Thank you :) haha

and just to be clear if you disable "force auto episode resume"  everything works per typical addons , (you see seasons , then episodes ) and you can click a previous stoped episode and it resumes ?

sorry we were both prob confusing

[2021-01-07 14:44] mtaki14 commented on #373
Yes

[2021-01-07 14:45] SerpentDrago commented on #373
@nixgates

TLDR

Both Context menu "quick resume "  and seren's netflix like function  " "force auto episode resume" "  are broken and cause errors

[2021-01-07 14:45] Bulletbling commented on #274
This is what I meant as well. 😀

[2021-01-07 14:46] mtaki14 commented on #373
To be fair, the original report was refering to the quick resume functionality specifically until you brought regular resuming into the conversation.

But on the bright side now I have no qualms about what each function does lol

[2021-01-07 14:47] SerpentDrago commented on #373
Yeh i understand that .. it was the way you worded it

Expected behavior
For Seren to pick up from the episode where it left off.

pickup from where it left off implies you Resuming a bookmark , time stamp in the episode

at least how i read it

like i said , i prob made it more confusing , sorry

but the entire point was to see if the function worked from outside the context menu . and it was not

[2021-01-07 14:48] SerpentDrago commented on #373
Long story short , i need more coffee :) have a good day , sorry nix

[2021-01-07 14:49] mtaki14 commented on #373
For Seren to pick up from the episode where it left off.

Yeah, in retrospect this could have been worded in a much better way

[2021-01-07 14:51] SerpentDrago commented on #282
yeh i want to know the exact path of the tmdb helper widget , so i can replicate it , as every test i do , Trakt manager button does not show up on anything other then seren widgets , as it should be :)

[2021-01-07 14:51] mtaki14 commented on #373
I edited the original description to make it clearer

[2021-01-07 15:33] sathish804 commented on #343
Its working on 2.0.10 for me to play the episode from NextUp.

[2021-01-07 16:03] deklica commented on #363
Yes, randomly works or not... I deleted all dB files in addon directory, restarted, new database generated, and first time pop-up showed and watched mark works, but now, same like before, no pop-up and no tag as episode watched...

[2021-01-07 16:31] bthedorff commented on #365
@nixgates Thank you! Can't wait to try 2.0! Let me know if you need anything else done on the Xbox One, any logs or anything!

[2021-01-07 20:02] 123Venom commented on #372
Seems to toggle the setting fine in the addon.xml for me but the UI setting option does still claim **Enabled** when addon.xml did flip it to....
**<reuselanguageinvoker>false</reuselanguageinvoker>**
If one was to manually edit that I'd not remove that line, as you advised, the addon prob looks for it and just puts it back.  Better to edit it from **true** to **false**.  I think he's prob just be

[2021-01-07 20:52] nixgates commented on #373
@mtaki14 ah sorry for my delay, thankfully this is already fixed for the next update! Was identified just the other day by testers :)

[2021-01-07 20:58] mtaki14 commented on #373
Thanks, I'll report back after the next update

[2021-01-07 23:54] cartersball opened #376 "[BUG] Tertiary HEVC Sort Preference"
**Describe the bug**
HEVC sorting method is not working. In post versions with this option enabled HEVC files were sorted to the top of list for each respective resolution. In 2.0 versions the files are not sorted to the top of list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings>sort& filter
2. Click on:
Source grouping style set to resolution
Enable Secondary Filesize Sort

[2021-01-07 23:58] tayub94 opened #377 "Trakt lists repeating"
![8006E2FC-534E-4229-9969-39039E317CB1](https://user-images.githubusercontent.com/33628733/103958078-13fe7000-5144-11eb-9018-ce074545f67a.png)

So I’m unsure if this has already been logged but it seems whenever I load a trakt menu item to do with lists like trending show lists or popular show lists, it will loop the same 5 or 6 lists and no option for a second page

[2021-01-08 01:00] nixgates opened #378 "[BUG] No search results with not results raises exception"
**Describe the bug**
A search that returns no results raises an exception instead of failing gracefully

**To Reproduce**
Steps to reproduce the behavior:
1. Search shows for "2354234j534nk"

**Expected behavior**
should roll to an empty list gracefully

**Kodi Version (please complete the following information):**
 - Kodi Version 18.9
 - Version 2.0.10

[2021-01-08 01:31] jweinr opened #379 "[BUG] Trakt add-on issues with Seren playing first episode of TV- Show"
My setup for testing this:
De-authorized trakt from Seren.
De-authorized trakt from TMDBHelper add-on.
Authorized and fully enabled syncing and scrobling in Trakt Add-On 3.2.6

Testing Trakt add-on with Seren player I'm getting this:

Trakt Add-on scrobles correctly on startup/forward/end of any movie (library .strm, web) either invoked from home screen, widget, tmdbhelper, seren app.

Trakt Add-o

[2021-01-08 02:03] BinaryAssault commented on #337
Any workaround for this? It prevents any of my Trakt collections from loading at all.

[2021-01-08 03:21] nixgates commented on #376
Thanks I'll look into this

[2021-01-08 03:43] patel-jeel92 commented on #309
[kodi.log](https://github.com/nixgates/plugin.video.seren/files/5785088/kodi.log)
@nixgates I have attached the log here .

[2021-01-08 04:02] patel-jeel92 opened #380 "[BUG] TV shows won't play with the latest update 2.0.10"
**Describe the bug**
When attempting to play a tv show, the add-on just says Building list items, starting playback and doesn't proceed to play anything. It seems like it doesn't even scrape for anything. I am running kodi 18.9 on shield tv pro

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Discover TV Shows --> Trending
2. Click on The Mandalorian
3. See error. It should eventually s

[2021-01-08 04:03] ShibajiCh commented on #363
Hi,
Even I'm facing these exact same issues.

[2021-01-08 04:50] nixgates commented on #380
@patel-jeel92 please disable auto episode resume while we wait for the next update! Sorry it's been fixed and won't be long!

Duplicate of #373

[2021-01-08 04:50] #380 closed

[2021-01-08 06:03] LoganWolverineX opened #381 "[BUG] reuselanguageinvoker causes Kodi crash"
**Describe the bug**
Kodi crashes sometimes when trying to load widgets.  It's inconsistent when it crashes or doesn't crash, but I was able to grab a log when it crashed.  Hope it helps.

**To Reproduce**
Steps to reproduce the behavior:
1. Crashes after starting up kodi and widgets try to load

**Expected behavior**
Kodi should not crash.

Log:
[kodi1.log](https://github.com/nixgates/plugin.vide

[2021-01-08 08:43] nixgates commented on #381
This is unfortunately not a Seren issue and is in fact a Kodi issue. It's been brought to their attention a few times but they have still yet to do anything about it. It's caused by the language invoker feature of Kodi. You can disable it in the settings of Seren. Just press it once, there is currently an issue in Seren where after it's pressed the value of the status doesn't change in Seren, mino

[2021-01-08 08:45] nixgates commented on #364
Sorry should have closed this before, please refer to #293

[2021-01-08 08:45] #364 closed

[2021-01-08 08:47] nixgates commented on #365
@bthedorff fix has been found. Just need to work out a way to identify an xbox and then there will be a fix in the next update 👍

[2021-01-08 08:53] nixgates commented on #363
Looks like @deklica log snippet that it's a time out issue with Trakt. I'm looking into changing up our timeouts for Trakt so support some slower connections.

[2021-01-08 10:13] nixgates commented on #293
I've got another rendition coming through in next update if you guys wouldn't mind checking when released

[2021-01-08 10:19] SirRickie commented on #379
I have scrobbling issues too with Trakt-Seren : when starting a movie in Seren, there is no Trakt scrobbling anymore (no notifications during playback). When movie is finished, the screen for giving a quote isn't displayed neither. Strange enough, for TV shows, scrobbling works fine. The scrobbling for movies works fine in other addons.

[2021-01-08 10:28] SirRickie commented on #377
Same here.

[2021-01-08 10:32] #343 closed

[2021-01-08 11:09] Samgarr commented on #349
It would be nice to have option to display uncached content to result view. I propose adding two options:

- display uncached content on result view
- add option to sort by cached/uncached

[2021-01-08 12:21] Nuklear92 commented on #293
@nixgates Sure, I'll be waiting to give you a feedback as soon as I get the new update! 😃

[2021-01-08 13:57] patel-jeel92 commented on #380
Just read through #373. Will wait for the next update. But wanted to ask, in the next update will it be fixed so we can use it as it's intended (Resuming automatically when you click a show) or will it just be set to off by default.

[2021-01-08 15:30] H4wkeye1 opened #382 "[BUG] Episode is scrobbling correctly during play but doesn't get marked as watched on Trakt at the end."
This seem to be inconsistent. Sometimes it works, but mostly it doesn't. It started happening recently. Basically the episode or movie scrobble correctly during the play but at the end it doesn't get marked as watched on Trakt.

Using Seren 2.1.0 and Kodi 18.9 on Android TV.

I managed to take pics of some errors not sure if they are related.

https://i.imgur.com/36QTfFW.jpg
https://i.imgur.com/w9

[2021-01-08 15:50] djdirty60 opened #383 "[BUG] auto subtitle"
**Describe the bug**
Auto subtitle not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'movie/serie'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
the automatic subtitle download function does not work

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Kodi Version (please complete the following information):**
 -

[2021-01-08 15:51] #362 closed

[2021-01-08 15:51] djdirty60 commented on #362
Fix it

[2021-01-08 15:56] Wilson-Magic commented on #362
Don't act entitled. He would have fixed it when he got the chance if you didn't close it.

Remember, he doesn't owe you anything, stop acting like he or anybody related does.

[2021-01-08 16:00] djdirty60 commented on #362
I have found the problem, for me it is solved for now.  He can still solve the problem.  So don't really understand your problem.

[2021-01-08 16:33] djdirty60 opened #384 "[REQUEST] TMDB movie collections"
**Is your feature request related to a problem? Please describe.**
is it possible that there will be a film collection in it?  think that the films can also be loaded faster.  because there is a part in a movie folder

**Describe the solution you'd like**
a movie collection folder, as is the case in kodi's library if you have a movie with more parts

[2021-01-08 16:33] LoganWolverineX commented on #381
@nixgates thanks. I’ve just disabled it. Will update you if I encounter any other crashes.

[2021-01-08 19:06] jweinr commented on #379
What are you using for scrobling? Kodi trakt addon or seren's trakt function?
Make sure whatever you are using is correctly authored and configured.
The scrobling notification is part of the kodi trakt addon so look in there and make sure settings are correct.

For me the trakt addon works just fine for seren movies, but it bugs on tv series.

[2021-01-08 22:26] nixgates commented on #380
No its a solid fix :)

[2021-01-08 22:27] nixgates commented on #349
@Samgarr im sorry its really just one button press away on that screen and after its completed its added to the source select screen so you can select and play it so I won't be adding it to the general source list.

[2021-01-08 22:31] SirRickie commented on #379
Trakt 3.2.6 in Seren is authorized correctly. Scrobbling in Trakt is enabled for movies and shows. Result : no scrobbling for movies, scrobbling works fine for TV shows. It works both for movies and shows on other addons (Venom, Crew). I really don't get it and how to solve it.

[2021-01-09 09:31] JimiJoe commented on #373
Im having the same issues with a fairly new installation of kodi (approximately 4 months). The netflix style worked great until approximately 1 or 2 weeks ago. Restore full kodi backup did not solve it. Is it helpful if I post my log? Not sure how I can add the log to this post as an attahment though, should I just copy/paste the log in full text?

[2021-01-09 09:34] mtaki14 commented on #373
@JimiJoe nixgates said that it should be fixed in the next release so I think better wait for that first.

[2021-01-09 10:55] JimiJoe commented on #373
Ok. Kodi log by the way also showed it might have somethingbto do with nixgates skin helper service.

[2021-01-09 12:27] unkn0wn234 opened #385 "[REQUEST] Watched statuses for My Files (and maybe even playback progress indicator and resume)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It is not related to a current problem unless I am mistaken and the request is something already in Seren that is not working for me. My Feature request is to make it so My Files in Seren can keep watched and unwatched statuses and possibly

[2021-01-09 13:31] jweinr commented on #379
Can you try disabling trakt functions and deauthorize you trakt account in seren settings?
Then do the opposite, disable you trakt addon completely and enable all the trakt functions in seren.
Test results with both situations.

Reminder: trakt addon and seren trakt stuff work independently from each other.
People are quite confused about this and think that the seren trakt features leverage or de

[2021-01-09 14:18] SirRickie commented on #379
I disabled trakt functions and deauthorized my trakt account in Seren settings, and the movies were indeed scrobbled now. I thought, yes I got it, but the disappointment returned with I started a TV show : no scrobbling now on TV shows (just like you posted). There must indeed be a bug somewhere.

[2021-01-09 14:35] dobbo47 opened #386 "Seren - Premiumize"
I think this an information and learning issue rather than a support problem. I am new to Seren but reasonably experienced with Kodi. I have inconsistent internet so I want to save all files to Premiumize Cloud first then download later. I have been successful in getting a cache to upload to Premiumize (I can see it in Transfers) but then as soon as it completed it disappears. Am I doing something

[2021-01-09 14:36] dobbo47 opened #387 "[BUG] Caching item using manual cache removing items after complete"
I think this may be an information and learning issue rather than a support problem. I am new to Seren but reasonably experienced with Kodi. I have inconsistent internet so I want to save all files to Premiumize Cloud first then download later. I have been successful in getting a cache to upload to Premiumize (I can see it in Transfers) but then as soon as it completed it disappears. Am I doing so

[2021-01-09 14:37] #386 closed

[2021-01-09 14:40] jpgadbois commented on #279
I also have this issue.  Every time I uncheck "Paginate Trakt Collection" button I get the alphabetical sort back, but at some point it automatically reverts.  Using Seren 2.0.10

[2021-01-09 14:55] Liquidrag opened #388 "[BUG] Next Up order not updating across devices"
**Describe the bug**
Trakt is connected and scrobbled fine but when watching on one device of a show (I have it set as recently watched) the show shows at the top of my Next Up list and widget as it should but on any of my other devices the order of shows does not update but instead, they stay the same order but the episode is updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'N

[2021-01-09 15:07] Liquidrag opened #389 "[REQUEST] Unfinished shows to act like Collection"
**Is your feature request related to a problem? Please describe.**
Unfinished shows used to populate the full list like collection does/did with the hide watched option enabled without having to use the "next page" option and in alphabetical order.

**Describe the solution you'd like**
For the "Unfinished shows in collection" to show the full list of unfinished shows in alphabetical order so I can

[2021-01-09 17:22] sathish804 commented on #385
@mathu204  If you watch any file under My files will be marked with a tick mark. If you are not seeing tick mark means something to do with the skin which you are using. On my setup I see the tick marks in my files using Arctic horizon skin.

[2021-01-09 17:24] mathu204 commented on #385
I see, I use Titan bingie mod does this mean I need to request for them
To implement something? If so can you or Nixgates let me know what it is I have to request them for? Or is there something in Seren that can be done to make it work wirh bingie mod?

[2021-01-09 18:04] xyzfre commented on #310
Wanted to experiment a little bit ,so ￼Just did a clean install on a different device with no Trakt authorization just to see what happens but the same issue accord when selecting a TV show all￼ seasons show up marked as watched ￼￼￼

[2021-01-09 20:20] inb4after commented on #385
Do your cloud files not show up when scraping for content?

[2021-01-09 20:43] mathu204 commented on #385
Depending on the show, no. For example re zero started life in another world is re zero hajimeru isekai something, bungou stray dogs, promised never land is yakusoku no never land, etc. it’s mostly just for anime

[2021-01-09 21:49] StanLee01 opened #390 "[BUG] Next up unwatched episodes Bug"
**Describe the bug**
Since the new update to 2.0.10 my Next up widget doesn’t work like it suppose to.

I selected/activated the new option found at settings-interface-advanced-show remaining unwatched season episodes in mixed lists.

This should show me the remaining unwatched episodes of the season on Next Up. For me, this works like it should. I’m seeing the remaining episodes of that season on

[2021-01-09 21:50] connoch1 commented on #325
I haven't been able to play anything since the recent update. Could someone tell me if preemptive termination should be on or off and what other settings could cause, no playable sources? I have trakt, RD, and have added providers.

[2021-01-09 22:49] ruizitu commented on #325
I keep it off, it finds more sources, I prefer it that way.
Try turning it off and test again.

[2021-01-10 00:09] inb4after commented on #325
If all the values are 0 and all providers are being checked during scraping, it usually means you need to re-auth debrid service.

[2021-01-10 04:00] connoch1 commented on #325
Thanks!!

On Sat, Jan 9, 2021, 4:49 PM ruizitu <notifications@github.com> wrote:

[2021-01-10 14:17] anzien7 opened #391 "[BUG] Unfinished shows In Collection List"
"Unfinished shows In Collection" List Does not contain all of my unfinished shows, since The 2.0 update e.g. In Collection I have 42 unfinished shows, but only 32 show up. I then finished a show and now it only holds 31. It did not repopulate to 32 even after a rebuild with trakt.

I have tried clearing Seren and reinstall and rebuilt Trakt before and after update also increased page size limit to

[2021-01-10 20:26] queensryche6 commented on #388
Same thing happens to me. A little bit inconsistent. Sometimes it works, others not.

[2021-01-10 21:33] nixgates commented on #388
@Liquidrag can you please get a log of the device starting (the device that's not updating).

Please remember, Seren will sync with your Trakt account every 15 minutes so make sure enough time has passed.

[2021-01-10 21:58] nixgates commented on #384
@djdirty60 I'm not quite sure what you mean?

Trakt's collection can handle movies as it would shows?

[2021-01-10 23:49] djdirty60 commented on #384
No I mean, Harry Potter has 8 films now they are separate when you go to the collection of your films, but it will be in a film collection as 1 folder with 8 films.

[2021-01-11 01:48] nixgates commented on #384
Ah I see what you're after. You're after something similar to TMDB collections.

It might be possible but it will require reverse matching through to trakt.

[2021-01-11 12:30] 12asdfg12 opened #392 "[BUG] TV show from Trakt list is marked as "watched", even if there is an unseen episode."
It happens every time, on the day when a new episode is aired.
After a day or two (not sure) the show status becomes 'unwatched'.
Tried to clear cache, resync with trakt, nothing changed.
This bug was also present in Seren 1.6.

There is an example:
Shameless episode 11x04 was aired today (11.01)
The episode status is 'unwatched'
Season 11 is 'unwatched'
Shameless TV show status is 'watched'

**Ex

[2021-01-11 12:47] Delamain813 opened #393 "[REQUEST] Trending vs. popular movie lists - Whats the difference? Why not merge them and clean them up from duplicate entries?"
I really like the new list that are provided in the "discover movies/shows" section, but i don't understand the difference between trending movie/show lists and popular movie/show lists. Also, the lists are doubled and even trippled and a lot of them are duplicate in both the trending and popular tab, while some lists are only present in one or the other.

I would like to create a shortcut in my s

[2021-01-11 14:19] xyzfre commented on #392
I think this relates to the same issue I’m having issue #310

[2021-01-11 15:20] LoganWolverineX commented on #393
The popular and trending lists are pulled from Trakt. Nixgates only pulled them from their site. Trending I believe is what everyone is watching recently now. Popular is what’s been popular over a longer period of time.

[2021-01-11 15:26] Delamain813 commented on #393
I actually figures this out an hour ago and found a workaround to my request. I can simply like these lists individually on Trakt (links are provided in the subreddit) and then they appear in my "liked movie/show lists" and that's the shortcut i made in my submenu.

However, the problem of duplicate entries still persists, so i assume that's just a bug that might be solvable. It seems like every e

[2021-01-11 17:57] connoch1 commented on #325
I have reauthorized RD and Trakt, cleared cache, and restarted my stick.

I dont know where I would look for all 0a. I'm a novice and only use the
user interface, I dont code.

But it's been down ever since the upgrade.

Thank you for your response.

Christine

On Sat, Jan 9, 2021, 6:09 PM inb4after <notifications@github.com> wrote:

[2021-01-11 17:59] connoch1 commented on #325
I have it off. Ut have tried it both on and off with no different results.

I've read that with Seren it should be off because it looks for sources in
serial so no need for it.

Thanks for your response.

Christine

On Sat, Jan 9, 2021, 4:49 PM ruizitu <notifications@github.com> wrote:

[2021-01-11 18:04] Liquidrag commented on #388
@nixgates I have 3 devices, iMac, Shield pro, and 4K Firestick. Let's say I watch the pilot of Friends on the Mac, the pilot of How I Met Your Mother on the Shield, and the pilot of Big Bang Theory on the 4K FS. Episode 2 will show up first in the queue in the "next up" on each individual device respectively but won't show up on the others, even leaving them overnight. Here's the log from my mac.

[2021-01-11 18:25] cg8440 opened #394 "Display/Interface after scraping (Source Select screen)"
Wonderful work with Seren addon and thanks for Seren 2.0.

I have a suggestion for improvement. Can you please restore the Display/UI after scraping (Source Select screen) to the original? The recent change takes away lots of functionality and useful information. For example, the title gets cut off, and along with that, other information like whether the link is BD-Remux or HDR or 264/265 and who

[2021-01-11 21:03] SirRickie commented on #394
I fully agree. Also it is not easy-view to select a source when scrolling the list.

[2021-01-11 21:54] nixgates commented on #393
@Delamain813 this isn't a bug, this is the information pulled from Trakt.

As Logan mentioned, the Trending lists are lists that are trending with users over a period while popular is over all time, there's nothing worth doing on Seren's side.

If you would like to see a combined effort, raise the issue with Trakt.

[2021-01-11 21:54] #393 closed

[2021-01-11 22:01] nixgates commented on #394
Please refer to bug #293 closing as duplicate.

@cg8440 next update has a slight modification for the source select view which will allow almost all titles to display the full release title.

If you would like to disable the information on the side I would suggest utilizing a different Seren theme that doesn't display that info.

It should also be noted that the info list now displays the encode's

[2021-01-11 22:01] #394 closed

[2021-01-11 22:11] nixgates commented on #392
Seren has a update_show_statistics method that should handle this. Seems like it's not being run often enough. I'll fix this up for next update.

[2021-01-11 22:49] zemely opened #395 "[BUG] SEREN minor navigation issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..TV Shows Collection or Watchlist.'
2. Got to any TV show season
3. Backup a level
4. It supposed to bring you back to the TV Show collection or watchlist but it brings you back one 2 levels too far, to main selection for Movies and TV shows

**Expected behavior**

[2021-01-11 23:08] nixgates commented on #395
@zemely the only way I can reproduce  this is by pressing back twice in quick succession. Are you using a remote for this operation? Is it possible for you to try and use a different remote/method to go back to confirm it's not a hardware issue?

[2021-01-11 23:10] nixgates commented on #387
@dobbo47 might I ask how you were caching an item to Premiumize?

[2021-01-11 23:27] zemely commented on #395
Thank you for your reply. I am using genuine NVidia Shield remote. I tried it on 3 different NVidia Shields and few MI Boxes. There is no other way to do it other than use BACK button. I have this issue since I got SEREN. It's not a big deal really but if you want to browse TV SHOW's seasons to see what do they have, it brings you from the season way back to the main menu with Discover Tv, Discove

[2021-01-11 23:31] LoganWolverineX commented on #395
I think the bug being discussed has been fixed from #299.  To fix this, try to recreate the menu shortcut or widget.  I had this issue, but once the widget or menu shortcut has been re-created, this fixes the problem.

[2021-01-11 23:43] zemely commented on #395
I am assuming this reply was for NixGates, not for the users because I have no clue how to recreate short cut or widget in the SEREN. All other addons work fine with this navigation. Based on your explanation, it makes sense, the bug I mean, with missing "/"

[2021-01-11 23:48] LoganWolverineX commented on #395
Actually it was to you @zemely. The navigation you speaking of, is it from a widget or category/menu shortcut?  I was only chiming in because I fixed my navigation issue by recreating the shortcut/widget if it’s from navigating from a widget or shortcut.

[2021-01-12 02:08] zemely commented on #395
Oh, OK, got it. In fact, I just tested it on one of NVidia Shield Kodi 18.9 and it works. I am confused and sorry. I do have XANAX build on this KODI, maybe it's a skin issue? The KODI that it doesn't work on has default skin, no builds and this is my main devise I use on weekends. I will double check tomorrow again. I know that it doesn't work on default skin because I even tried to use "..." to

[2021-01-12 02:29] nixgates commented on #355
From what I can tell, going of the fact that the item is there after a restart (I'm almost certain it would be there after a refresh of that list as well) the local resume point is created after the widget is called. Seren updates the local resume point after the playback is stopped.

I'll investigate it, but it might require continual updates from Seren to the local database to create the resume

[2021-01-12 02:31] nixgates commented on #395
@zemely I think what Logan is saying is, how are you navigating to the list.

By the way of your original post, it sounds like you are navigating the menus. Just to confirm, you're not attempting to browse from a widget?

[2021-01-12 02:32] nixgates commented on #388
@Liquidrag I believe the issue has been identified, should be ok for next update. May require a rebuild of the database on each device to kick in though.

[2021-01-12 02:36] Bulletbling commented on #355
Maybe we will have to re enable widget refresh option after movie closeout. It's a nice feature to be able to turn off however, there has to be a local way to keep Scrabble progress and it's updated internally with seren before it's able to be sent to trakt, which sometimes doesn't always get get retrieved successfully.

Not sure if this is related, but when I use the venom add-on and it scrabbles

[2021-01-12 03:51] Liquidrag commented on #388
@nixgates Thank you! I look forward to the next update.

[2021-01-12 04:05] nixgates commented on #355
@Bulletbling you'll need to remember that items scrobbled outside of Seren will take up to 15 minutes to roll over into Seren.

[2021-01-12 04:07] nixgates commented on #391
@anzien7 I'm not sure why it would go back up to 32 after a rebuild.

Are you 100% certain there are 42 items not finished? May I ask where you are getting that number from?

[2021-01-12 04:17] nixgates commented on #307
@biscuitgod I've identified the issue, these files are incorrectly showing in the source select when they are not playable.

This will be fixed in next update.

[2021-01-12 09:21] Navios92 commented on #355
That wasn't always the case, right? I do remember that in the previous version of Seren, local library movies would appear in Seren's Finish Watching right after playback stops.

[2021-01-12 10:34] cdensel opened #396 "[BUG] Any "Specials" causing Seren error"
Firstly, thanks for all your hard work.

I noticed this bug when searching for "Euphoria". Under "Specials", click the first episode "Trouble Don't Last Always".
As soon as you click it, get "Seren Error: Check the logs for more information".

Logs of error included below.

System: Raspi 4 LibreELEC 9.2.6
Kodi: 18.9.0
Real Debrid & Trakt
Metalocation: Trakt

All other series working fine, just see

[2021-01-12 10:38] cdensel opened #397 "[BUG] Searching for show beginning with numbers causes crash. E.g "24 Hours""
System: Raspi 4 LibreELEC 9.2.6
Kodi: 18.9.0
Real Debrid & Trakt

In Shows, search for "24 hours". Seren errors straightaway. Logs below.

2021-01-12 10:36:52.513 T:3012014096   DEBUG: Keyboard: scancode: 0x1c, sym: 0x000d, unicode: 0x000d, modifier: 0x0
2021-01-12 10:36:52.513 T:3012014096   DEBUG: HandleKey: return (0xf00d) pressed, trying keyboard action 7
2021-01-12 10:36:52.921 T:3012014096

[2021-01-12 11:22] anzien7 commented on #391
No it still only has 31 in the list, I just thought that maybe it was a max limit but it was not, just trying to provide as much info as I can. I have 42 unfinished shows in the Collection list. this happen right after I installed Seren 2. I use that list for my widget so I noticed it straight away that a lot of shows where missing.

[2021-01-12 11:23] gio2490 commented on #348
@nixgates sorry for the delay! I wiped the entire Kodi Addon from my device and re-installed it as new. This seemed to have fixed the issue. I have not installed a skin for the moment.

Happy to close the case as it's been resolved. Thanks as always, really appreciate what you're doing for the community!

[2021-01-12 11:23] #348 closed

[2021-01-12 16:06] biscuitgod commented on #307
@nixgates Awesome!   Thanks for all the work you do on this!

[2021-01-12 16:40] dobbo47 commented on #387
Hi there

Thanks for the quick response

After searching for a TV show and selecting an option I selected Cache
Assist from the context menu and it opened a transfer in Premiumize Cloud.
There was an option to run in the background or follow.  I followed and as
you would expect the Seren screen and the Premiumize tracking on the phone
were pretty much in sync

Every time it gets to 99% and then st

[2021-01-12 17:39] Bulletbling commented on #355
I thought this was the case as well, but that was prior to being able to have those option of library addon widgets refresh enabled or disabled.m, which has been implemented in 2.0 iirc. It just sucks that even after closing a seren movie, the movie still won't show up and continue watching either ever, or sometimes it is a delay. I'd rather have the movie I just stopped watching before to show in

[2021-01-12 21:59] nixgates commented on #397
@cdensel this doesn't look so much like an issue with handling numbers rather an issue with handling some of the metadata that comes for the items in the search. I personally didn't have an issue pulling that search title, could you perhaps let me know the following settings so I can investigate further:

Interface > Metadata location
Kodi Language that's set

[2021-01-12 22:22] cdensel commented on #397
Hi,

Thanks for prompt response. I checked that setting and for some reason it
was set to "TMDb". Set it Trakt and issue is now resolved.

Thanks, Cd

On Tue, 12 Jan 2021, 21:59 nixgates, <notifications@github.com> wrote:

[2021-01-13 01:07] nix87 commented on #387
Adding Easynews to Seren isn't Nix thing as he doesn't develop and maintain providers for Seren. Easynews should be seperate provider which Seren would use. In other words someone should make Easynews provider which is compatible with Seren addon. Same as A4K Scrapers are compatible with Seren. ;)

[2021-01-13 04:05] richardsaloga opened #398 "[BUG] Persistent pop-up message: "Failed to refresh RD token, please manually re-auth""
**Describe the bug**
I've never had an RD subscription but this message keeps popping up every 15 minutes. I asked around on Reddit and it sounds like I'm not the only one having the problem.

**To Reproduce**
Sit back, watch a flick, and observe the message popping up every 15 minutes.

**Expected behavior**
Sit back, watch a flick, and not observe the message popping up every 15 minutes.

**Scre

[2021-01-13 04:49] fairlynew commented on #365
So, is this going to happen, or..

[2021-01-13 10:12] vermope opened #399 "[BUG] Menu item 'Recent Trending TV Shows' not working"
**Describe the bug**
Menu item 'Recent Trending TV Shows' not working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Discover TV Shows --> Trendin Recent Shows'
2. See error

**Additional context**
2021-01-13 11:08:55.458 T:139808382883584   ERROR: GetDirectory - Error getting plugin://plugin.video.seren/?action=showsTrendingRecent&from_widget=true
2021-01-13 11:08:55.458 T:

[2021-01-13 10:12] vermope opened #400 "[BUG]"
**Describe the bug**
Menu item 'Recent Trending TV Shows' not working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Discover TV Shows --> Trendin Recent Shows'
2. See error

**Additional context**
2021-01-13 11:08:55.458 T:139808382883584   ERROR: GetDirectory - Error getting plugin://plugin.video.seren/?action=showsTrendingRecent&from_widget=true
2021-01-13 11:08:55.458 T:

[2021-01-13 10:13] #400 closed

[2021-01-13 13:11] bthedorff commented on #365
@fairlynew Gotta be patient man. It's a one man project done in his spare time.

[2021-01-13 15:59] GodsLikelyMe opened #401 "[BUG] few errors popping up while watching"
Log

https://paste.ubuntu.com/p/Mwscg6KQ9h/

[2021-01-13 16:11] Nuklear92 opened #402 "[BUG] Double Cast Members when looking at Movie and Shows titles Information Tab"
**Describe the bug**

Simple, when looking at the Information tab, Cast members are being double. I haven't tried with default Kodi Skin since I have a good setup built with Arctic Horizon skin. If anyone else is having this issue as well with any other skin and even default Estuary Kodi skin, please comment so Nix has other proof that it's not only coming from AH skin. Also, already tried opening

[2021-01-13 16:19] richardsaloga commented on #398
Potentially resolved by clearing cache, I'll keep you posted.

[2021-01-13 16:20] #402 closed

[2021-01-13 16:21] Nuklear92 commented on #402
UPDATE: Did a complete Rebuild of Database and bug went away.

[2021-01-13 18:49] jmg999 opened #403 "[REQUEST] Ability to Download Subtitles From Premiumize"
First off, thank you so much for your efforts into this project.  It really is a top-notch addon, and I feel that your development team should get more recognition than you currently do.  I certainly appreciate the time and resources you continually apply to this program, and I wanted you to know that it definitely does not go unrecognized.  Again, thank you!

I use the Premiumize (PM) service, bu

[2021-01-13 20:59] ivarbrandt opened #404 "[BUG] Unable to authorize Trakt"
When attempting to authorize Trakt in Settings, this message pops up:

Unable to contact Trakt
Please check Trakts outage status at:
http://status.trakt.tv

I went to that link and it says that all systems are operational at Trakt

[2021-01-13 21:02] rudf0rd commented on #404
After multiple attempts to email the dev with no response, we had to revoke his key.  Since Jan 1, this app was responsible for 60+% of our entire API traffic.

[2021-01-13 21:08] cbizzle14 opened #405 "[BUG] Movie menu items not working. Trending, most popular, etc."
When clicking on discover movies and going to most popular, trending, or any other category it returns an error. My friend has the same thing happening to him EXCEPT it's TV shows and not movies. So TV shows work me but not movies and movies work for him but not TV shows. I have attached the log below

http://paste.kodi.tv/cowukukafu

[2021-01-13 21:31] ivarbrandt commented on #404
Oh wow! That's insane. So I'm going to have to get my own API key? How do I do that?

[2021-01-13 21:37] rudf0rd commented on #404
No, please, please dont do that.  The application itself is flooding our systems.  You'll need to wait for the developer to fix it.

[2021-01-13 21:51] ivarbrandt commented on #404
Smh I'll wait. Thanks for the information.

[2021-01-13 21:59] nix87 commented on #404
Seren addon heavily relies on Trakt and also addon is popular as f*** xD

[2021-01-13 22:08] JackDinn commented on #404
Nearly 2 weeks. Wonder why Nix has been so hard to contact, he's usually pretty good.

[2021-01-13 23:26] rudf0rd commented on #404
To clarify, the meta data calls don't really matter as much since we have CDN caching for that.  Our CDN probably isn't stoked to be hit with the increased frequency though.  And there was a large rise in these calls as well.  It's harder to gauge the necessity of these calls since every users behavior differs so greatly.

The larger issue i that our servers are being hit with an inexplicable amou

[2021-01-14 02:32] luizffgarcia opened #406 "[BUG] Trakt is not working"
It is not possble to authorize Trakt, or use the lists (trending, most popular)

Kodi logs show all Trakt api calls return 403, says something is wrong with the api key or the app is not authorized.

[2021-01-14 02:37] Tikipeter commented on #406
Jesus. Read the Issue 2 below yours, titled "[BUG] Unable to authorize Trakt"
https://github.com/nixgates/plugin.video.seren/issues/404

[2021-01-14 02:40] luizffgarcia commented on #406
Jesus, no thank you.

[2021-01-14 03:01] #406 closed

[2021-01-14 03:01] drinfernoo commented on #406
It's always advised to read already open issues before opening duplicate ones 👌

[2021-01-14 03:06] luizffgarcia commented on #406
Thank you for your input. I have now read the other issues.

Now, for the other user, "go read the issues and then close this one", seriously...... A dog can communicate with better manners...

[2021-01-14 03:25] drinfernoo commented on #406
Considering that's not what he said anyways, I think we're done here. Thanks for *your* input.

[2021-01-14 04:59] jullienf commented on #405
I’m having the same issue.  Every time I try to access a Movie Category is give me the “Check the Log for Information” error.  The only category on the TV side it allows me to access without that error is the “most popular” category.  Even then, it is completely blank

[2021-01-14 05:12] waffletruck commented on #405
This is not a bug of its own, per se.  It is caused by the Trakt API key being revoked as mentioned in issue #404

[2021-01-14 05:54] Slamious commented on #404
Nixgates please refer to line 45 of service.py. I believe this call to sync may be contributing to this issue. It tries to sync on startup even if trakt isn't authorized and eventually times out with the Unknown Trakt Error popup. I've tested "if g.get_setting("trakt.auth"):" and also "if len(g.get_setting("trakt.auth")) >1:" and they both appear to work (not sure which is better). I hope this is

[2021-01-14 06:22] anwarotti commented on #405
I have the same problem.. The only thing is working " Most Popular" Shows... And also the movies and shows i have on Favorite list.

And also the other problem with the Trakt authorize still unable to do it.

I have two devices.. The first one is showing " Most Popular" Movies
And the second device is showing "Most Popular" Shows

And as i mentioned the Favorite list  " Movies Only" are working...

[2021-01-14 06:24] cbizzle14 commented on #405
Trakt removed their api key from Seren or something like that which is why it's not working properly

[2021-01-14 06:28] anwarotti commented on #405
Are they working on that thing? Or we have to get an APi from trakt and add it manually on serens settings?

[2021-01-14 06:29] cbizzle14 commented on #405
It is being worked on. Nix asked us to give him a day to make sure the issue is 100% fixed

[2021-01-14 06:33] waffletruck commented on #405
For sure. Looking forward to the fix pushing. To keep things clean, this ticket should be closed.

[2021-01-14 06:34] #405 closed

[2021-01-14 06:43] KeKyKo commented on #277
This is also happening to me.  Im using Seren 2.0.10, I cannot log into Trakt.  When I try I get a popup that says, "Unable to contact Trakt. Please check Trakts outage status at: HTTP//status.trakt.tv"  I have un installed Seren, I have cleared cache.  Nothing works.  I am able to authorize Real-Debrid & Premiumize.me.  Help.

[2021-01-14 16:07] bills176 commented on #404
For a couple weeks I was getting a sync error with Trakt I'm Seren. It would fail trying to sync show bookmarks. It was failing connecting to Trakt. This would keep happening but all other Trakt operations would still work. Sorry I am not real knowledgeable about Kodi logs.

[2021-01-14 17:00] nutstool opened #407 "[BUG] Search function not working"
When searching for TV Shows or Movies, Seren now throws up an error. This was working okay until yesterday. This is happening on both devices I own.

[2021-01-14 17:25] #407 closed

[2021-01-14 17:26] nutstool commented on #407
Apologies for opening this. I just discovered that this relates to the Trakt issue. I will now close.

[2021-01-14 19:26] CopyPastee opened #408 "[BUG] Seren error: check the log for more information"
I just fresh install kodi and seren 2.0.10. on my sony android tv xf9005.

When I go to movies or series and click on trendig or most popular or anything else, a message comes to me "seren error check the log for more information"

[2021-01-14 19:45] CountablyInfinite commented on #404
I have a very similar/related issue. I am not able to interact with any show in my favourites or search for anythings else.

[code]
I was not sure if this has something to do with my own trakt account first, so i tried to reauthorize it, but it shows

[code]
Default Trakt works.
I am on 2.0.10

[2021-01-14 20:10] drinfernoo commented on #404
@CountablyInfinite Likely most functions of the add-on will be non-functional until this issue is closed.

[2021-01-14 21:07] bills176 commented on #404
I was just noting what I saw prior to the shutdown of the API. Maybe all the failed attempts to sync show bookmarks created all the API traffic. It kept trying the whole time Kodi was open.

[2021-01-14 22:59] Has3n commented on #408
Same here, can not re-authenticate Trakt, despite its not down. Feels like Trakt has blacklisted seren?

log: https://paste.kodi.tv/umakodabex.kodi

[2021-01-14 23:13] drinfernoo commented on #404
Your log clearly states that it came from *after* the API key was revoked:

No worries, it's being fixed by @nixgates.

[2021-01-14 23:14] drinfernoo commented on #408
Correct. Check open issues before opening duplicates, please.

[2021-01-14 23:14] #408 closed

[2021-01-15 00:41] hoIIowpoint opened #409 "[BUG] Seren crashes after clicking search or browsing Error"
**Describe the bug**
Everything worked great until it didn't. Cannot search or browse anything. Tried everything, removing trakt, clearing caches etc, even a fresh install of Kodi and Seren with a4kScrapers. Same issue. I've ran out of options. Is it just me or is Seren down?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Seren'
2. Click on 'Either submit a search, or browse movies/t

[2021-01-15 02:30] ajmorse1983 commented on #404
Do we know when this issue will be resolved?  I was having issues with my shows not syncing so I unauthorized trakt and now I can no longer reauthorize.

[2021-01-15 03:31] Has3n commented on #377
Same

[2021-01-15 04:25] quentin2118 commented on #380
Seren was working fine and suddenly it can't talk to trakt which means it can't be used at all because it will not populate any of the lists as far as shows or movies goes

[2021-01-15 04:42] Nuklear92 commented on #293
@nixgates As promised, told you I was going to give you a feedback regarding this issue as soon as the new update comes out which I already installed and using, 2.0.11.

So, the issue seems to be fixed for the default Kodi Estuary skin. However for third party skins, in my case Arctic Horizon it kinda broke for sources that aren't highlighted in the second screenshot. Either way, I won't keep both

[2021-01-15 04:51] drinfernoo commented on #404
Update to 2.0.11.

[2021-01-15 04:51] #404 closed

[2021-01-15 04:51] drinfernoo commented on #380
Update to 2.0.11.

[2021-01-15 04:51] drinfernoo commented on #409
Update to 2.0.11.

[2021-01-15 04:51] #409 closed

[2021-01-15 04:53] hoIIowpoint commented on #409
Thanks to everyone for their hard work!

[2021-01-15 05:27] hoIIowpoint commented on #409
I also think I'm blind.  Shows update available but doesn't update to 2.0.11.. I'm assuming I just gotta wait for repo to be updated.

[2021-01-15 05:28] nixgates commented on #293
@Nuklear92 try 2.0.12 :) I'm just pushing to the repo now

[2021-01-15 05:36] MagicFirefly commented on #293
For Estuary, it's two thumbs up. If I had more thumbs, well... you'd get those too. Thanks!!

[2021-01-15 05:38] nixgates commented on #399
This should be fixed now after the Trakt fix has been implemented.

@vermope please let me know if you are still experiencing issues post updating to 2.0.12

[2021-01-15 05:38] #397 closed

[2021-01-15 05:42] nixgates commented on #387
@nix87 Seren 2.0 now allows provider to implement their own settings and service modules. While there isn't a lot of setting options at the moment, I can and will expand them as required.

 @dobbo47 I'll look into it, the cache assist shouldn't remove the item afterwards from my quick glance at the code but I'll need to dig in deeper to be 100%

[2021-01-15 05:45] nixgates commented on #378
Fixed in 2.0.11

[2021-01-15 05:45] #378 closed

[2021-01-15 06:08] Nuklear92 commented on #293
@nixgates Now it looks better on Arctic Horizon! Thanks for fixing it.🤩

Well I guess it's safe to close this issue, since now links can be easily read and nothing seems to be broken for now. 👍

![image](https://user-images.githubusercontent.com/76958541/104687953-29d4dd80-56ce-11eb-80ae-ce0394e5cc94.jpeg)

[2021-01-15 06:43] nixgates commented on #293
Closing it off! :)

[2021-01-15 06:43] #293 closed

[2021-01-15 06:44] vermope commented on #399
Works perfectly! Thanks for all your work, it is really much appreciated!!

[2021-01-15 06:44] #399 closed

[2021-01-15 06:51] audinutt opened #410 "[BUG] - my collection is no longer sorting by title"
*
my collection is no longer sorting by title either on movies or shows

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my collection
2. Click on my collection
3. It shows in order added to collection instead of alphabetical.

**Expected behavior**
It used to sort alphabetically or by "title'

[2021-01-15 07:05] nixgates commented on #277
This is resolved in 2.0.11+

Apologies for this.

[2021-01-15 07:07] nixgates commented on #365
@bthedorff this should be resolved in 2.0.11+

Could you please let me know how you go?

[2021-01-15 07:08] nixgates commented on #307
@biscuitgod this should be fixed now. Can you confirm for me please?

[2021-01-15 07:35] dobbo47 commented on #387
Awesome, thanks!

On Fri, 15 Jan 2021, 06:43 nixgates, <notifications@github.com> wrote:

[2021-01-15 08:06] tayub94 commented on #302
Just tested in 2.0.12, issue still remains tried a database rebuild with trakt

[2021-01-15 09:10] nixgates commented on #410
Please disable collection pagination for now, this has been identified in a separate bug ticket and I'll be splitting the pagination/sort into two settings

[2021-01-15 09:10] #410 closed

[2021-01-15 10:05] nix87 commented on #387
Great news Nix :smile:

Honestly can't wait to use my Easynews sub in Seren like I use Real Debrid :+1:

[2021-01-15 10:10] queensryche6 opened #411 "[BUG] Trakt lists, collection and resume points not working as it should be"
**Describe the bug**
After 2.0.12 trakt collection not populates with whatever i have added after the new version. Same for watchlist. Popular recent shows gives the above log error. Trending show lists shows only the list New Shows multiple times. Popular show lists shows only netflix and IMDB: top rated tv shows multiple times.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Discover

[2021-01-15 11:05] mtaki14 commented on #373
@nixgates It works now but it takes me to play the last episode that is already marked as watched in Trakt instead of the following one.

[2021-01-15 11:13] nixgates commented on #373
@mtaki14 ah bother, ok gove me a bit. I'm working on yet another update right now. Will scoop this up as well.

[2021-01-15 11:17] mtaki14 commented on #373
I'll watch the following episode, re-enable the option and check again if it now picks up the right one.

[2021-01-15 11:21] nixgates commented on #398
@richardsaloga this should be fixed in next update (2.0.13) :)

[2021-01-15 11:30] nixgates commented on #372
@SerpentDrago fixed for next update (2.0.13) bud! :)

[2021-01-15 11:30] Fatal-Errol opened #412 "[REQUEST] Rescrape option in source select page"
It will be nice to have the rescrape button available in the source select page.

This will be useful when you interrupt the scraping early or it didn't return a satisfying result.

I am also using tmdb for all my widgets so there is no rescrape option in the context menu. I had to search the item in seren (using the search in seren tmdb player option) and then navigate to the correct video just t

[2021-01-15 11:31] nixgates commented on #302
@tayub94 Sorry I did say I would but I don't believe I've replicated it yet and that update needed to go out as an emergency :(

[2021-01-15 11:34] nixgates commented on #412
@Fatal-Errol not a bad idea actually. Would really only be useful if you cut the scrape early and don't get the results you wanted as you can't change the settings from there but it's a simple enough feature to add so why not!

[2021-01-15 11:47] Cwoo0 commented on #272
@nixgates

Unfortunately the latest version (2.0.12) is still having database issues on Xbox.

Here is a log when building the database.
https://paste.kodi.tv/ociqugerir

Thanks so much for your hard work, it's much appreciated!

[2021-01-15 12:47] Maximus97 commented on #293
Can we have the option to display two rows so all text is always displayed?

[2021-01-15 12:58] mft4 commented on #391
I have the same problem. Unfinished shows in collection is missing a lot of shows. I can watch them from collection but not from unfinished shows in collection.

[2021-01-15 13:17] bthedorff commented on #365
@nixgates Thank you for the update! Unfortunately now I am unable to access the setting to reauth Trakt. No options arrear except for Ok, Cancel and Defaults. I am not even able to navigate to them. I tried clearing cache in Seren and tried changing to the default skin, neither worked. My current skin is AeroMod. I will attach a log in case that can help you. I will also get a picture if needed.

[2021-01-15 13:17] drinfernoo commented on #412
Also, you can technically already do this with a custom theme, by adding a button with an`onclick` similar to this:

`<onclick>RunPlugin(plugin://plugin.video.seren/?action=getSources&source_select=true&seren_reload=true&actionArgs=%7B%22item_type%22%3A%20</onclick>`

[2021-01-15 13:22] sathish804 opened #413 "[BUG] 2.0.12 - RD Cloud Scrapping not working for the Authenticated Account"
**Logs**

Please provide debug logs to assist with your issue

**Describe the bug**
I have cached a torrent of Naruto Shippuden into my account. In the Seren setings I enabled Scrapping RD cloud. But when the scrapping begins it goes through all the providers and returs no playable sources found and I feel scrapping not checking the RD cloud for the cached torrents.

**To Reproduce**
Steps to repr

[2021-01-15 13:26] mtaki14 commented on #373
Seems to be working now, after the fact

[2021-01-15 13:27] bthedorff commented on #365
@nixgates I was able to reauth Trakt by going to Settings -> Trakt sync tools then it brought up needing to authorize Trakt and it worked from there (t least successful). I then closed out of Kodi and reopened and it says I need to reauthorize again. I attached a log in case anything is there that can help.

https://paste.kodi.tv/acuwawayew

[2021-01-15 13:38] nixgates commented on #413
Can you please provide the filename of the file you are trying to play

[2021-01-15 13:50] brunomiguelleal opened #414 "[REQUEST] How to update to 2.0.11?"
Stupid question maybe but I don't see on my kodi any update from version 2.0.10 which I can't work with because of the TRAKT issue.

Thanks in advance,
Bruno

[2021-01-15 13:51] drinfernoo commented on #414
Open the context menu on Nixgates Repo, and "Check for updates".

[2021-01-15 13:51] #414 closed

[2021-01-15 14:26] bills176 opened #415 "[BUG] Problem syncing show bookmarks"
**Logs**

https://paste.ubuntu.com/p/NYn3HHkJZv/

**Describe the bug**
Seren keeps trying to sync "show bookmarks" with Trakt and fails. It will keep trying as long as Kodi is open. All other Trakt operation seem to work fine. I waited until the recent Trakt problem was addressed. I am currently running 2.0.12 and this was happening with 2.0.10.

**To Reproduce**
Seren automatically syncs at Kodi

[2021-01-15 14:32] tayub94 commented on #302
No problem man the entire community is eternally grateful for the effort and service you offer 🙏🏾

[2021-01-15 14:53] biscuitgod commented on #307
@nixgates

negative - issues still occurring.    I am no longer getting the error about playable sources.   When I click a hoster in the source select screen, it acts like it plays but then takes me back to the episode screen prior to scraping.

The upgrade to 2.0.12 went fine, I did need to reauthorize Trakt and then rebuild database.   My first test yielded a YouTube error, which i had to take a

[2021-01-15 14:57] sathish804 commented on #413
I was trying to play the first episode Home coming in the Naruto Shippuden. Attached is the screen shot of cached torrent of it in my rd cloud account.

![Screenshot_20210115-155550](https://user-images.githubusercontent.com/14090242/104742182-6e9e5a00-574a-11eb-82c2-537f19cde2b1.jpg)

[2021-01-15 16:40] dharmaskibum opened #416 "[BUG] Sort in Trakt lists does not ignore articles"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Movies or My Shows -> Watchlist or My Movie or My Show Lists.'
2. Click on 'any list'
3. Scroll down to view lists
4. See error, movies or shows starting with a, an, the, etc are sorted in the a or t section

**Expected behavior**
Articles should be ignored when sorting.  For example, The Handmaids Tale should be in the H's, not the T'

[2021-01-15 17:00] Nuklear92 opened #417 "[REQUEST] Bring back the title Artwork Poster in the SS UI"
So, I was thinking if there's a small chance to bring back the Artwork Poster into the SS UI. I mean, I feel like there's a lot of space that could be gained from trying compact fit some of the right side boxes, like the Plot one, and down right with Play, View Uncached and Download could potentially be readjusted into a more compact size that could open up for even more right space to potentially

[2021-01-15 17:15] McPoon opened #418 "[BUG] Xbox Series X won't fully sync with Trakt."
**Logs**

https://paste.kodi.tv/uyulovubun

**Describe the bug**
When starting kodi, trakt starts to sync like earlier versions, as well as during shows/movies. Also Next Up and recently watched don't work any more. Still testing other features.

**Kodi Version (please complete the following information):**
 - Updated to newest, 2.0.12

[2021-01-15 17:42] KeKyKo commented on #277
THANK YOU!!! FOR AN AMAZING ADD-ON :)

[2021-01-15 18:27] JimiJoe opened #419 "[BUG]still stuck with 2.0.10 not 2.0.12- auto update = on"
Ehm.. call me a noob or a weenie on a stick but https://nixgates.github.io/packages which always worked fine in kodi keeps seren at 2.0.10. Has the repo moved to a new url? @nixgates @mtaki14

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-01-15 18:46] drinfernoo commented on #419
Open the context menu on Nixgates Repo and "Check for updates".

[2021-01-15 18:46] #419 closed

[2021-01-15 19:20] JimiJoe commented on #419
Love you!

[2021-01-15 20:17] cbecerraf commented on #296
Hey @nixgates, just wanted to point out a small issue, the strings.po file for the spanish translation has a small typo, it's missing the last 's' (string.po) so it's not working right now.

Also, I noticed that this translation would work just fine for different region spanish translations available in Kodi (es-MX for example), so it might be useful for spanish speaking people from that region to

[2021-01-15 20:59] GodsLikelyMe opened #420 "[BUG] Very few pages of movies in genres."
**Logs**

No log for this one

**Describe the bug**
When searching for moving in genres like in horror I only get 5 pages total.

**To Reproduce**
Steps to reproduce the behavior:
Discover movies
Select genres
Choose one like horror and I only see a total of 5 pages.
I have it set to 20 items per page.

**Expected behavior**
Don't see why it doesn't get as many pages as TMBD or other addons

**Scr

[2021-01-15 21:11] Sobersally opened #421 "[BUG]"
**Logs**

Please provide debug logs to assist with your issue

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to hel

[2021-01-15 21:26] Sobersally opened #422 "Trakt not staying in Seren and Filters too restrictive error"
Here is my log:
https://paste.kodi.tv/wugocunesu

I am having 2 issues with Seren. Prior to updating to 2.0.12 I had an error on all my searches of:
Filters too restrictive and then once I updated to the newer version, my trakt won't stay in my Seren. If I close Seren and come back I have to go back into the accounts tab and reauthorize Trakt all over again and then I get the filters too restricti

[2021-01-15 21:51] #421 closed

[2021-01-15 22:32] nixgates commented on #365
@bthedorff sorry, I do have this fixed already for another update, it was identified just after the update the went out to fix the trakt keys. I held off in case the trakt team still had issues.

Now they've let me know things are looking good ill push another out today :)

[2021-01-15 22:34] nixgates commented on #272
@Cwoo0 can you do me a favour and grab a log with debug on? Need to see what Seren thinks your device is :)

[2021-01-15 22:35] nixgates commented on #296
@cbecerraf apparently I'm useless lol!

Ok ill fix this up today and add the second language as well. Pray tell I can spell this time

[2021-01-15 23:01] Cwoo0 commented on #272
@nixgates

No problem,

https://paste.kodi.tv/dagayesumi

[2021-01-16 00:11] nixgates commented on #422
@Sobersally apologies, I'm pushing an update now to fix the settings issue.

In regards to the filters too restrictive, it means exactly that, the filters you have in place are removing all available source. Can you confirm your sort & filter settings and ensure they are correct for the sources you are trying to play.

[2021-01-16 00:12] nixgates commented on #420
@GodsLikelyMe in the interface settings, you can set your genre endpoint to be either trending or popular. Set this to popular to resolve your issue :)

[2021-01-16 00:12] #420 closed

[2021-01-16 00:14] nixgates commented on #417
@Nuklear92 this is something that a custom theme would need to handle. Perhaps you can dip your toes into how skins work in Kodi! They are fairly simple and this wouldn't take to much to do.

If you need any guidance, feel free to message me on reddit :+1:

[2021-01-16 00:14] #417 closed

[2021-01-16 00:15] nixgates commented on #416
@dharmaskibum  Thanks for that, I'll fix this up now

[2021-01-16 00:26] richardsaloga commented on #398
Appears to be fixed. Thank you for your hard work!

[2021-01-16 00:36] bthedorff commented on #365
@nixgates Thanks! I'll keep an eye out for the update then report back!

[2021-01-16 00:37] nixgates commented on #416
@dharmaskibum fixed ready for next update

[2021-01-16 00:47] GodsLikelyMe commented on #420
Oof.. My bad. Did not realize that was for that. Sorry and thank you.

[2021-01-16 00:48] GodsLikelyMe commented on #420
Oof.. My bad. Did not realize that was for that. Sorry and thank you.

[2021-01-16 00:48] nixgates commented on #415
It's likely due to the request taking to long.

I'm going to extend the timeout for this request, will be available next update :+1:

[2021-01-16 00:57] bills176 commented on #415
Sounds good but everything else seems to sync okay. It's just "show bookmarks"? I'm no expert though.

Thanks for the quick response!

[2021-01-16 01:20] nixgates commented on #415
@bills176 yea looks like I moved that to pull all bookmark items but left the page limit of 100. This means to much information was being pulled per page and would timeout.

Simple enough, I've seen it happen before. Should be good next update if you don't mind testing when it's released :+1:

[2021-01-16 01:24] bills176 commented on #415
I can do that.
Thanks again!

[2021-01-16 01:25] somexone commented on #335
Hi Nix,

I updated back to 2.0 due to the trakt issues. That's all working now again so thank you so much for your hard work on getting that resolved so quickly.

I've noticed my language is set to just English and region is Canada and that's when I start to see random movies in French. Can this be related to French being one of our main languages?

So I was curious and went in and changed my lang

[2021-01-16 01:27] nixgates commented on #396
@cdensel fixed for next update :+1:

[2021-01-16 01:37] minhgi opened #423 "[BUG] Seren 2.0.12 can't pull new TV show event with trakt authenticate"
**Logs**

Please provide debug logs to assist with your issue

**Describe the bug**
Seren 2.0.12 can't pull new TV show event with trakt authenticate.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Choosing new tv show should  newly released tv show.  Was working prior with 2.0.10

**Screenshots**
If

[2021-01-16 01:40] Sobersally commented on #422
Nixgates, thank you for your reply. I have looked at the sort and filter settings, and never had to mess with them before but can't tell which settings are creating this error. I increased the file sizes, I only have Hide 3D items checked, my source grouping style is torrents and I have Enable secondary filesize sort checked,  Am I missing something? Thanks again

[2021-01-16 01:41] nixgates commented on #423
@minhgi going to need a debug log to assist with this one

[2021-01-16 03:12] jweinr commented on #423
Here you go mate, it's the same for me, New TV Shows not list not loading.

https://paste.kodi.tv/agefupowow.kodi

[2021-01-16 03:16] highrollar420 commented on #423
I am also getting this error. Plus it is taking Trakt to sync forever a good 15-20 minutes. Sorry to jump on your thread.

[2021-01-16 03:27] jweinr commented on #412
Yeah pretty useful idea actually having a rescrape option in context menu.

Side question: Is global context menu working at all for you outside of Seren ? I mean the description says "throughout kodi".

[2021-01-16 04:14] jweinr commented on #379
Welp, now the trakt addon won't scroble tv shows played by seren, at all.

Debug log:
https://paste.kodi.tv/afividataf.kodi

[2021-01-16 04:23] drinfernoo commented on #412
@jweinr Have you... installed the context menu add-on?

[2021-01-16 04:24] drinfernoo commented on #379
You guys do know that Seren scrobbles on its own, without the Trakt add-on?

[2021-01-16 04:48] Ebonlore opened #424 "[BUG] Trakt Lists always paginated and taking 10+ minutes to load large Trakt Lists"
Trakt Lists are paginated even with the setting turned off
Trakt Lists now take forever to load (10+ minutes while it builds cache.db)  with Trakt accounts that have several hundred lists.

My cache.db is over 200MB and traktSynce.db is over 290MB now.  Previously cache was minimal and tracksync was 221MB on 2.0.10.  Plus Trakt lists didn't take 10 minutes to load and they weren't paginated.

Ther

[2021-01-16 04:49] Sobersally commented on #422
I got the addon to work without the error on the sort and filter issue. However, and I am sure you are aware that every time one exits Seren, we have to reauthorize trakt. Otherwise, Seren is the best addon for Kodi! I love it .

[2021-01-16 04:53] SoreTissue commented on #423
Since Seren 2.0.10 New Tv Shows populates for me but shows duplcates of shows. Theres usually at least 3 shows it shows twice.
I've seen this on multiple setups and on different networks. Btw thx for all your hard work Nixgates.

Nvidia Shield
Kodi 18.9
Seren 2.0.12
It was a clean install when seren 2.0.6 was released
Running Artic Horizon Skin
Seen same issue on Auramod and default skin
Also seen

[2021-01-16 05:03] RichardManciniJr commented on #277
I just downloaded .12 and I'm getting errors trying to add provider info... still getting Seren errors as well. App and data was wiped.

[2021-01-16 05:06] nixgates commented on #277
@RichardManciniJr please raise a new incident

[2021-01-16 05:09] nixgates commented on #412
@jweinr its for Seren items throughout kodi (widgets and the like)

[2021-01-16 05:11] RichardManciniJr commented on #277
It somehow righted itself. I reauthorized Prem and RD, and it reset my Trakt authorization 2x. Everything worked once I reauthorized the 2nd time. Everything seems to be working perfectly now. Thanks for all the hard work.

[2021-01-16 05:11] nixgates commented on #335
@somexone ok that makes sense then, this is TMDb providing metadata translated for the region set in kodi.

If you like, you can switch your meta provider to Trakt and that should take care of that.

[2021-01-16 05:12] nixgates commented on #398
@richardsaloga haha its not out yet, but its likely your settings just sticked this time.

[2021-01-16 05:20] RichardManciniJr commented on #422
Came here to start a new issue and found this. Exact same issue.

[2021-01-16 06:06] nixgates commented on #423
@SoreTissue please note the duplicates are due to the items returned from Trakt, not a fault of Seren.

@jweinr there's no errors in your log, can you try clear cache and pull the list again? This menu is working for myself.

[2021-01-16 08:43] nixgates commented on #422
This should be fixed in 2.0.13.

You may encounter the issue once more as it finally sticks, but will good after that.

[2021-01-16 09:09] derrgoo opened #425 "[BUG]"
**Logs**

Please provide debug logs to assist with your issue

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to hel

[2021-01-16 09:11] nixgates commented on #425
@derrgoo im closing this off. Please provide details of your issue when you create a bug :+1:

[2021-01-16 09:14] derrgoo commented on #425
First time submitting a bug report. Finish watching section. Maybe I am doing something wrong but in previous version I would open context menu and click on trakt manager and select remove playback progress and it would delete the movie from this area. Now it deletes but comes back on other devices. Before version it would remove all.

[2021-01-16 09:20] derrgoo opened #426 "[BUG]Finish Watching"
**Logs**

Please provide debug logs to assist with your issue

First time submitting a bug report. Finish watching section. Maybe I am doing something wrong but in previous version I would open context menu and click on trakt manager and select remove playback progress and it would delete the movie from this area. Now it deletes but comes back on other devices. Before version it would remove all.

[2021-01-16 09:40] nixgates commented on #426
Ok i can have a look at that, no worries about your empty issue before, got do something for the first time once! :)

In regards to the other devices, how quickly are you checking them? Bookmarks are synced to the local device every ~15 minutes or so.

[2021-01-16 09:44] derrgoo commented on #426
Thank you. I checked about an hour later. By the way great feature!

[2021-01-16 10:08] cdensel commented on #396
Excellent! Thanks for your dedication and hard work.

On Sat, 16 Jan 2021, 01:27 nixgates, <notifications@github.com> wrote:

[2021-01-16 10:44] SirRickie commented on #379
I do know. I have the following issue (Wn10, Kodi 18.9, Seren 2.0.13, Trakt 3.2.6)

- scrobbling with Seren : TV shows, scrobbling OK - Movies, no scrobbling
- scrobbling with Trakt : TV shows, no scrobbling - Movies, scrobbling OK

I tried about everything (enabling, disabling), but can't find the solution.

[2021-01-16 11:33] vermope commented on #426
I have the same problem..

[2021-01-16 12:34] bdkbaik opened #427 "[Bug] Seren 2.0.13 Cannot retrieve source or playback"
Description: When try to play any selection, it failed to retrieve any resource

Log: https://paste.kodi.tv/udoxojimek.kodi

Version:
 - Kodi 18.9
 - Seren 2.0.13

[2021-01-16 13:18] SirRickie commented on #426
Is there a way to delete all the movies in this area by one click ? Or do I have to delete them one by one ? Tnx.

[2021-01-16 13:48] derrgoo commented on #426
One at a time as far as I know.

[2021-01-16 14:18] H4wkeye1 commented on #382
This is still happening as of 2.0.13. Marking the item as watched manually via context menu > Trakt Manger works fine. But otherwise it still gives the same error. I took a pic of the log.

https://i.imgur.com/7hB6GeF.jpg

[2021-01-16 14:19] bills176 commented on #415
Hi,
I'm back. I updated to v 2.0.13. I did a restart on Kodi. Seren went and tried to update "show bookmarks" but responded unknown error failed to connect to Trakt. Looks like my problem persists.  It did return the failure message quicker than in 2.0.12. Following is my log after Kodi startup only.

[2021-01-16 14:20] bills176 commented on #415
Forgot to paste link
https://paste.ubuntu.com/p/BBssYMTGh5/

[2021-01-16 14:22] bills176 commented on #415
I closed by mistake. Fat fingers

[2021-01-16 14:26] #382 closed

[2021-01-16 14:28] borbak opened #428 "Seren 1 won't show movies at all - can't install seren 2 on Apple TV"
For Apple TV useres the only Kodi version available is 17 or 19 (RC1).
Seren 2 only supports Kodi 18 and cannot be installed on Kodi 17/19.

Seren 1 no longs shows movies at all and thus isn't useful for Apple TV users.
Is this a bug?
If not, is there a release date for Seren 2 support for Kodi 19?

Thank you.

[2021-01-16 14:38] nixgates commented on #428
There is, I'll be providing support in the next few days for 19 for 2.0.

If you desperately need to continue running 1.6.9, you can supply your own trakt client id and secret in Seren settings.

[2021-01-16 14:40] nixgates commented on #426
@SirRickie its one by one in Seren but there other options outside of Seren to do multiple ones.

@derrgoo was the other device on for that hour or did you start it an hour later? Note, when you first start the device, there will be stale information for the initial boot of widgets and menus until the background sync happens.

[2021-01-16 14:41] borbak commented on #428
you are the best!! love your work.
Any way to danate??

[2021-01-16 14:50] derrgoo commented on #426
I just started it so maybe that was the reason as you exolaine. I will test again. Thank you

[2021-01-16 15:00] SirRickie commented on #426
Can you give me a hint how to do multiple ones outside Seren, because I would like to clear this section ?

[2021-01-16 15:06] H4wkeye1 opened #429 "[BUG] Seren doesn't mark episodes as watched on Trakt after watching a show"
As the title says, while watching an episode it will scrobble correctly to Trakt however upon finishing it will not mark the episode as watched on Trakt. It seems to be inconsistent and marking does work correctly on other similar addons. It also worked correctly prior to 2.0.

Using Kodi 18.9 and Seren 2.0.13 on a fresh, clean install. Reauthed Trakt.

Debug log files below.

https://paste.kodi.t

[2021-01-16 15:18] nixgates commented on #429
@H4wkeye1 try setting your mark watched percentage down a bit.

[2021-01-16 15:40] H4wkeye1 commented on #429
Will do this after and report back.

[2021-01-16 15:47] H4wkeye1 commented on #429
@nixgates It doesn't let me set it below 80%. And it was already at 80%.

[2021-01-16 16:35] nixgates commented on #429
I'm going to need a debug log of the playback to find the issue if you would please

[2021-01-16 16:49] bdkbaik commented on #427
@nixgates just wonder, is this a bug?

[2021-01-16 17:06] McPoon commented on #418
As of 2.0.13, nothing has changed for me. Still an error when syncing with Trakt and I can't access Next Up or Recently Watched.

[2021-01-16 17:09] bthedorff commented on #365
@nixgates Unfortunately I am still unable access the settings menu. I also tried to add trakt by going to Trakt Sync Tools and I get an error saying Unable to contact Trakt, check the outage status. I did check and at the time everything is fully operational according to their site.

[2021-01-16 17:29] drinfernoo commented on #429
@nixgates Is the log he attached not adequate?

[2021-01-16 17:47] #428 closed

[2021-01-16 17:53] somexone commented on #335
@nixgates i would be curious as to how exactly do I change the metadata provider to trakt?

It's working fine and everything is English with it all set to US English but I definitely prefer the region set to Canada even tho they are very similar.

[2021-01-16 17:53] Welleto opened #430 "[REQUEST] Add a Filter/Sort preference that looks for MULTi when scraping for sources to find movies with multiple audio track languages"
**Is your feature request related to a problem? Please describe.**
No filter to find movies with multiple audio track languages

**Describe the solution you'd like**
Add a sort preference that looks for MULTi in titles when scraping for sources

**Describe alternatives you've considered**
Manually checking through the whole source select list to find a source with MULTi in the title

[2021-01-16 21:27] dimovskidamjan opened #431 "[BUG] Crash while watching movies/tv shows"
**Logs**

[code]

**Describe the bug**
Whole Kodi crashed while watching a movie on Seren. This happens intermittently, and is not related to a particular movie or show.

**To Reproduce**
I cannot consistently reproduce the error, just have to watch movies and tv show until it happens, but it happens multiple times per movie for example, like 2-3 crashes during a normal movie.

**Kodi Version (ple

[2021-01-16 22:11] Bulletbling opened #432 "[BUG] Cannot Open Provider Packages"
**Logs**

https://paste.kodi.tv/oqibuturah

**Describe the bug**
Will not allow me to manage provider packages.

**To Reproduce**
Whenever I click on "Manage Provider Packages" so I can add the scrapers, it gives me an error.

**Expected behavior**
To be able to add the a4k provider package, but I cannot get there.

**Kodi Version (please complete the following information):**
 - Kodi Version [18.

[2021-01-16 23:27] sathish804 commented on #303
@nixgates  I tested this issue in 2.0.13 and it's not resolved yet.
.
![Screenshot_20210117-002445](https://user-images.githubusercontent.com/14090242/104827114-c9bf7200-585a-11eb-8fe9-a7bfc2082909.jpg)
![Screenshot_20210117-002536](https://user-images.githubusercontent.com/14090242/104827117-cfb55300-585a-11eb-8f2e-41d7c345d174.jpg)

[2021-01-17 01:38] Dealz-416LS opened #433 "Hide episode screenshot artwork"
Is it at all possible to hide the episode screenshot artwork (Landscape view) of unwatched episodes until after it’s been marked as watched to avoid spoilers?

[2021-01-17 01:45] jweinr commented on #423
Still errors on 2.0.13

https://paste.kodi.tv/deyimemoyi.kodi

Cleaned cache, reset database and reset trakt auth.
Hopefully this log helps you

[2021-01-17 01:52] jweinr commented on #412
@drinfernoo yes as it is a dependency for seren addon.
@nixgates Oh that clears it, it's only for Seren items. I only use tmdbh widgets and don't normally navigate inside Seren. I thought it could work for non-seren widgets.

Thanks

[2021-01-17 01:54] cdkao opened #434 "Seren v 13 - Invalid Trakt API keys, your authentication has been reset. Please re-auth Trakt account."
**Logs**

Please provide debug logs to assist with your issue

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to hel

[2021-01-17 01:57] cdkao commented on #434
I'm not sure what I'm supposed to do fix this.  I get this message daily now.

Thank you!

[2021-01-17 02:14] drinfernoo commented on #434
Reauthorize Trakt, as the pop-up instructs.

If that doesn't fix it, you'll need to attach a debug log.

[2021-01-17 03:09] cdkao commented on #434
I don't have a Trak

I don't have a Trakt account and didn't need it before so do I need to create one in order to get this working?

Thanks in advance!

[2021-01-17 04:34] MrJardaniWick commented on #434
Same here. Would be interested in seeing what the solution is.

[2021-01-17 05:58] nixgates commented on #423
@jweinr that looks like a trakt time out. Couldn't talk to the server. Perhaps you can try again after a bit?

[2021-01-17 08:10] bdkbaik commented on #427
Just manage to find workaround, need to reinstall back Seren If upgrade to this version

[2021-01-17 09:06] cbizzle14 commented on #434
I don't use Trakt either but I get that message as well. I also get unknown error connecting to trakt every time I launch Seren. Never was an issue before 2.0

[2021-01-17 09:13] queensryche6 opened #435 "[BUG] Trakt Watchlist not syncing"
Trakt watchlist is not syncing properly. Only some of the entries are present. It works fine on other addons.

Thanks for your hard work!

[2021-01-17 12:24] 101ben1011 commented on #418
I have the same issue on series x, since seren 2.0. Trakt either won't authorise properly without an error, or occasionally if I dont get the error message, my tv collection is still empty due to not syncing properly, then later I will find my trakt account has disappeared from the accounts page. I end up disabling seren and retrying when it updates again to try and avoid the trakt overload issues

[2021-01-17 12:44] 101ben1011 commented on #418
Actually,my trakt account seems to authorise ok now on 2.0.13 with no errors, but my tv collection is still a blank page.
If I try and clear metadata and rebuild the trakt database, it throws up a seren error about the trakt synchronisation.
This is a log file just after the sync error:

https://paste.kodi.tv/socaqederu

Regards,
Ben

[2021-01-17 21:30] inventitken commented on #434
I also do not have Trakt, nor will I at any future date. The new version update is now trying to force people to trakt accounts with pop ups.  Looks like it begins with the invoker process that it initiates.  I have this problem on many different units, to include pc.  This was a great add-ons, but with what I'm seeing now, I will be forced to remove from my units, and my new skin build.  Very dis

[2021-01-17 22:24] LoganWolverineX commented on #290
@nixgates i was able to pull a shorter log for this issue that I think may help explain the problem or maybe not.

I know it's a low priority.  But something extra that maybe helps you out later.

Log:
[kodi.log](https://github.com/nixgates/plugin.video.seren/files/5826943/kodi.log)

[2021-01-17 22:31] Liquidrag commented on #388
@nixgates Thank you and your team. The update seems to have fixed this issue.

[2021-01-17 23:14] cdkao commented on #434
I agree.  What a bummer that that this is happening.  Seren will be disabled for now in my build.

[2021-01-18 00:42] nixgates commented on #435
There is no sync for the watch list, but it does appear to be cached. Try clearing your cache and pulling again. I'll fix this for the next update.

[2021-01-18 00:47] nixgates commented on #434
@inventitken @cdkao I'm not forcing the authorization to Trakt at all. Seren has always used Trakt for the initial fetching of meta data for menus.

If you don't have a Trakt account authorized, check you don't have your own keys set for Seren in your settings. If you do, make sure they are active. Seren's original Trakt API keys were revoked and new ones had to be implemented in 2.0.11.

The mess

[2021-01-18 00:50] nixgates commented on #433
@Dealz-416LS you can't set it to hide/unhide on watched.

You can disable episode fanarts (Large thumbnails) using the following setting:

Artwork > Advanced TV Artwork Settings > Episode Fanart

[2021-01-18 00:50] #433 closed

[2021-01-18 00:51] nixgates commented on #431
If you're experiencing crashes, this is due the reuselanguageinvoker setting from Kodi. you can disable this in the shortcuts section of Seren's setting window.

[2021-01-18 00:51] #431 closed

[2021-01-18 01:07] nixgates commented on #290
@LoganWolverineX yea I can see what's happening here.

Looks like OpenWizard is ignoring the cache module due to its name. This needs to be fixed in OpenWizard. It should be detecting the file type to make sure its not a python module.

From what I know, I believe OpenWizard is a dead project?

[2021-01-18 01:10] LoganWolverineX commented on #290
@nixgates yeaaaaa... it’s a dead project... :-(

no one is wanting to takeover the addon lol. I guess it’s understandable. As it would be a pain in the arse to get it rewritten to python 3.

It’s such a good backup tool addon. Thanks for looking at the log file. At least we know for sure now it’s openwizard that’s causing the problem. I’m assuming it will soon have more issues as other addons get

[2021-01-18 01:15] nixgates commented on #427
Looks like there was an issue with your provider structure. A reinstall of your providers would have likely fixed this.

I'll close this off :)

[2021-01-18 01:15] #427 closed

[2021-01-18 01:15] cdkao commented on #434
@nixgates Thanks for the reply.  With your recent updates, I've been getting "Invald Trakt API keys, your authenciation has been reset.  Please re-auth your Trakt account.  Like I said before, I have never had to use Trakt with Seren and it has been working great until your recent updates.  I have also tried wiping and starting Seren from scratch but I am still getting this same message.

[2021-01-18 01:16] nixgates commented on #335
@somexone just in the interface settings.

You can set a preferred meta data provider :)

[2021-01-18 01:26] somexone commented on #335
@nixgates oh wow I completely missed that option. I will keep that in mind.

It's working fine set to US English. Everything is fine except weather was changed to F and we use C but that was an easy fix. Other than that US English region is pretty much same.

Long as all the titles and artwork is in English is my main concern and switching to the US region fixes it.

I have no idea why the Canadia

[2021-01-18 01:33] JayDee696969 commented on #434
@nixgates. What these users are saying is true. If you dont setup Trakt, this message comes up every startup. This is tested on a fresh install of Kodi, Windows 10, with only Repo installed and Seren. No Seren settings were touched.. Heres a log.
[kodi.log](https://github.com/nixgates/plugin.video.seren/files/5827256/kodi.log)

[2021-01-18 01:47] nixgates commented on #424
I'll look into managing those a little better somehow. The amount of data consumed is not something I can control though. That is data generated for each item in the lists. All the Trakt data for those lists are currently stored locally as you can see and the extended meta is acquired on request. This amount of data would be the exact same as if you had browsed the lists.

I will make it a priorit

[2021-01-18 01:48] nixgates commented on #422
@Sobersally can you please confirm is this is fixed in latest version?

[2021-01-18 01:52] nixgates commented on #434
@JayDee696969 thanks for that log, this looks simple enough to fix and it seems like the background sync is trying to sync an account when one is not authorized. I'll fix this up and try and push an emergency patch for it today.

[2021-01-18 01:53] cdkao commented on #434
That's so awesome!  Thank you Nixgates!

[2021-01-18 01:53] JayDee696969 commented on #432
Try changing a setting in the settings menu and hit OK. Then open Settings again. This worked for me. Or restart Kodi if it still doesnt work.

[2021-01-18 01:54] Sobersally commented on #422
Nixgates!
It works for me , where trakt is staying with the new update 2.0.13. You rock!

[2021-01-18 02:01] Bulletbling commented on #432
This seemed to work for me. Weird!

[2021-01-18 02:01] #432 closed

[2021-01-18 02:09] nixgates commented on #434
@cdkao issue was pretty easy to spot, got it resolved for next update :+1:

[2021-01-18 02:22] #425 closed

[2021-01-18 02:22] nixgates commented on #422
@Sobersally sounds good! Closing it off :)

[2021-01-18 02:22] #422 closed

[2021-01-18 02:23] nixgates commented on #396
@cdensel can you confirm that you can now browse the specials?

[2021-01-18 02:23] nixgates commented on #392
@xyzfre can you confirm this issue is resolved in the latest update?

[2021-01-18 02:24] nixgates commented on #416
Fixed in latest update

[2021-01-18 02:24] #416 closed

[2021-01-18 02:24] nixgates commented on #398
fixed in 2.0.13

[2021-01-18 02:24] #398 closed

[2021-01-18 02:25] nixgates commented on #376
@cartersball Fixed in 2.0.13 :+1:

[2021-01-18 02:25] #376 closed

[2021-01-18 02:25] nixgates commented on #373
@mtaki14 good to see! I'll close this off :)

[2021-01-18 02:25] #373 closed

[2021-01-18 02:26] nixgates commented on #354
@Navios92 thanks for that! I'll fix up Recently Watched as well then close this off after the next update :)

[2021-01-18 02:27] nixgates commented on #322
@dazazbab fixed! :)

[2021-01-18 02:27] #322 closed

[2021-01-18 02:28] nixgates commented on #359
@GodsLikelyMe this has been rectified in a recent update. Thanks for letting me know!

[2021-01-18 02:28] #359 closed

[2021-01-18 02:29] nixgates commented on #372
@SerpentDrago closing this up, all fixed

[2021-01-18 02:29] #372 closed

[2021-01-18 02:30] nixgates commented on #415
@bills176 could I ask you to let me know if this is working now? By the looks of the log, looks like Trakt has having some troubles and was returning a server error response.

[2021-01-18 02:38] dazazbab commented on #322
awesome!! thx!!

On Sun, Jan 17, 2021 at 9:27 PM nixgates <notifications@github.com> wrote:

[2021-01-18 02:42] Dealz-416LS commented on #433
I already have that option disabled but still see episode screenshot artwork (Landscape), that option however did work for the background Fanart so episode screenshots are removed from the background.

Is it something that could be added?

Ability to not display episode screenshot artwork (Landscape) until the episode is marked as watched?

Question: What does the setting “Hide next item in widget

[2021-01-18 02:46] nixgates commented on #290
Yea it will, the issue here is it thinks the cache.py file is the actual cache but its the logic to drive the cache

Gonna close this one off :)

[2021-01-18 02:46] #290 closed

[2021-01-18 02:47] nixgates commented on #335
@somexone haha i can understand that, yea unfortunately there isn't much I can do from my side :(

[2021-01-18 02:48] #335 closed

[2021-01-18 02:51] somexone commented on #335
@nixgates i understand that! I am glad I at least figured out the issue.

I am fine with the US region. At end of day it is still in English which is all I wanted.

Cheers :)

[2021-01-18 03:34] nixgates commented on #307
@biscuitgod I've dug into this a bit deeper and looks like there was an issue with how Seren was handling hoster sources. This should be resolved now in the next update :+1:

Tested and confirmed on my end, once it's released can you give it a go?

[2021-01-18 04:10] inventitken commented on #434
Hello.  No trakt here. its like all of your trakt settings, just ignore any input, or not.  I loved your add-on prior to your last push.  I now get a screen of annoying trakt issues, to which none are set.  I did take another look at your script file after my writing. xml settings have no effect.  I venture a guess to the .db file.  I really don't have the time to edit the .db file.  I'm not at al

[2021-01-18 05:39] 12asdfg12 commented on #392
I couldn't check if the issue was resolved because a new episode for the shows on my lists hasn't been aired yet.
The next new episode will be aired tomorrow (The good doctor) and I will be able to check if the show watched status are set to off or not. I will come back with a feedback.

Thank you for solving this problem and for this great add-on.

[2021-01-18 05:51] queensryche6 commented on #435
Already did that. Thanks, You are the best!

[2021-01-18 10:18] cdensel commented on #396
Tested and confirmed working.
Thanks!

[2021-01-18 10:18] #396 closed

[2021-01-18 11:41] bills176 commented on #415
I tried again and am getting the same error. Here is log after start up.
https://paste.ubuntu.com/p/6nd9w7kYZd/
When I force a sync in Seren, everything syncs except show bookmarks returning withe the error.

[2021-01-18 12:32] JayDee696969 commented on #434
Dude, relax. He already said hes going to fix it.

[2021-01-18 14:46] kulti75 opened #437 "[BUG] Dependency on xbmc.python version 2.26..."
I use Seren on 3 devices, 2 Apple TVs and an iPad. Apple TVs are on Kodi 17.6, iPad is on Kodi 18.9. I always get the dependency error on my devices and can’t install Seren. With the latest Seren update (.13) iPad on 18.9 got fixed (I do get the Trakt popup), but still can’t install on my Apple TVs on 17.6. Anyone know an easy fix or should I wait for further updates?

[2021-01-18 15:04] drinfernoo commented on #437
Seren does not support Krypton any longer.

[2021-01-18 15:08] kulti75 commented on #437
Thanks for the quick answer. That’s a bunmer though. I really enjoyed Seren on my AppleTVs.

[2021-01-18 15:08] #437 closed

[2021-01-18 16:21] bills176 commented on #415
I tried force sync multiple times today and receive the unknown error connecting to Trakt every time on the bookmarks. If I'm the only one experiencing this, it would lead me to my install. Could it be the API?

[2021-01-18 17:49] inventitken commented on #434
Sorry for the excitement. Just that I grow concerned when an addon clearly has settings identified as setting for the problem at hand, yet the settings are ignored, and not even an edit in the  controlling file will make it behave.  After watching tv addons inject code, not in a good way, I have pause.  I know that nixgates can and will solve the problem, can see he is very talented. I'm not looki

[2021-01-18 21:02] hockeymachine86 opened #438 "[BUG] New Version Available Popup"
**Logs**
[Log](https://paste.kodi.tv/horenunime.kodi)

**Describe the bug**
I receive the popup stating "A new version of Sere n is available from the repository.  Please consider updating to v2.0.13" and I am already on Seren v2.0.13

**To Reproduce**
Steps to reproduce the behavior:
Comes up at seemingly random times.  Latest was when I turned my shield back on.

**Expected behavior**
No pop-up

[2021-01-18 21:17] hockeymachine86 commented on #438
Reboot recommended as reboot had not been performed since v2.0.12 or 2.0.13 were installed.  Will re-open issue if error occurs again.

[2021-01-18 21:17] #438 closed

[2021-01-18 22:01] Nazim1981 opened #439 "[REQUEST] In Progress Media Missing?"
Watched and unwatched contents who linked with trakt available in Seren under my movies and tv section but one basic thing Continued watching Movies & Tv Shows or Episodes are missing, how can we know what we were watching and what extent we have watched.
Consider it in next update.

[2021-01-18 22:08] nixgates commented on #439
@Nazim1981 could you expand on what you're requesting? I'm really not sure what it is you're after.

[2021-01-18 22:22] nixgates commented on #303
@sathish804 thanks for the settings image! This will help me recreate it! I'll work on it today :+1:

[2021-01-18 22:24] nixgates commented on #310
@xyzfre could you have a look at this issue with 2.0.13. I think we have this one resolved now but need to confirm

[2021-01-18 22:25] nixgates commented on #337
@BinaryAssault is this still causing you grief? Apologies, been a little side tracked and haven't had a chance to really get in touch with yourself

[2021-01-18 22:33] nixgates commented on #356
@MagicFirefly could I ask you if this is still an issue? I believe this was fixed a little while ago but just need some confirmation

[2021-01-18 22:35] nixgates commented on #377
@tayub94 this is actually a duplicate, it's being look at in bug #302

Closing this as a duplicate, please check the other bug moving forward :)

[2021-01-18 22:35] #377 closed

[2021-01-18 22:40] nixgates commented on #390
@StanLee01 I can't replicate this, could you let me know the name of the show and the season this occurred with?

[2021-01-18 22:49] Nazim1981 commented on #439
In progress movies & TV Shows? The point where we resume the movie and play later from exact same point where we left, means continued media,

https://m.imgur.com/3PiQ8oe

You can see progress bar for continued content.

How can we remember what we have played through Seren because there is no in process media option in Seren, watched status and unwatched status is there but not Watching media, Fe

[2021-01-18 22:58] BinaryAssault commented on #337
Hey @nixgates ! No worries man! Still causing me grief with 2.0.13 unfortunately. Surprised no one else has complained about it. I cannot pull my Trakt collection at all. I can check my log and see if the exceptions changed or not if you'd like.

[2021-01-18 23:44] xyzfre commented on #310
OK definitely will check as soon as I get home thanks @nixgates for your response and time￼￼

[2021-01-19 01:58] xyzfre commented on #310
Unfortunately the same issue and this time I did a fresh install of Seren just to make sure it's not on my end two different devices same issue ￼￼

[2021-01-19 02:08] MagicFirefly commented on #356
@nixgates Yes. This is only for the TV shows area. In addition, there's is another issue found with Hide Watched and Hide Un-Aired Items being separate settings. With Hide Watched enabled and Hide Un-Aired Items disabled, the un-aired show titles are hidden. Would you suggest a Wipe Data and start fresh?

[2021-01-19 02:30] Dealz-416LS opened #440 "[BUG] Trakt rating dialog not being displayed for movies."
**Logs**
https://github.com/trakt/script.trakt/issues/519#issuecomment-762442835

**Describe the bug**
Trakt rating dialog box for movies isn't being displayed after playback due to 'resources.lib.scrobbler' not getting a title, only the year.

All 'resources.lib.scrobbler' entries that i looked at in the log are missing movie title.

Movie title missing from below log entry.
`2021-01-18 19:24:05.

[2021-01-19 06:51] 12asdfg12 commented on #392
I checked this morning. A new episode of "The good doctor" was aired, but the state of the tv show is still "watched". Episode and season status is "unwatched".
I'll check again in a few hours when I get home.
When should this sync process run? Maybe the problem is that my Kodi box is turned off (by hdmi check) when i turn off the tv?
Couldn't a sync be run when starting kodi or seren?

[2021-01-19 08:10] tundrablasen opened #441 "[Filter] Keyword preference for auto play"
First of all, thank you nixgates for this great addon. if there is any way how we can tip you a beer, please let us know.

Now to my request:
I would want to use "auto play" but need to use "source select" due to several reasons:
mostly the results on top are not always the one i wanna choose. they are often the biggest with foreign language (ITA often).

1. for tv shows i most likely always choos

[2021-01-19 08:41] MagicFirefly opened #442 "[BUG] Seren indicates Real Debrid Premium has Expired"
After re-authorizing Read Debrid, the Accounts menu and online popup errors indicate the RD Premium has expired. The Real Debrid account is active and is Premium and has several months left. The RD website indicates the account is Premium.

CoreELEC 9.2.5 Amlogic-ng.arm
Linux 4.9.113 aarch64
Kodi 18.9
Seren 2.0.13

Log: https://paste.kodi.tv/acoqepakos

[2021-01-19 09:22] MagicFirefly commented on #442
Glitch. Seren is now showing RD Premium after two previous RD authorizations. The third authorization worked. May have been after a Kodi restart. Tried to upload a debug log, but it was too large. Premium is indicated now. Ticket closed.

[2021-01-19 09:22] #442 closed

[2021-01-19 10:07] SirRickie commented on #440
Same here. Hope this can be solved.

[2021-01-19 11:15] nixgates commented on #392
@12asdfg12 a sync does run, unfortunately kodi will load most of the info for the widgets from Seren before it can complete.

If you could browse to be sure, that would be good. Otherwise, we have a rework for dates in the next update that might also fix this issue.

[2021-01-19 11:20] nixgates commented on #356
@MagicFirefly id much rather get this sorted if you're ok to continue helping?

There should never be a need to remove kodi to fix anything for Seren. You can do a wipe of Seren in the shortcuts section of the settings. That should do anything that a uninstall of kodi could do to fix anything.

If you want to give that a go you're more than welcome. I can't reproduce this at all anymore so I'm hav

[2021-01-19 11:23] nixgates commented on #337
@BinaryAssault i have seen on some devices that a wipe doesn't work correctly back in 1.0 so maybe try a rebuild of the trakt sync database if you havent already.

May I ask how many items are in your collection? Is it small enough to list easily enough here?

[2021-01-19 11:25] nixgates commented on #439
@Nazim1981 if you've connected your trakt account, inside the "My Shows"/"My Movies" menus there is the menu "Continue watching".

This menus contains the last played point for movies/tvshows :)

[2021-01-19 14:17] 12asdfg12 commented on #392
I checked again and the show status is still 'watched'. I tried to clear cache, sync with trakt, restart kodi but nothing changed.

[2021-01-19 14:56] jweinr commented on #412
Better yet, do it automatically and notify elegantly.
"No sources found meeting criteria, expanding search"
Or something along those lines.

El mar., 19 de ene. de 2021 06:39, abbaskip <notifications@github.com>
escribió:

[2021-01-19 17:23] hurricane-dorian opened #443 "[BUG] python3 sorting error on play"
Kodi 19-Rc1
Seren 2.0.13
Python 3.9.1
When trying to play or list sources

INFO <general>: SEREN: Seren, Running Path - {'action': 'getSources', 'action_args': {'mediatype': 'episode', 'trakt_id': 4540222, 'trakt_season_id': 231823, 'trakt_show_id': 144121}, 'from_widget': 'false'}
  INFO <general>: Loading skin file: /home/dorian/.kodi/addons/plugin.video.seren/resources/skins/Default/1080i/persi

[2021-01-19 17:43] BinaryAssault commented on #337
The collection I have is for TV shows only; and currently it has 328 shows. I don't know how to share the list.

[2021-01-19 18:39] henryjfry opened #444 "[REQUEST] configurable option for Smartplay cache/expiration time"
On pre 2.0 version of Seren I had modified the expiration time for smartplay to 12 hours so that when I pick up the next episode of a show I was watching last night it doesnt need to rescrape.

Ive tried making a similar modification for Seren 2.0.13 but for the life of me cant find the option in the code where it determines if a currently cached link has already expired.
It seems to currently try

[2021-01-19 19:48] Nazim1981 commented on #439
Unfortunately there is NO ''Continuous Watching'' in My Movies/My Shows
[https://i.postimg.cc/nr11cNS5/image.png](url)
[https://i.postimg.cc/fy0hGjHJ/image.png](url)

[2021-01-19 21:45] StanLee01 commented on #390
Thanks for replying. With the new update 13 it doesn't occur anymore. So every thing works just fine.

Great work.

[2021-01-19 21:46] nixgates commented on #443
@hurricane-dorian thanks, I'll have this fixed up for next update :+1:

[2021-01-19 21:46] StanLee01 commented on #440
Same here

[2021-01-19 21:58] SerpentDrago opened #445 "[BUG] Custom themes appear broken when using Arctic Horizon"
So i have a mostly stock theme , with only next playing / still watching xmls changed

everything else is using your LATEST stock xml files . the issue is now the selection is not working

I'm guessing something changed and its not mapping the texture file if using the theme in the non stock location ?

I have no idea .

https://github.com/SerpentDrago/SerenTheme-SerenMod-Full/tree/serenstockmod

[2021-01-19 22:14] SerpentDrago commented on #439
its called "Finish Watching"

which is a section that will show you any recent trakt bookmarks (you started watching something and then quit out )

[2021-01-19 22:27] MagicFirefly commented on #356
@nixgates Did the wipe, restarted Kodi. Left all settings as default. Added 4kS, RD and Trakt auths. It didn't help with the Hide Watchlist issue for My Shows/Watchlist. Keep in mind the Movies area is unaffected as well as My Shows/Next Up.

With Hide Watched enabled, I rebuilt the Trakt database to find My Shows/Watchlist contained no content at all. The show titles only display after disabling

[2021-01-19 23:28] nixgates commented on #439
@SerpentDrago thanks! Lol even i can't remember what it's called apparently lol

[2021-01-19 23:30] nixgates commented on #390
@StanLee01 sounds good! Closing it off :)

[2021-01-19 23:30] #390 closed

[2021-01-19 23:31] nixgates commented on #337
@BinaryAssault yea if you'd like, I'll try and recreate it on my end and see if I can't make it break.

If you want you can drop it here or if you like, you can PM me it on reddit:+1:

[2021-01-19 23:33] nixgates commented on #392
@12asdfg12 ok the only thing I can think of is its a miss handling of dates which we have a fix in the pipeline for.

Hopefully have an update today/tomorrow for this.

[2021-01-19 23:36] SerpentDrago commented on #445
Fixed by replacing all occurrences of   white.png with $INFO[Window().Property(texture.white)]

@nixgates  can you go ahead and do this change to your stock xmls , that way in the future your stock xmls will work even outside the stock folder locations

[2021-01-19 23:52] SerpentDrago commented on #445
Dang it , well i got the MAIN selection working , but not if i go right over
![image](https://user-images.githubusercontent.com/21133858/105108086-7da54500-5a87-11eb-95d3-d0820ede6d9d.png)

[2021-01-20 02:04] BinaryAssault commented on #337
Sent the info over on reddit for you. Interesting fact, on a fresh install (on W10) with a fresh build of Kodi, same error occurs for me.

[2021-01-20 03:07] streamindemons opened #446 "[BUG] Smart Play select of close does not close the playlist"
https://paste.kodi.tv/simazinafa

The Smart Play Dialog still plays an episode after hitting "close" or "cancel" (dependent on skin)

Steps to reproduce the behavior:
1. Go to any episode that will have a following episode after it (shuffle play works too)
2. Scroll to the last 45 seconds or so when the dialog pops upo
3. Hit "close"
4. show will finish and go into next episode instead of closing

[2021-01-20 05:48] nixgates commented on #446
@streamindemons this is by design, that dialog will either skip to next or close itself depending on the button selected.

This is why in the original skin, it is labeled as "Close" and not cancel.

[2021-01-20 05:48] #446 closed

[2021-01-20 05:52] nixgates commented on #444
@henryjfry it's currently set to an hour. It should be noted though, playable links from debrid providers do expire and I would not recommend setting it to something as high as 12 hours. This is something more advanced that I wouldn't like to expose to most users.

If you want to manually adjust it yourself, look in:
`resources > lib > modules > helpers`

You'll notice the cache decorator for each

[2021-01-20 05:52] #444 closed

[2021-01-20 05:52] nixgates commented on #443
@hurricane-dorian fixed awaiting update :)

[2021-01-20 05:53] #439 closed

[2021-01-20 11:15] henryjfry commented on #444
Ok thats good to know, I did see those lines in the code but that must be some pythonic stuff i'm not too familiar with at this stage in my learning, i just figured it was like a true/false indicator.

I get why you might not want to have this as a user configurable option, for me I'm happy to rescrape on the odd occasion a RD link has expired in the interim. Cheers.

[2021-01-20 11:44] titelheld opened #447 "[REQUEST] Trakt2Kodi browser extension integration"
Hey I have found this awesome browser extension: https://panicked.xyz/trakttokodi/

Browser Extension description: Open/Play content with a compatible Kodi add-on from trakt.tv in your browser.

It would be amazing if you could support it in Seren.

They way I envision it is that one could sit on their couch browsing Trakt.tv on their laptop computer and just press the play button on the Trakt web

[2021-01-20 12:25] titelheld commented on #447
this is the link to the Kodi plugin needed to support the browser extension.

https://github.com/anxdpanic/script.trakttokodi.libconn

[2021-01-20 12:33] drinfernoo commented on #447
That plugin only works with library content, it appears.

[2021-01-20 12:52] titelheld commented on #447
That’s is a shame. Unfortunately I know very little about programming so I thought perhaps it would be possible.

The developer however posted in an issue thread that ‘Anyone can make an add-on to use the extension, the end-points are documented [here](https://github.com/anxdpanic/TraktToKodi-Extension/wiki/Addon-Endpoints).’
I thought that perhaps with these ‘endpoints’ integration into Seren wou

[2021-01-20 14:10] ShibajiCh commented on #429
Hi @nixgates , I'm also facing this exact same issue like @H4wkeye1. Trakt scrobbles fine on playback but after watching the video it's not marked as watched in Trakt. Also I noticed that this mainly happens when we continuously play a video from start to end without forwarding or rewinding it in the middle. Prior to Seren 2.0.x it used to work perfectly. Also I'm not getting the "Up Next" Dialog

[2021-01-20 16:13] drinfernoo commented on #447
Actually, reading through the endpoints wiki page and issue you attached, it does look like it *may* be possible.

@nixgates This may be kind of cool, as it appears you set the add-on ID in the script's settings, and then it simply passes through the correct IDs in order to play, similar to the way TMDbHelper works.

[2021-01-20 18:51] ShibajiCh commented on #429
Hi @nixgates, after checking in several devices I can now confirm that the video scrobbles correctly in Trakt but gets marked as watched in Trakt only after a delay of about 12-15 mins after the complete video playback ends. Kindly check and advise. Thanks!

[2021-01-20 19:51] peterDijk commented on #325
I had the same after the update. Found this bug issue, noticed the `pre-termination setting`. Looked it up, indeed it was enabled. Definitely did not change any setting for months, so the update must have caused this. Turned it off, and streams work immediately. Thanks!

[2021-01-20 20:52] connoch1 commented on #325
Thanks Peter. I've uninstalled Seren on all my sticks and switched to other
addons. Seren has been very off and on since 2.x came out.

I think I'll wait until Kodi 19 comes out to try Seren again.

Appreciate your help.

On Wed, Jan 20, 2021, 1:51 PM Peter van Dijk <notifications@github.com>
wrote:

[2021-01-20 21:24] Robinjoeh opened #448 "[BUG] Python 3 compatibility - fetching sources"
**Logs**

2021-01-20 23:16:03.634 T:12896   DEBUG <general>: SEREN: Processing Time -  13281ms - getSources
2021-01-20 23:16:03.634 T:12896   DEBUG <general>:

2021-01-20 23:16:03.651 T:12896   ERROR <general>: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
- NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
Error Type: <class 'TypeError'>
Error Con

[2021-01-20 22:10] nixgates commented on #448
duplicate of #443 Fixed awaiting incoming update in the next few hours

[2021-01-20 22:10] #448 closed

[2021-01-20 22:13] nixgates commented on #418
@McPoon @101ben1011 please follow this on the main bug already raised for this. #274

This has been addressed and will be available in the next update :+1:

[2021-01-20 22:22] nixgates commented on #423
Closing this off, no longer reproducible on my end and no one seems to be replying.

Let me know if this is still an issue and I'll re-open it.

[2021-01-20 22:41] nixgates commented on #302
So I think I've managed to identify the issue, I've tested this against a liked list that only has 2 items and it doesn't happen, but the trending and popular endpoints were still producing the issue.

@tayub94 @SamDW96  not sure if you can, but could I ask one of you to double check my findings above?

If your findings are the same, I've got this fixed for the next update :+1:

[2021-01-20 22:47] nixgates commented on #297
@ivarbrandt unfortunately from my testing on some jurial skins, the skin is overriding this information by displaying the remaining episodes to watch instead of the in progress marker.

This would need to be addressed by the skin developer unfortunately as Seren is providing this information correctly and can't manage how it's displayed.

I'm here if you need any help further but I am going to clo

[2021-01-20 22:47] #297 closed

[2021-01-20 22:53] nixgates commented on #241
@Arathonk you can binge watch shows without having the dialog enabled. It's just a dialog, it doesn't handle any process.

Seren makes use of the Kodi's playlists to provide the "binge like" effect so the dialog is not required.

Unfortunately stopping the playback and then starting the next one isn't really a great solution as stopping the playback clears the current playlist. While it's possible

[2021-01-20 22:53] #241 closed

[2021-01-20 22:53] #229 closed

[2021-01-20 22:54] nixgates commented on #272
@Cwoo0 this is fixed for the next update tested on a xbox one and a series X!

[2021-01-20 22:55] SamDW96 commented on #302
Could you clarify what you mean a little further? Not sure if I get this right. To check, should we populate the Liked Lists section with lists that only have 2 items in them, and remove other lists from it?

[2021-01-20 22:56] nixgates commented on #279
@jpgadbois that was due to an issue with settings not sticking. Fixed in a previous update.

In the coming update there's now separate options for paginating collection and the sort style. :+1:

[2021-01-20 22:56] nixgates commented on #275
@oathzed ready in next update 👍

[2021-01-20 23:09] oathzed commented on #275
Right on. Thanks man

[2021-01-21 01:25] drinfernoo commented on #446
Could we have the option to override Smart Play, stopping early?

This would basically be "play now", "play next", or "stop".

[2021-01-21 02:36] lowersublobia opened #449 "[REQUEST] Source size sorted by file size for both RD and Premiumize"
Real simple request that I’m sure most people would agree on.

Is there a way you could implement sorting by file size when both RD and premiumize are used ? The way it works now is if your limit for resolution is 1080p for example and you use both RD and premiumize , Seren goes through all Premiumize links from highest to lowest file size in that resolution, then switches to RD.

This is an issue

[2021-01-21 02:46] LoganWolverineX commented on #449
if you change it to no grouping, it works as a workaround, for the time being.  But i did notice this too when i have it group by resolution, it groups resolution first then debrid provider, then size.

I would be nice if you group by resolution, it orders by size first then debrid provider.

[2021-01-21 03:45] lowersublobia commented on #449
@LoganWolverineX thats exactly what I’m looking for , very similar to how venom operates

[2021-01-21 06:42] ShibajiCh opened #450 "[BUG] Time delay in marking videos as watched in Trakt and Up Next Dialog not working"
Hi @nixgates ,

This issue is similar to #429. However, it's a bit different so I'm opening a new issue ticket.

Trakt scrobbles fine on video playback but after watching the video it's not marked as watched in Trakt. I noticed that this mainly happens when I continuously play a video from start to end without fast forwarding it till the end. On observing the issue keenly on several devices I foun

[2021-01-21 06:48] LoganWolverineX opened #451 "[BUG] Unable To Connect To Repo and seren 2.0.14 fails to load after install from github master."
I was not able to connect to seren repo.  So I tried to grab 2.0.14 zip  from github then install.  But after installing 2.0.14, Seren fails to load.  I've rolled back to 2.0.13.

[2021-01-21 07:02] LoganWolverineX commented on #451
I was able to figure out how to get repo 2.0 to work.  after i downloaded it from github, i had to drill into the zip and grab it from here: "nixgates-master.zip/nixgates-master/packages/leia/nixgates.repository/", then copied it out...

Now i'm trying to install 2.0.14, but it says i don't have python 3.0 dependency error.

[2021-01-21 07:55] LoganWolverineX commented on #451
Looks like you had a long painful evening updating this but looks like it now works :).  both repo 2.0 and seren 2.0.14.  Thanks for all your hard work as always.  Closing this out.