[2018-11-23 19:06] mgonzales71 opened #3 "TV Show artwork"
Quick question / feature request...

But first wanted to say brilliant script and I personally am very thankful and appreciate this - been testing since I saw the post on reddit and works pretty good once I got real-debrid and trakt to register properly.

anyway back to the request for consideration...

It would be awesome for the script to set TV Show artwork (specifically clearlogo and clearart)

[2018-11-23 19:11] mgonzales71 commented on #3
oh and was curious what omni connect is...  I can't seem to find mention of or find a download of the script script.module.omniconnect other then in your code :)

thanks again!

[2018-11-24 04:57] nixgates commented on #3
OmniConnect is a seperate add-on that provides multi-year RD  streaming.

It is still very very alpha at the moment so unlikely to see it anytime soon.

Fanart API is currently in the lower priority list but will be included in a future update therefore providing requested clear art.

I'm closing this issue as technically it's not an issue, but keep an eye on the updates as clear art will be provi

[2018-11-24 04:57] #3 closed

[2018-11-26 09:19] nixgates opened #4 "Kodi 18 RC1 crashes when attempting to play from widget"
Kodi Version: Kodi 18 RC1
Issue: Kodi crashes when Seren is requested to play an item directly from a widget.

How to reproduce:
Selecting to play any item within next up menu from a skin widget

Possible cause: Custom Dialog Windows

[2018-11-26 10:50] nixgates commented on #4
This issue has been resolved in version 0.1.11

[2018-11-26 10:50] #4 closed

[2018-11-26 18:15] VenomousRage opened #5 "MetalliQ/Chappa'ai Player"
Is there currently a player for MetalliQ/Chappa'ai? If not, is there any plans to implement one?

[2018-11-26 19:59] SerpentDrago commented on #5
I also would love to have a player , I have tried to make one but was unable

[2018-11-26 20:01] drinfernoo commented on #5
That is out of the scope of this project. MetalliQ and Chappa'ai are both abandoned projects. Obviously players are able to be created still, but @nixgates has no affiliation with them, and thus no obligation to do so.

[2018-11-26 20:04] SerpentDrago commented on #5
this may work , NOT my work , and untested >

https://github.com/vitorp07/players

[2018-11-26 20:40] VenomousRage commented on #5
I tried that, @SerpentDrago , but couldn't get it to populate on the list. Thanks for the thought, though.

[2018-11-26 20:49] SerpentDrago commented on #5
we are working on it will post results another time

[2018-11-26 20:50] VenomousRage commented on #5
Awesome. Thanks for the heads up, as well as the consideration.

[2018-11-26 21:06] SerpentDrago commented on #5
THIS IS JUST a test , please don't give this out or expect it to always work , use this as your player zip url

https://github.com/SerpentDrago/deepthoughtplayers

[2018-11-26 21:06] SerpentDrago commented on #5
Please close this thread , and feel free to open a new one on that repo though

[2018-11-26 21:07] VenomousRage commented on #5
Awesome, thanks, thanks, and will do.

[2018-11-26 21:07] #5 closed

[2018-11-27 04:02] vitorp07 commented on #5
@VenomousRage @SerpentDrago
The player do work perfectly but not with MetalliQ, Chappa'ai... because their configuration is different than the one I use version.
If you tell me which fork you are using I might be able to help you, also provide which version of Seren you have installed since the addon id changed to lowercase ```plugin.video.seren``` as opposed to ```plugin.video.Seren``` in the mas

[2018-11-27 15:23] VenomousRage commented on #5
I've pulled the master repo and have used the updated version, as it has yet to be pushed to the nixgates repo. I'm currently using Chappa'ai,. The info that @SerpentDrago provided solved my issue, as soon as I pulled the most up to date version of the addon. Thanks for the though, though.

[2018-11-27 15:33] VenomousRage commented on #5
Good to know @nixgates . I expected some bugs, given the straight up disclaimer that you put in the addon itself. :P Luckily for me, I haven't experienced any issues at all.

No need to apologize, I'm the one messing around with a beta version. Keep up the good work!

[2018-11-27 18:01] SerpentDrago commented on #5
@vitorp07  Thank you for the player url , @drinfernoo took it and updated our players on our metalliq fork . We tried for weeks  !!

Only thing that doesn't work is poster / fanart . Everything else is working perfectly . All meta data shows !

[2018-11-27 22:56] vitorp07 commented on #5
@SerpentDrago
All Metadata, plot ,tagline, genres, poster ,fanart...(even the fanart background during Seren's scraping) are working here, you will need to update your fork for it work properly,
Check the debug log after selecting Seren from your fork it will show you exactly why you don't get poster/fanart.

[2018-11-28 01:33] drinfernoo commented on #5
We were unable to get the artwork to work for TV shows @vitorp07... do you know what change needs to be made in our fork to pass that information correctly?

[2018-11-28 04:51] drinfernoo commented on #5
yeah

[2018-11-28 04:51] drinfernoo commented on #5
@vitorp07 Yep, that's the one!

[2018-11-28 09:00] vitorp07 commented on #5
@drinfernoo Done.

[2018-12-01 19:40] Jezze83 opened #7 "Kodi crash when installing repo"
I have latest libreelec installed. When i choose install from zip file, choose repo zip, kodi just restart. It wont install repo. What logs you need,kodi crash log or what?

[2018-12-02 16:36] ruegnueg opened #8 "Library Integration"
As great as your addon is, I'll never abbandon the kodi library, it's way faster browsing it then trough any addon 😉 and way more convenient than using Trakt lists. And yeah I could use widgets and custom skin menus etc. but still the library tops it all.

So I'll wait and hope this feature comes.

But as I said, great work.

[2018-12-03 17:16] Mastacc opened #9 "Survivor - Season List is Wrong"
Go to Survivor in TV Shows, and the season list is completely wrong. They're basically all in the wrong order. For example, the 30th season is listed as season 39 when there are only 37 seasons released.

I'm not sure if trakt's Survivor page is just wrong or if it's a strange bug since all other shows I've seen are correct. Perhaps other shows are also wrong, but this is the only one that I've no

[2018-12-05 02:16] dm2912 commented on #9
survivor is an ongoing problem with all kodi add ons. For years even trying to play an episode of survivor caused covenant, incursion, exodus and anything else to crash completely. Theres something really badly up with the survivor meta on both trakt and tvmd

[2018-12-05 04:54] mgonzales71 commented on #3
@nixgates noticed an issue with add on not handling trakt,.tv;s api.trakt.tv being down or spotty.

not many folks know about http://status.trakt.tv/  maybe you can handle trakt.tv outtage better or at the very least check api status and present to the average user what is causing nothing to show up in TV but movies seem to be "ok".

just a suggestion :)

[2018-12-05 18:20] Mastacc commented on #9
The season list is in the right order on the Exodus forks. I assume it's because on Trakt the seasons aren't listed as "Season 1", "Season 2" but instead "1: S1Name", "2: S2Name" which makes it bug in seren or something. Never had a problem before.

[2018-12-09 23:44] RagnarLothbrok-Odin opened #10 "Autoplay adding unaired episodes to playlist"
I use Seren with Trakt, I do not have the official Trakt addon. I also use the up-next addon.

I noticed that around 50% of the time, unaired episodes are adding to the playlist, due to idiots mislabeling episodes they actually end up playing. This would not be an issue as I just stop it when it starts, but my issue is that Trakt is marking it as watched. Adding a percentage needed to watch before

[2018-12-11 12:11] nixgates commented on #9
The issue is Seren alphabetical sorts seasons.
I'll add a sort to season lists to sort by season number and still display the season title.

[2018-12-11 12:12] nixgates commented on #10
Apologise, fat finger closed the issue.

It's a known issue, should be fixed for 0.1.19

[2018-12-11 12:13] nixgates commented on #7
Any logs you can provide would be great as I don't have much to go on at the moment.

[2018-12-11 12:14] nixgates commented on #8
I'll look into it, but with the way Seren works it may not be possible or may be slightly slower than other add-ons.

[2018-12-11 13:12] SerpentDrago commented on #8
@nixgates Don't worry about Library integration , This job is best handled by a Metalliq fork thats almost ready for release , fully working in 17 and 18 .  Smartplay and normal play players are already fully working . Library integration also

[2018-12-11 13:31] ruegnueg commented on #8
which fork? I tried awhile ago wraith and metalliq and it was never as good as a native library integration from the addons itself, auto update shows etc 🤔

[2018-12-11 21:46] jorritsmit commented on #8
I would like to know as well. I have added some functionality to the first metalliq (two sync trakt) and would like to integrate that somewhere

[2018-12-18 06:20] nixgates commented on #10
Development git is now at 0.1.22 and the issue should be fixed.

Update to repo should happen within the next 24 hours.

[2018-12-18 06:20] #10 closed

[2018-12-18 06:21] nixgates commented on #9
As of 0.1.22 Seren now lists seasons by season number but also retains the season name

Development git has been updated and repo will receive update within the next 24 hours should no major issues arise.

[2018-12-18 06:21] #9 closed

[2018-12-18 07:15] jorritsmit commented on #8
You are right

[2018-12-19 03:03] mophawka opened #11 "Movie Watchlist sort order permanently stuck at recently added or rank."
When changing the default order of any "personal" list and clearing cache the list ordered changed in seren with no issues.
However, Trakt movie watchlist always defaults to rank or recently added within seren no matter what sort order i choose in trakt.tv. I upgraded to latest developmental build, cleared cache, reauth trakt and still am having the same issue.  This is occurring on 3 different tr

[2018-12-19 04:35] nixgates commented on #11
Cool sounds like I've missed something. I'll dig into it and hopefully get 0.1.23 up in a few hours

[2018-12-20 12:27] ventsislav-georgiev opened #12 "[FeatureRequest] Cache Assist for TVShow Season"
Currently the cache assist will trigger debrid service download only after no cached sources are found. It will be great if we can trigger cache assist on a whole season. It doesn’t have to check if episodes already have cached sources. Just find torrents with appropriate resolution and add them for  debrid download. This may be used to improve the cached sources, if the current ones are not good.

[2018-12-20 16:57] mophawka commented on #11
@nixgates Thanks for putting up the new version to fix Trakt movie watchlist. upon testing the sorting is only partially working for me. I set the watchlist to title, cleared cache, and it worked! Watchlist sorted by title. Then i attempted to sort by "Release Date" and then "Percentage". neither sorted and it defaulted to rank/recently added. Not sure what to make of it.

Thank you

[2018-12-21 00:10] edwardmolasses opened #13 "Kodi crashes & reboots when playing a stream"
I went to movie streams from a trakt list, and attempted to play one, it showed a black screen for a while and then after a while Kodi rebooted.

I'm running LibreElec 8.2.5 (Linux 4.9.80)
and that is running: Kodi 17.6 Git:a9a7a20

There's a [pastebin of the crashlog here](https://pastebin.com/VTQpEgMT).

The addon was working great for half a day, i hope i can get it working again, it looks grea

[2018-12-21 06:19] icpryde opened #14 "Seren Errors when Loading Kodi (attached log)"
Hey Nix,

I wanted to share some errors I'm getting and not sure why I even installed from a back up that was working and still getting errors all over the place with Seren.

Here is my log file starting on line 586 you will see all the Seren errors I'm getting.

http://paste.kodi.tv/basuvixaju

[2018-12-21 06:50] JackDinn opened #15 "Nextup is showing episodes a day early, ver 0.1.24"
"Nextup" is showing episodes a day early. The aired date of episodes on Seren are a day ahead of the Trakt aired date.  (i have mentioned this on reddit but wanted to put this issue in the correct place).
Screen shots using Seren Ver 0.1.24

https://i.imgur.com/Y9DQDgf.png
https://i.imgur.com/p3egIoy.png

[2018-12-21 20:53] loggio opened #16 "Episode Custm View not working"
Using Leia

As title suggests...

Something weird going on... I'm using the Arctic Zephyr skin, i can set custom view types for all views... But no matter what i set for Episode View in Seren settings, Seren will always default to a standard list view for episodes.

and when in the episode view, pressing backspace to go back to "season" , the season view changes to what the ''episode" view should

[2018-12-22 08:33] icpryde commented on #14
I installed a fresh copy of Kodi 18 RC1 and installed Seren, everything installed beautifaully and everything seeeeems to be working yet when I look at the log file I still see errors which you can see on line 272 and below.

https://paste.kodi.tv/oyeruwocej

[2018-12-22 18:33] SannhetJaeger opened #17 "Next Up Hangs"
Trakt integration is enabled and generally functional as evidenced by Lists populating, Trakt Bookmarks working to resume.  The Next Up feature hangs with no apparent processing / progress loading on my installation.

Basic build info: Seren 0.1.24 / Kodi 17.6 / 4K Firestick.  Only entry in log appears after clicking back or killing Kodi session:

13:26:59.491 T:18446744073370097952   ERROR: GetDi

[2018-12-22 22:38] dimdam opened #18 "Seren randomly losing trakt and RD credentials"
What the title says and here is the log file:

https://pastebin.com/2FyL5yWC

[2018-12-23 12:40] mgonzales71 opened #19 "RD - Cache Assist (No Sources) Failure - runaway caching"
Seems as if for instance I am trying to watch Episode 2 of Season 3 of The Flash
I will get a no playable sources found and then the addon appears to be looking for shows again after saying it is attempting to build a cache.... in fact it seems that if that episode fails then it will jump right to the next and if that fails to the next and so on (until I back out of add on)

I've heard that the fo

[2018-12-23 23:11] RavRob opened #20 "Trailers playing behind menus"
Whenever I play a trailer it always plays behind the menus.  I have tried with other addons and the trailers play properly.
krypton 17.6
Skin Transparency
nVidia Shield

[2018-12-24 01:56] SannhetJaeger commented on #17
Wow - totally annoying.  I just setup a test environment on Mac OS X to help troubleshoot.  It worked just fine.  Went back to Android to test again and it worked just fine.  Argh.  I am going to close this as likely related to trakt.tv having latency / issues.  If this recurs, I will collect more information and re-open.

[2018-12-24 01:56] #17 closed

[2018-12-24 02:17] icpryde opened #21 "Finish Watching doesn't continue from where you left off"
When you stop a movie, it will pop up in the "Finish Watching" category but when you click the movie from there it will start from the beginning, I notice if I click the same movie from within my trakt list the movie will play at the proper time but in the "finish watching" section it just always starts from the beginning.

This is on 0.24

[2018-12-27 02:45] RavRob commented on #15
Yes, same thing here.  Not sure if it's a full day early but at least 12 or more hours early for sure.

[2018-12-27 10:51] nixgates commented on #16
Can you please let me know what version of Kodi you are running?

[2018-12-27 15:12] loggio commented on #16
Hi

I did, it says "using leia".

I use leia on 4 rpi's and 1 Nvidia shield.
All experiencing the same issue.

[2018-12-30 20:37] halsandr opened #23 "[Feature Request] Initiate Search through JSON-RPC"
Currently to search for a film/show through the JSON-RPC I have only found a way to do it in 2 requests which feels clunky and prone to error.

```http://libreelec.local:8080/jsonrpc?request=[{"jsonrpc": "2.0","id": 2,"method": "GUI.ActivateWindow","params": {"window": "videos","parameters": ["plugin://plugin.video.seren?action=moviesSearch"]}}]```

```http://libreelec.local:8080/jsonrpc?request=[

[2018-12-31 20:38] vinkop opened #24 "Usenet support like nzbgeek, nzbfinder and easynews in future?"
Hello, thanks for great addon and we will be very happy to get support for best Usenet services in Seren addon.....we need it for older content where we can't find cached torrents....

[2019-01-01 17:16] lukehansford opened #25 "Please add non cached links option & packs"
Please can you add an option in settings to show non cached links for real debrid and allow us to add them to real debrid.

Can you also add support for season packs in real debrid.

Gaia has both of these working.

[2019-01-04 13:50] jimwormold opened #26 "[Feature request] Download streams"
Would it be possible to be able to download content rather than always streaming? Apologies if I've missed a setting somewhere (similar to the download settings in incursion).

Thanks

[2019-01-10 06:53] nixgates commented on #25
Season packs with Real Debrid are supported provided RD has the file available to stream.

You can set your cache style to manual in the settings. This will show you all the identified items and you can choose to cache one should you wish. This will be performed in the background and you will be free to use Seren while it occurs.

[2019-01-10 06:53] #25 closed

[2019-01-10 06:58] nixgates commented on #23
I've added support for this in Seren 0.1.25.
This will allow you to make a request to search and supply the value in one call, therefore bypassing the text input.

[2019-01-10 07:03] nixgates commented on #21
I'm not able to re-produce this issue. Can you please provide a log

[2019-01-10 07:05] nixgates commented on #19
Come 0.1.25 I have added a fallback to clear the playlist if no sources are found.
This will stop Kodi from automatically attempting to play the next in the list.

[2019-01-10 07:43] nixgates commented on #12
You can set Seren to ask you to select what source you would like to cache. This sounds like it is appropriate for what you want.

[2019-01-10 07:43] #12 closed

[2019-01-10 07:44] nixgates commented on #7
It has been nearly a month since I've had any information. I'm closing this ticket.

[2019-01-10 07:44] #7 closed

[2019-01-10 08:11] nixgates commented on #11
Ok I've dug through all the sorts manually and checked that they all should work come 0.1.25
If this issue persists after the update please let me know.

[2019-01-10 08:13] nixgates commented on #13
That looks more like Kodi crashed whilst working with ffmpeg. Can you confirm this issue is not present with other addons?

[2019-01-10 08:15] nixgates commented on #26
I do not have any intentions of adding downloading to file support as this is out of the scope of Seren. If you wish to do so, you should utilize your cloud providers website to handle downloading a file.

This may change in the future, but I don't likely see any reason to do so.

[2019-01-10 08:15] #26 closed

[2019-01-10 08:16] nixgates commented on #18
This has been identified and I'm investigating it as closely as possible but yet to locate any reasoning for it.

I have a hunch it has to do with threading but that's just a very loose hunch with no evidence.

I'll leave this thread open as the main github thread to track this issue. Thank you for reporting it.

[2019-01-10 08:18] nixgates commented on #16
This seems to be a bug in Leia and I can replicate this, can you let me know what version of Leia you are running?

Have you attempted to update to the latest RC4.

It's almost as if Kodi is refusing or failing to accept the requested view type.

[2019-01-10 08:19] nixgates commented on #14
The sort errors in your third log should be solved with 0.1.25.

[2019-01-10 14:16] icpryde commented on #21
Hey @nixgates , so here’s my log I just tried it again and it does the same thing. I also provided a short video so you can see what it’s doing.

Here’s the log:

https://paste.kodi.tv/akomukakiv

Here’s the video:

https://streamable.com/ocybd

[2019-01-10 18:31] loggio commented on #16
I use the latests nighties, so always bleeding edge for me up until stable release. Then I normally wait 6 months before starting on nighties again.

[2019-01-11 05:36] nixgates commented on #16
Using nightlies isn't recommended for everyday use but either way I can replicate the issue on RC1.

As I did mention, this does seem to be a Kodi issue at this point but I'll dig down into it a bit further and see if I can find the cause and/or a workaround.

[2019-01-11 05:43] nixgates commented on #21
It's odd, would you mind holding out for 0.1.25 and testing that again for me?
There's a few changes in that coming release that may hopefully help this situation.

I'll let you know once it's live

[2019-01-11 05:56] mophawka commented on #21
this seems to be an user error.  i've spoken to icpryde and we determined his trakt bookmark prompt was unchecked causing videos to start over instead of prompting for a resume.

[2019-01-11 05:59] mophawka commented on #18
@nixgates not sure if this is related but i do see a ton of "threading" error in directories/list that has a huge amount of shows/movies/ and have lost seren credentials right after. with lists close to 500 or more items.

[2019-01-11 06:02] mophawka commented on #11
looking forward to it. will update this post shortly after update is available and tested. cheers

[2019-01-11 06:19] nixgates commented on #18
Can you get me a copy of that log? That would be helpful.

[2019-01-11 22:57] mophawka commented on #18
of course!  https://pastebin.com/R0PqPwv2

as i stated no clue if this is related but here an example of trying to access to the TV Collections directory with no success. in the end kodi had to alt f4 to be closed.

[2019-01-12 09:58] mophawka commented on #21
Working here without flaw https://streamable.com/9wbqy resume prompt pops up and starts from one device to the next to the next where i left off. unclear if its a seren issue or skin suppressing the prompt?

[2019-01-12 18:10] SerpentDrago commented on #21
What version of kodi are you both using ?

What skin ?

[2019-01-12 18:19] icpryde commented on #21
I’m using Aura skin on 18 RC1

[2019-01-12 18:51] mophawka commented on #21
17.6 Eminence 2.0

[2019-01-13 05:04] nixgates commented on #18
I've managed to re-create the settings loss issue and as I suspected, it does seem to be due to to many threads changing settings at once.

So from my tests, there are three things I can confirm:

- It is less likely to occur on RC versions of 18 (18 was able to handle massive amounts of threads without failure)
- It's reproducible by generating multiple instances of the python interpreter and the

[2019-01-13 06:08] mophawka commented on #18
@nixgates > thanks for looking into this. As you can see the log is from kodi 17.6 using the Xonfluence skin but with no widgets used. those errors were all generated when attempting to get open the TV Collections directory with over 500 items. nothing else was attempted due to Kodi crashing at the end. Thanks!

[2019-01-13 07:58] mophawka commented on #11
Movie Watchlist sorting is now fixed with 0.1.25 update. Thank you!

[2019-01-13 07:58] #11 closed

[2019-01-13 11:31] ventsislav-georgiev opened #28 "Providers Implementation Guide"
Is there a guide anywhere on how to write providers for Seren? What are the APIs that need to be provided, how the auto-update should work etc?

[2019-01-14 04:00] mophawka commented on #18
@nixgates took previous post into consideration and updated to Leia RC1 did not see much of threading errors and did not lose seren credentials but still cant open the collections directory. just hung with spinning wheel for over 30 minute and had to alt 4 to close kodi. let me know if this is an entirely different issue now and i will open a create a new issue. again this is Xonfluence skin with

[2019-01-17 00:18] mgonzales71 commented on #19
you're awesome - thanks again

[2019-01-17 07:53] Sunseng opened #29 "Subtitle"
Please add an auto subtitle download for us non english speaker in this best addons. Tyvm.

[2019-01-18 04:57] nixgates commented on #28
I'll write some documentation on the implementation now for you and add it to this repository.
It's about time I added some FAQ's and documentation.

[2019-01-18 05:46] nixgates commented on #21
@icpryde can you please manually install 0.1.25 and see if your issue still persists?

[2019-01-18 06:57] nixgates commented on #28
There is now documentation in the repository wiki outlining custom providers.

You can find it here - https://github.com/nixgates/plugin.video.seren/wiki/Custom-Providers

I'll try my best to continue to write documentation for the add as I go.

[2019-01-18 06:57] #28 closed

[2019-01-18 07:20] mophawka commented on #18
@nixgates the issue was reported in previous post with log was after updating to v 0.1.25. Its in the log line "88: 17:48:37.622 T:8592  NOTICE: ADDON: plugin.video.seren v0.1.25"

Thanks

[2019-01-18 13:12] icpryde commented on #21
@nixgates I’ll try it out today and report back

[2019-01-18 14:35] bugatsinho commented on #29
until this feature be added to the addon,
you can simple use the auto subs addon from kodi repository and set up on your kodi settings the subtitle language and install the opensubtitles addon!

[2019-01-18 14:55] icpryde commented on #21
@nixgates Hey I have good news! 0.1.25 fixed the issue I can now resume under "finish watching" It works as intended now :)

[2019-01-19 21:13] icpryde commented on #29
Exactly this is not necessary, you can add the kodi addon for subtitles and do exactly what you are asking.

[2019-01-19 22:48] cojoMan commented on #15
Hey, what skin are you using and how did you manage to set it up like that - I'd like to have smth similar set-up  for my fire tv... Top row is in progress tvshows I assume and lower side is a custom list ?...
thanks :)

[2019-01-19 23:06] JackDinn commented on #15
Its just the Aura skin, there are several skins you can setup with custom widget bars like Aura, Titan & Aeon nox silvo etc but you would probably find them heavy for fire TV.

Aura:-
https://forum.kodi.tv/showthread.php?tid=328558
Other skins:-
https://forum.kodi.tv/forumdisplay.php?fid=160

Regarding the main subject, i created an alteration to the "next up" code to only show episodes that are a

[2019-01-19 23:08] cojoMan commented on #15
Will try it out, thanks for the info, I might have another question or two if it's too difficult to setup :)

[2019-01-19 23:08] JackDinn commented on #15
sure , any time :)

[2019-01-20 06:50] nixgates commented on #16
I've had a look and found that the SetViewType call is occurring to fast and it's being applied to the previous menu.
This is why when you go back to the previous menu the view has been applied. I've added a small sleep to the closeDirectory function for 0.1.27 which should help in most cases but isn't a permanent fix as it may not be enough on some slower devices.

[2019-01-24 10:43] JackDinn commented on #15
Looks like version 0.1.25 has fixed the episodes being displayed a day early.

Great work @nixgates

[2019-01-24 10:43] #15 closed

[2019-01-30 19:20] Mastacc opened #32 "Kodi Leia - NextUp episode marked as watched immediately"
As soon as the next episode from NextUp starts playing it is marked as watched in Trakt immediately. It's only happening on Kodi 18. It's not doing that on Kodi 17.

[2019-01-31 22:30] nixgates commented on #29
As others have mentioned, this is better left to an external add-on that is designed to handle this and is outside the scope of Seren, apologies. Theres some great resources if you google on how to get what you want to achieve.

[2019-01-31 22:31] #23 closed

[2019-01-31 22:32] nixgates commented on #21
Beautiful, closing issue 🙏

[2019-01-31 22:32] #21 closed

[2019-01-31 22:33] nixgates commented on #16
Now that 0.1.27 has been released you have the option to disable the set view and the set view has been fixed.

If you still have issues please let me know!

[2019-01-31 22:33] #16 closed

[2019-01-31 22:33] #19 closed

[2019-01-31 22:34] #14 closed

[2019-01-31 22:36] nixgates commented on #18
@mophawka

Could you please raise a seperate issue for this.
This is generally due to users who have rather large collections or trakt history.

I have a work around for this that I want to introduce but would prefer to monitor it in a seperate issue.

[2019-01-31 22:37] nixgates commented on #13
I'm closing this issue, I'm fairly sure it's a Kodi issue and I haven't had a response in nearly a month.

If you still have issues moving forward please let me know and I'll re-open the issue!

[2019-01-31 22:39] #8 closed

[2019-02-01 04:05] Mastacc commented on #32
Still happening, unfortunately. Skip to end of 1x01 --- > 1x01 marked watched at 10:03 PM ---> skip to end of 1x02 ---> 1x02 starts playing ---> 1x02 marked watched at 10:03 PM

[2019-02-02 07:03] jimmyhall79 opened #33 "Certain links not working since the update."
Since seren updated to 0.1.29 I've noticed 2 links not working in discover movies, recommended for you and trending. When clicked the wheel spins very briefly and then nothing, you are still on the main discover movies menu.

I haven't checked every single link so far but tried about 5 others and they were working fine, if you'd like me to go through each one please just let me know.

[2019-02-02 13:40] jimmyhall79 commented on #33
All fine now, either you sorted it or it was maybe a trakt.tv issue? Thanks either way for all the amazing work!

[2019-02-03 04:14] nixgates commented on #33
This was likely due to the recent trakt partial outage

Have a good one 😊

[2019-02-03 04:14] #33 closed

[2019-02-03 04:18] nixgates commented on #32
Yea I think it might be due to issue I had with the keep alive. Seems Kodi is retaining the position of the previous playing item for a few seconds when the next starts so when Seren sends time information to Trakt it's information from the previous episode.

I'll have a look and hopefully putting a delay on it should fix the issue.

[2019-02-03 04:18] #32 closed

[2019-02-03 10:09] jimmyhall79 commented on #33
It was weird as the same trakt.tv lists were surfing in other addons, but anyway it's working now so who cares right lol

Thanks again

[2019-02-05 03:40] hockeymachine86 opened #36 "Nextup showing episodes a day later"
In Seren it is showing TV Episodes air date as one day later than their actual air date.  For example, Big Bang Theory shows air date as 2/1 in Seren, but 1/31 in Trakt and TVGuide.

[2019-02-05 03:45] mophawka commented on #36
can confirm this finding. Currently watching tonight's episode of Arrow although it is dated for tmrw on Seren under TV collections and not showing up at all on under nextup. this is a recent change in Seren. can't verify what version last worked. Using .29 atm> trakt is dated correctly. Thanks

[2019-02-07 01:41] icpryde opened #37 "UpNext"
Hey Nix, quick thing I noticed with Using UpNext and NextUp together.

So if you let UpNext either time out and auto play the next episode OR click “play” so it starts the next episode. What ends up happening is it will immediately mark on Trakt the new episode as “watched” even if you stop it right away. So NextUp will show the next episode.

In other words if I use UpNext to start the next episo

[2019-02-07 03:06] guff00 opened #38 "Seren Loses Settings"
Seren seems to lose all user specified settings.  For me to recreate the error on my system I have to access Seren's settings menu while Kodi is booting up and my widgets are loading.  Log is below.
https://paste.kodi.tv/anuxekiluv

[2019-02-07 12:12] #38 closed

[2019-02-08 11:08] toneman77 opened #39 "Seren takes a lot of time to show episodes"
When starting Seren and navigating to the "Next Up" section it takes 15 minutes to show the list of episodes. In those 15 minutes nothing happens besides the spinner spinning.

debug kodi logfile: [here](https://pastebin.com/DJMBUCcH)
above log filtered for "seren": [here](https://pastebin.com/2UHqejdB)

timeline of that logfile:

- 11:30 kodi start
- 11:31 seren/next up start
- 11:34-11:43 disabl

[2019-02-08 13:13] nixgates commented on #37
I'm assuming this issue is on 18?

This has been caught and should be rectified in next update.

The issue is Kodi appears to be delaying updating its time info so when Seren sends info to trakt it's actually sending the time info for the previous playlist item so it gets marked as watched.

[2019-02-08 13:15] nixgates commented on #39
I'm looking at moving Seren back to V1 of the TVDB API.

This will reduce network calls near a 5th of its current amount and should dramatically increase speed.

There is also plans to have Seren cache trakt progress info long term locally to speed up almost all menus.

[2019-02-08 13:17] nixgates commented on #18
I have re-open this issue as it the patch applied does not appear to cover all use cases.

The issue still remains that Kodi's setting calls are not thread safe.

A permanent fix will require a seperate add-on to handle settings for Seren in a thread safe manner.

[2019-02-08 13:26] icpryde commented on #37
Oh awesome 👍🏽 , ya it’s on 18.

[2019-02-09 05:14] moorscoin opened #40 "Seren and Trakt"
Noticed that when i start watching a show from next up and i stop the show about 10 mins in, it gets marked as watched when i try to go back to it.   Kodi 18 seren 1.29 up next installed as well.

[2019-02-09 19:02] lastship opened #41 "Views not saved for the next Site"
At Kodi (and Seren too) the User can change the View Typ (Wall, InfoWall and so on...)

But there is a problem with the following sites after page 1

Kodi18 , Skin Estuary (and other skins too)

After page 1 there is always only List View

Changes in Seren (Custum) don't fix this problem

This Problem is in another Forks the same, bute the Problem is comeing up with Kodi18

Kodi17 no Problems

[2019-02-09 19:10] #41 closed

[2019-02-09 19:11] rene1980 opened #42 "Views not saved for the next Site"
At Kodi (and Seren too) the User can change the View Typ (Wall, InfoWall and so on...)

But there is a problem with the following sites after page 1

Kodi18 , Skin Estuary (and other skins too)

After page 1 there is always only List View

Changes in Seren (Custum) don't fix this problem

This Problem is in another Forks the same, bute the Problem is comeing up with Kodi18

Kodi17 no Problems

[2019-02-09 19:16] drinfernoo commented on #39
If you do this, make sure not to include an option for people to use a custom TVDB key anymore, as new v1 keys can't be generated anymore. It's also likely that v1 will be completely dropped at some point, causing you to have to migrate *back* to v2 :(

[2019-02-09 19:17] drinfernoo commented on #40
Duplicate of #37.

[2019-02-09 19:17] drinfernoo commented on #20
That's almost certainly a skin bug.

[2019-02-09 20:07] drinfernoo commented on #42
You can either force the view in your skin (if the skin has that feature), or through Seren's settings. It sounds like you're not doing either.

[2019-02-09 20:26] drinfernoo commented on #29
@bugatsinho I don't believe AutoSubs works with non-library content.

[2019-02-09 21:00] drinfernoo opened #43 "Trakt lists not sorted correctly"
I've tested this in a fresh install of Kodi 18.0, with only Seren 0.1.31 installed and Trakt authorized.

Testing using [this Trakt list](https://trakt.tv/users/drinfernoo/lists/kids-movies?sort=title,asc), which is sorted correctly on the website (by Title, ascending), I've got a number of odd sortings [inside Seren](https://imgur.com/a/mt8dg3F). I recognize that this is a pretty large list, comp

[2019-02-09 21:08] drinfernoo commented on #43
After looking at a few more lists, it looks like the only titles being sorted incorrectly are those that begin in "The", "T", "H", and "E", or combinations thereof, and are sorted correctly after those characters. For example, My list goes from "Rango" ->"Ratatouille" -> (He)"rcules" -> (T)"reasure Planet" -> "Recess: School's Out". It seems that something is broken in the "ignore articles" featur

[2019-02-10 00:39] lukehansford opened #44 "Torrentapi links missing from movie scraping"
The best site Torrentapi is missing all links for movies.

They show perfectly for all TV shows.

Tested on a fresh install of Kodi 18 Final.

[2019-02-10 00:42] lukehansford opened #45 "Can Seren use the same clear logos & artwork as Realizer?"
The artwork for both the movie sections and TV shows in the new Realizer is amazing.

The clear logos load instantly and all the artwork has the name of the movie in the artwork.

Can we have an option to use this source?

If you compare the realizer list sections you will see in titan the clear logos are super fast to load as well as the artwork.

[2019-02-10 11:18] nixgates commented on #44
This issue is not Seren related, I do not provide support for any 3rd party providers.

[2019-02-10 11:18] #44 closed

[2019-02-10 15:06] RavRob commented on #20
I don't know how all those things work and you may be right.  However,
other addons play the trailers correctly in front of the menus using the
same system, same skin, etc....that makes me think it is a Seren problem,
not a skin problem.

On Sat, Feb 9, 2019, 15:17 drinfernoo <notifications@github.com wrote:

[2019-02-10 20:19] bluenote73 opened #46 "Local library items found but won't play"
It's a great feature to check the local library in case I already have an item. But selecting a local item always fails with something like "no playable sources". I hope this can be fixed, Seren is really upping the ante.

[2019-02-11 03:51] nixgates commented on #39
Testing on this suprisingly shows V1 to be significantly slower, likely because the information is downloaded in a single thread rather than split over 4.

More testing to occur, need to start caching more trakt information and putting limits on more calls.

[2019-02-11 03:52] nixgates commented on #45
I can look into it, are they not just using fanart.tv?

[2019-02-11 03:53] nixgates commented on #43
This was my fault, it appears I accidentally used the strip function instead of replace.

Should be fixed next update.

[2019-02-11 03:55] nixgates commented on #42
Apologies, I'm having a little bit of trouble understanding so please correct me if I'm wrong.

You have an issue where Seren won't hold you view type and it's only present in Kodi 18?

You mentioned this problem seems to happen to other add-ons as well and not just Seren?

[2019-02-11 03:56] #40 closed

[2019-02-11 05:56] Philps commented on #42
Thats correct, it basically happens with all Exodus Forks but not with Amazon VOD or Netflix Addon.
However they all call the same implemented funciton

Amazon:
xbmc.executebuiltin('Container.SetViewMode(%s)' % viewid)

Exodus Forks:
control.execute('Container.SetViewMode(%s)' % str(view))

--> already changed type from string -> integer to match Amazon, however this doesnt work either.

Debugin s

[2019-02-11 06:28] drinfernoo commented on #42
That sounds like a skin issue if it's happening with all add-ons.

[2019-02-11 06:28] drinfernoo commented on #43
@nixgates Awesome! It took me some serious head-scratching to figure it out 👍

[2019-02-11 06:37] Philps commented on #42
as mentioned it doesnt happen with Amazon VOD or Netflix, which are calling the same function. So not really a skin issue. ( also tested different skins ).  Not sure if a a Container Refresh or similar is required.

[2019-02-12 12:09] nixgates commented on #45
Fanart Support has been added for next public release

[2019-02-14 17:28] RavRob commented on #20
Same thing still happening using Leia stable.

[2019-02-14 20:02] ThirdStarr opened #47 "Unable to use Seren, these are the errors in my kodi.log"
I have Seren installed on a couple of my devices. I have my Real-Debrid and Traxt accounts registered to the addon, however whenever I try to use it I get the following in my kodi.log. What does this mean and how do I fix it? :

T:22835 ERROR: File "/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.seren/resources/lib/debrid/real_debrid.py", line 277, in getRelevantHos

[2019-02-14 21:05] RagnarLothbrok-Odin opened #48 "Seren episodes being marked as watched multiple times"
Seren 0.1.29
Up Next from Nixgates Repo
Continuous Playback (All episodes in the picture, were auto played one after the other, never paused, or stopped. The first link worked every time)
I have heard other people having the same issue.

IMAGE:
![07ad3df767cb7b4e137ef3a0a01c84b7-jpg](https://user-images.githubusercontent.com/30740511/52817536-0cd7a000-309c-11e9-82a5-78335a8cb7ff.jpg)

[2019-02-14 21:08] RagnarLothbrok-Odin commented on #48
Also, number 18 is marked as watched, but I have only just started it, and I am only 1minute21seconds in

[2019-02-14 23:08] dejiapps commented on #47
Me too. This is what my log is showing:

17:12:53.240 T:8060   ERROR: Control 50 in window 10025 has been asked to focus, but it can't
17:12:53.486 T:1480  NOTICE: script.tv.show.next.aired: ### TV Show - Next Aired starting GUI proc (6.0.15)
17:12:53.491 T:1480  NOTICE: script.tv.show.next.aired: ### no prior data found
17:12:58.547 T:5628 WARNING: XFILE::CFileFactory::CreateLoader - unsupported

[2019-02-15 12:08] nixgates commented on #48
I'm not sure what the issue with them playing back one after the other? That's by design.

In regards to your issue with being marked as watched before completing the item this has been identified and should be fixed in the next update.

Would you mind expanding on your initial issue?

[2019-02-15 12:10] nixgates commented on #47
Can you please in the future not attempt to put the log inside the text of the issue.

Instead please upload the full log to a text bin like pastebin, hastebin.

[2019-02-15 12:13] dejiapps commented on #47
Of course, sorry about that.

[2019-02-15 14:06] ThirdStarr commented on #47
Here is my kodi.log file https://pastebin.com/rxQDikeu

[2019-02-15 14:33] RagnarLothbrok-Odin commented on #48
Sorry, it was not an issue, I was just stating my current setup, auto-playing is how I like it. I just wanted to give as much information about how I use Seren, so you could easily pinpoint the issue.

[2019-02-15 15:43] cartersball commented on #48
I have seen this issue as well. It appears that episodes are being logged multiple times into Trakt history. Say for instance you've watched every episode of a show. Normally, rewatching an episode you've watched in the past would not be logged in Trakt history on their website as you've already watched them all. With the 1.29 update I have noticed that old episodes of shows the kids watch regular

[2019-02-15 20:01] tsteven9 opened #49 "Movie Ratings not showing (TV show ratings are showing though)"
Ratings such as PG, PG-13, R etc. are not showing in the **Movies (Discover Movies)** section but are working fine in the **TV Shows (Discover TV Shows)** section. Would be great if it can be fixed. Thanks

[2019-02-15 20:08] RagnarLothbrok-Odin commented on #48
If you have already watched a programme, and then rewatch it, I believe the function is to remark it as watched, since you watched it again. I believe that is completely normal behavior.

[2019-02-16 00:21] dejiapps commented on #47
here is mine: [Kodi.log](https://pastebin.com/EJxfABrw)

[2019-02-16 00:25] Mastacc commented on #48
It's the same issue as this one
Duplicate of #37
1x16 finishes, 1x16 and 1x17 marked as watched then 1x17 finishes and 1x17 marked as watched again and x18 marked as watched

[2019-02-17 06:06] nixgates commented on #49
Thanks for pointing this out, this has been added in and will be released with next update.

[2019-02-17 06:18] nixgates commented on #47
@dejiapps can you please a separate issue as your issue is different than this one and I'd like to concentrate on them separately.

@ThirdStarr do you have another device to test on? Or, alternatively can you please try to clear your Seren installation from the tools menu. Something really weird is happening there.

[2019-02-17 14:13] kbxy88 opened #50 "Error in log : nextup & tvshow list"
I keep getting Seren error and I made sure my Trakt was active in settings. Can’t tell if this is on my end?
http://paste.kodi.tv/tavufiliye

[2019-02-17 22:06] tsteven9 commented on #49
You're awesome! Thank you so much :)

[2019-02-17 22:06] #49 closed

[2019-02-18 10:21] abbaskip commented on #50
I'm getting errors from Next Up in Seren now too. Collection seems to be working, so I don't believe it's a Trakt issue (and I reauthorised in any case).

I'll add a log later.

[2019-02-19 00:14] ThirdStarr commented on #47
Opened Seren > Tools > Wipe Addon Data. Readded my traxt and redebrid accounts. Got "Unable to connect to file" when trying to install https://tinyurl.com/a4scrapers. Civitas scrapers installed successfully
Still getting errors [https://pastebin.com/D2tkAy5z](https://pastebin.com/D2tkAy5z)

[2019-02-19 02:45] kbxy88 commented on #50
I dunno, even my trakt progress isn’t updating in Seren.

[2019-02-19 04:01] nixgates commented on #20
It's probably more than likely a Youtube addon issue.

Seren doesn't actually handle the playing of any trailers, it hands off all trailer work to the Youtube addon

[2019-02-19 04:12] nixgates commented on #42
I originally noticed this issue with Kodi 18 which is why I asked if you were on it.
For some reason, Kodi doesn't re-act the seem to the SetViewMode call.

What I found was Kodi would actually apply it to the menu prior and not the currently opening menu.

I haven't been able to reproduce the issue on my end, is Seren up to date on your install?

[2019-02-19 10:45] jonaravelo opened #51 "Errors playing back episodes"
Hey not sure if here is the right place, but some shows I have tried to play completely do not work on Seren. Law and Order: Special Victims Unit Season 20, from episode 14 onwards.

Seren doesn't find a lot of links, but the ones it does do not play back. On other addons (13Clowns) it finds them and can play them back, although it crashes for some reason after a few minutes playing.

websites lik

[2019-02-19 17:24] icpryde opened #52 "Landscape artwork issue after Update to 0.1.34"
So the lanscape artwork was working great before, it would show a screenshot from the episode but after the new update for .34 the artwork now shows a cut off version of the tv show poster.

Example before update:

https://i.imgur.com/56U2l5w.jpg

After update:

https://i.imgur.com/Bjhfm5P.jpg

Further if I check off "prefer fanart for landscape widgets"

I get this which is better but not the sam

[2019-02-19 18:59] mophawka commented on #52
Confirm having same issue after update on 4 different devices. After .34 update Episode artwork no longer populates

[2019-02-19 22:00] lukehansford commented on #45
The images appear from a fresh install of the Realizer addon.

I didn't need to enter any API key.

What do you have to do in Seren to get it to show the same cover art and logos that load very fast?

[2019-02-19 22:16] RavRob commented on #20
It so does other addons I would think, and they play correctly in front.
YouTube would handle the playing in the same way??? Yes???

On Tue, Feb 19, 2019 at 12:01 AM nixgates <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-02-19 22:45] lukehansford opened #55 "Hide Low Quality Content bug?"
Is the Hide Low Quality Content option supposed to hide SD quality?

SD quality is still being shown.

[2019-02-19 22:57] lukehansford opened #56 "Auto Resume for Shows not playing next episode"
Auto Resume for Shows is not loading the next episode if the last one was fully watched.

Should it not resume the episode if we didn't finish it and if we did load the next one.

The last episode you have watched is loaded even if you have it marked as watched.

Is it possible to make it load the next episode and not the previous one.

Thank you

[2019-02-19 23:23] lukehansford opened #57 "New Das boot Show no artwork and won't show links"
The new Das Boot TV show has no artwork and instead has white projector symbol.

Since the latest .34 update that added artwork to the scraper page it seems if the show doesn't have artwork it won't show the scraper page and displays no links available message.

[2019-02-19 23:27] nixgates commented on #52
I'll have a quick digg, I've probably broke something with the fanart update.

Give me a bit, I'm gonna roll out a small update within the next 24 hours to bump a few small changes, I'll try roll the fix into that.

[2019-02-19 23:29] nixgates commented on #50
Looks like trakt didn't send anything to your device, try clearing your cache and opening it again.

Let me know how you go.

[2019-02-19 23:31] nixgates commented on #55
That's the correct process, the setting is to hide undesirable sources such as CAM copies,

[2019-02-19 23:31] #55 closed

[2019-02-19 23:32] nixgates commented on #37
@icpryde

Can you check and confirm the issue is resolved?

[2019-02-19 23:33] nixgates commented on #48
Please refer to the original issue for further information

[2019-02-19 23:33] #48 closed

[2019-02-19 23:48] lukehansford commented on #55
Is a hide SD option planned?

[2019-02-19 23:50] mophawka commented on #52
there you go! giving out ETAs again lol

[2019-02-19 23:54] nixgates commented on #57
Oh sod, yep, I made a boo boo!
I'll fix this and get this rolled out soon

[2019-02-20 00:00] nixgates commented on #45
You do need to sign up for an API key from fanart.tv and enter the key into the accounts page of Seren's settings.

The fanart.tv team specifically ask for this process.

Also note, because fanart.tv's services are rather slow, only clear logos and clear art and shown from them. Unfortunately their servers are just to slow to display fanart and posters from them.

I'm going to close this issue of

[2019-02-20 00:03] nixgates commented on #46
This is likely because Seren doesn't currently support direct link files from providers.

This will be adjusted soon and I'll let you know here when it should be released.

[2019-02-20 00:07] nixgates commented on #36
@mophawka @hockeymachine86

This issue should be resolved with update 0.1.34.
Could you please ensure you date and time and correctlly set on the device and confirm on your end?

[2019-02-20 00:11] nixgates commented on #56
Sorry I'm having a bit of trouble understanding this so let me just confirm I have this right.

Autosume is starting from the last watched episode even if the episode was completed?

[2019-02-20 00:19] nixgates commented on #52
Haha but I really mean it this time!

Ok new process is ready to go for 0.1.35

Episode thumbnail is now set again (apparently I botched that), if it's not available, Seren substitutes the fanart so now there shouldn't be blank widget items in skins if they are shown as landscape.

Episode landscape art is now set the final value of episode thumbnail

[2019-02-20 00:39] icpryde commented on #37
@nixgates thanks so much for the fix! I’m on my way home so I’ll check as soon as I get there.

[2019-02-20 00:49] RagnarLothbrok-Odin commented on #37
Still broken to me, I have a theory though so would love your input.
This picture has episode 19 marked as watched, however, I only just started it and I am only 4 seconds in legit.
![b7726145df00f837e1af31f7b422deb9](https://user-images.githubusercontent.com/30740511/53057963-3718cb80-34a9-11e9-8606-ad5e1ddb5950.png)
Now this photo is from Trakt, my theory is, it's marking it as watched when you

[2019-02-20 00:52] bluenote73 commented on #46
Thanks Nix, will eagerly wait on that.

[2019-02-20 00:55] RagnarLothbrok-Odin commented on #37
![f2ebeeaab0ff21493a7d6ae22250d655](https://user-images.githubusercontent.com/30740511/53058235-346aa600-34aa-11e9-9774-da28906cd592.png)
The times even match, I started the episode at 00:02 and it ended at 00:42

[2019-02-20 01:21] hockeymachine86 commented on #36
Just checked and it looks like its fixed.  'The Rookie' which aires 2/19/2019 (USA CST) and it shows in the list.  Thanks!

[2019-02-20 01:21] #36 closed

[2019-02-20 01:34] Sunseng opened #58 "Install provider from storage (zip file)"
The last version 0.1.34 seems broke install provider from external storage again (zip file), error occured. This not happen with version 0.1.30 tho.

[2019-02-20 01:48] Mastacc commented on #56
I don't know what he means, but sometimes Next Up doesn't show the next episode even though the one that is currently shown is marked watched. Even if you reload Kodi it stays like that until a lot of time has passed. Not sure if this is the same problem.

[2019-02-20 01:56] icpryde commented on #37
@nixgates the update doesn’t seem to be available in the repo even if I click check for updates?

[2019-02-20 01:56] RagnarLothbrok-Odin commented on #37
There isn't an update lol

[2019-02-20 02:05] icpryde commented on #37
Oh I’m an idiot, I thought this was a response to my other ticket that I opened.

I’m watching an episode now and will see after it’s done if it works as intended.

[2019-02-20 04:50] icpryde commented on #56
It usually just takes a few minutes after the episode is watched then it will uodate and show the next episode. This feature is working as intended for me but I guess if it updated faster thst would be cool but  doesn’t change anything

[2019-02-20 08:27] nixgates commented on #58
Can you expand on the issue you are having is?

Are you trying to install a provider from a URL or from a local zip package?

Can you please provide a full kodi log with debugging enabled so I can see what's causing the error.

[2019-02-20 10:09] kbxy88 commented on #50
Looks to be up and running again. Closing

[2019-02-20 10:09] #50 closed

[2019-02-20 10:15] mophawka commented on #56
sounds like a trakt sync issue and not a seren issue.  try and reauth your trakt and try again? also make sure you are not running another trakt addon along with seren. i've had this issue and it was a conflict but it was on my end. What you describe its instant for me. if another episode exits it shows up right away in next up after i refresh the content.

[2019-02-20 11:43] #45 closed

[2019-02-20 11:44] nixgates commented on #43
Fixed in 0.1.34

[2019-02-20 11:44] #43 closed

[2019-02-20 13:26] Sunseng commented on #58
Yes trying to install a provider from a local zip package.
Here the log file []https://paste.ubuntu.com/p/qF8Wfvf8Zp/(url)

[2019-02-20 13:36] Sunseng commented on #58
[https://paste.ubuntu.com/p/qF8Wfvf8Zp/plain/](url)

[2019-02-20 13:41] Sunseng commented on #58
[log200219.txt](https://github.com/nixgates/plugin.video.seren/files/2884789/log200219.txt)

[2019-02-20 14:01] ThirdStarr commented on #47
Yesterday's update appears to have resolve my issue. Seren is not working for me. Thank you for all your hard work.

[2019-02-20 14:36] icpryde commented on #52
I can confirm landscape artwork is working properly now!

thank you @nixgates

[2019-02-20 14:39] icpryde commented on #37
crap, trying to test next up but i keep getting errors today not sure if its just trakt is down? it seems to be working for me with other addons currently.

I keep getting this error now @nixgates

https://i.imgur.com/BVcbXaO.jpg

[2019-02-20 14:41] icpryde commented on #37
Heres my logfile I'm getting quite a few errors which I think is from trakt but not sure?

http://paste.kodi.tv/qejugatuco

[2019-02-20 15:33] lukehansford commented on #56
Yes when you go to the trending, most watched or trakt collections and click on any movie or TV show it will try and auto resume if you have the option selected in the settings.

What it is doing is starting from the last watched episode even if you have already completed it.

say your on episode 5 of a tv show and you have watched until epsiode 4 100% it will still load episode 4 and not episode

[2019-02-20 15:35] lukehansford commented on #45
I have found out from the Realizer Dev that the addon is using an internal database so that clear logos load super fast.

https://www.reddit.com/r/Addons4Kodi/comments/asgvij/fanarttv_faster_loading_clear_logos/egvc8uv/?context=3

[2019-02-20 15:37] lukehansford opened #59 "Possible to add the same internal database for meta info and images as Realizer"
The clear logos in Realzer load super fast for skins.

the dev has explained how he has done this.

is this possible to implement in Seren at some point as an option in the settings we can enable?

this would really help for titan and the nextflix skin and others as the logos load instant.

https://www.reddit.com/r/Addons4Kodi/comments/asgvij/fanarttv_faster_loading_clear_logos/egvc8uv/?context=3

[2019-02-20 16:20] lukehansford commented on #52
Still getting this https://ibb.co/17Zs1w0

[2019-02-21 02:56] icpryde commented on #37
@nixgates it didn’t fix the issue, I started episode 3 using UpNext then was only 1 minute into the show and stopped it. Trakt still marked episode 3 as watched and went to episode 4.

[2019-02-21 04:06] nixgates commented on #59
This information is already cached and refreshed every 24 hours.

Unfortunately further caching will provide neglible to no speed/increase

[2019-02-21 04:06] #59 closed

[2019-02-21 04:08] nixgates commented on #58
Mind if I know what kind of OS you are attempting to do this on?

Windows, Linux, iOS, Android?

[2019-02-21 04:10] nixgates commented on #56
Are you perhaps running the trakt add-on as well as Seren's trakt scrobbling?

If you are, can you try disabling one  (the trakt add-on or the setting in Seren) and re-test?

[2019-02-21 04:10] #52 closed

[2019-02-21 04:12] nixgates commented on #39
Can you please retest this issue, I made a small change that should prevent to many shows from being called in Next Up for users with older trakt accounts.

[2019-02-21 06:04] Mastacc commented on #37
Yea, this is still very glitchy. Sometimes the episode you're watching doesn't even get marked, but the next one does. The next episode seems to always be marked as watched as soon as it starts. Also, the timing is weird. The next episode is marked watched before the current episode.

Scenario 1 (more common):
1x09 ends at 8:29:59
1x10 marked watched at 8:29
1x09 marked watched at 8:30

Scenario 2

[2019-02-21 07:51] toneman77 commented on #39
It felt quicker than before but still "minutes" instead of "seconds". The debug log was filled over and over with

So I had to remove 100s if not 1000s of those blocks to be able to upload it to pastebin [here](https://pastebin.com/ZphNC4C3).
Hope it helps.
Let me know if I should repeat.

[2019-02-21 08:28] Sunseng commented on #58
Android with Shield TV

[2019-02-21 12:33] lukehansford opened #60 "Option to hide SD items"
As suggested in the Reddit comment.

Raising a GitHub issue for this to be implemented.

[2019-02-21 13:54] lukehansford commented on #56
I do not have the Trakt add-on installed.

When you go to your Trakt collection and click on a show it will load the last watched episode and not the next up one.

I have tested on may shows where I am on different episodes.

Example I click the magicians TV show in my Trakt collection and in Seren up next I have episode 5 to watch but it auto resumes to episode 4.

Some with others.

[2019-02-21 18:59] drinfernoo commented on #39
@toneman77 You need to completely wipe Serenity from `Tools -> Wipe Add-on Data`.

You're using a very old version with settings conflicts.

[2019-02-21 19:29] toneman77 commented on #39
Good idea.

- Wiped the addon
- restarted kodi
- set up rd, trakt, providers
- restarted kodi
- triggered "up next" at 20:11
- list appeared at 20:25. so 14 minutes :/

log [here](https://pastebin.com/g2d3gnA0)

[2019-02-22 03:38] icpryde commented on #37
Ya try it yourself Nix, opens show you are currently watching by clicking it in the UpNext list. Then when the episode is finishing and the drop down (NextUp) comes up asking you to watch the next episode click “watch now” let the episode start and then just stop the episode like 30 second or a minute in and after a few minutes UpNext will skip the episode you just started and mark it as watched a

[2019-02-22 04:02] Sunseng commented on #58
Uhmm.. my bad i think i renamed wrongfully the local provider package zip file. Got it to install now. Thanks 🙏👍.

[2019-02-22 04:02] #58 closed

[2019-02-22 12:13] lukehansford opened #61 "Seren Stuck on Starting Link Resolver"
Seren gets stuck on Starting link Resolver after cancelling out of Source select screen.

This is happening on Kodi 17.3 on an older Android dual boot libraelec that has no update available.

[2019-02-22 15:49] lukehansford opened #62 "Default Select action setting - openinfo"
Is it possible we can get a setting to change the default select action from play to Openinfo so we can have the new Openinfo be opened by default when we select a movie or show in Seren.

You can set the default select action under Kodi settings but then this affects all your addons and not all are supported by openmeta/Openinfo.

[2019-02-22 18:27] lukehansford opened #63 "People/Actor Search Feature"
Is it possible to get a people search so we can search movies and shows by actors?

[2019-02-23 17:48] icpryde commented on #61
Seren isn’t designed to work with older builds, it’s essentially designed for 17.9 and up. You should either upgrade as things will only continue to get worse for you or don’t use newer addons.

[2019-02-23 17:49] icpryde commented on #60
Already exists, it’s in setting to turn off low quality links.

[2019-02-24 20:26] lukehansford commented on #61
The Dev has said on Reddit to another poster with the same issue who first mentioned it that he is looking into this.

[2019-02-24 20:28] lukehansford commented on #60
Have confirmed with the Dev before I posted this here.

The setting to turn off low quality links is from cams from mostly hosters and such and does not hide SD quality links.

He said it can be added as a feature which is why I opened this issue.

[2019-02-25 15:52] SerpentDrago commented on #62
Just link a widget or directly use openmeta / openinfo

[2019-02-26 05:19] nixgates commented on #61
@lukehansford
Can you please provide a log

[2019-02-26 05:27] nixgates commented on #39
@toneman77 I'm not sure how you ever are waiting minutes for any menu on Seren.

Even Next Up which is the slowest menu in Seren is only max 20 seconds for me.  We will have to look at a few things.

I might provide you with a different custom version of seren to get some proper logging from you.

[2019-02-26 07:17] toneman77 commented on #39
Nice. I'm ready to test.

[2019-02-26 11:37] lukehansford commented on #61
It scrapes fine but it you press back to exit out of the scraper list it will freeze up Kodi at a screen with "Starting Link Resolver"

I don't think I can do a log on libraelec.

The issue was posted on addons4kodi by another user first.

[2019-02-27 00:51] drinfernoo commented on #62
That is way outside the scope of Seren.

[2019-02-27 09:47] Philps opened #66 "Amazon / Netflix implementation"
Will there be a Amazon or Netflix implementation in the future as stated originally on reddit?

[2019-02-27 17:40] icpryde opened #67 "Scraper priority suggestion"
I'd like to suggest an improvement to scraping, currently the method for scraping is lets say we have 2 packages lets call them one and 2. Currently it searches through all of them providers and once it finds
 2 files the "pre-emptive termination" will kick in and then load the file.

The issue with this is sometimes it will scrape 10 - 30 files from the one package before it starts to load the on

[2019-02-28 14:11] lukehansford opened #68 "Next up list not refreshing after episode watched"
When you have watched an episode in Up Next and close the episode you are presented with the up next list section again to select another episode.

The list is not being refreshed / updated to show the next episode as soon as you click close on the current playing episode.

You have to exit out of next up and load the list again for it refresh.

[2019-02-28 14:29] SerpentDrago commented on #68
you do have Up next configured to "do nothing " if you don't click next right ? as per seren configuration instructions

[2019-02-28 14:45] SerpentDrago commented on #61
17.6 and up , have all been tested exhaustively , to make sure you can back out of a scrape . at this time if you are having issues , we need a log . Please google how to provide a log or else no one will be able to help you . thanks

[2019-02-28 14:57] SerpentDrago commented on #39
@toneman77  do you have this issue with anything else ? any other addons , a simple yes or no .

can you please go to the tvdb site directly with a browser   and try browsing around ? does it load quickly ?  Can you kindly try restarting your router and modem .  I know that sounds weird but i've solved others database api loading slow issues this way before .

Do you have any other device / pc in

[2019-02-28 15:02] SerpentDrago commented on #39
Also when providing a log, please provide a DEBUG log , by going into kodi setting and turning on debug , then replicating the issue

[2019-02-28 21:26] lukehansford commented on #68
This is happening even without the Up Next addon enabled. It used to show a blue loading circle after you stopped / closed the episode you just finished watching and the Up Next list would update to show the next episode in the list or remove the episode you just watched if no next episode exists.

I just done a fresh install of Kodi 18.1 stable the latest version and installed Kodi with default s

[2019-03-01 03:13] nixgates commented on #66
This is something I'm definitely still looking into doing and is high on the list.

We are getting fairly stable now and moving onto looking into this should be soon. I've a general idea on how I want to implement it but that's about all I can say at the moment.

[2019-03-01 03:13] #66 closed

[2019-03-01 03:14] nixgates commented on #62
Apologies, I agree that this is outside the scope of Seren.

Please look at contacting your skin developer and requesting this from them.

[2019-03-01 03:14] #62 closed

[2019-03-01 03:16] nixgates commented on #61
@lukehansford can you please provide a log

To be brutally honest, Seren is only developed for 17.6 and further. If it's a backwards compatibility issue and can't be resolved easily it will have to noted as an incompatibility.

[2019-03-01 03:17] nixgates commented on #47
@ThirdStarr thanks for getting back to me!

Have a good one 👍

[2019-03-01 03:17] #47 closed

[2019-03-01 03:21] nixgates commented on #60
This has been added for 0.1.36
Please let me know if it doesn't work

[2019-03-01 03:23] nixgates commented on #20
It depends, if the Youtube addon doesn't request the player to be brought forward then no it may not be brought to the front.

I will do some more testing and try and pinpoint the issue.

[2019-03-01 03:27] nixgates commented on #68
Please note: Up Next is a seperate addon to Seren and Next Up is a menu item inside Seren.
(Now that we got that all cleared up)

This can be fixed by requesting a refresh on the current Kodi container after a items finishes playing but this will occur on any menu list including if you traverse to another addon whilst playing something (ie: the new menu location you are on will be refreshed)

[2019-03-01 03:36] nixgates commented on #39
@toneman77

As @SerpentDrago requested, can you please provide a full debug log? That log you've supplied unfortunately doesn't provide much information.

[2019-03-01 03:41] nixgates commented on #51
Apologies, this looks to be a scraper issue.

Just to confirm, you have setup your debrid providers in the settings?

[2019-03-01 03:42] nixgates commented on #56
I'm looking it this right now, sorry the delay.

[2019-03-01 03:44] nixgates commented on #57
@lukehansford can you please confirm this issue is resolved as of 0.1.35

[2019-03-01 07:31] toneman77 commented on #39
www.thetvdb.com loads lightning fast.
Restarted both routers (load-balanced dual 400Mbit line) also the switch the Nvidia Shield is connected to.

- Just started kodi again
- enabled DEBUG logging like in my very first post
- again got a bajillion "...from old format..." like in the initial post, log [here](https://pastebin.com/ZqND3NyF)
- Next up loads pretty fast. under a minute if I had to gues

[2019-03-01 12:29] lukehansford commented on #68
Sorry for the confusion.

Can you make it refresh the Next Up list when an episode has been watched in a future update or give us the option to turn it on in the settings

I thought a few updates before Seren was refreshing the Next Up list and it got broken in recent updates?

Realizer and a few other add-ons do this for the Trakt progress list.

[2019-03-01 12:43] nixgates commented on #68
Yea it's cool, it's not that it can't be done, it's just a matter changing a few things.
I'll look into it and let you know.

[2019-03-01 12:45] nixgates commented on #67
I have an idea on how to handle automated scraper priority that I brought up with the test group a little while ago.

I'm hoping to get moving on it and put into testing soon. It's going to take a fair bit of tinkering to get up and running properly but it's coming.

I'll give more details on how it works and prioritises scrapers soon.

[2019-03-01 12:47] nixgates commented on #39
Thanks for getting back to me!

Unfortunate that we didn't find the cause, but I'm just glad it's working like it should.

[2019-03-01 14:29] lukehansford commented on #68
I am having a big issue on Kodi 18.1.

After an episode is watched in Next Up list it is placing a tick next to the episode and it is stuck like this. It is marked as watched on the Trakt website.

I have to clear the cache in the tools section  for the Next Up to refresh.

I am using the titan bingie skin.

[2019-03-01 14:54] lukehansford commented on #68
The same is happening with Aura skin.

A tick is placed on the episode and it is not refreshing. Even restarting Kodi and the widgets are reloaded and it does not refresh.

Going to Seren in Estuary still does not refresh Next Up

[2019-03-01 14:57] lukehansford commented on #68
https://ibb.co/2thzJd2

[2019-03-01 14:58] nixgates commented on #68
Got a few questions that I need to cover here:

Is it the latest episode released?
How long is the episode?
How long after the episode did you refresh the list?

[2019-03-01 15:08] lukehansford commented on #68
Yes the latest episodes are from 2017 but it happens even on one's released last week.

Episode is 43 minutes.

I refreshed the list even half hour later.

I have tested if you mark as watched in Trakt on the website the Next Up is still not updating.

I have also marked as watched manually with the Trakt manager and it does not update.

The only way to get the Next Up to update is to clear the ca

[2019-03-01 15:12] lukehansford commented on #68
I just clicked on mark as watched the latest episode of Roswell New Mexico released a few days ago in the Trakt manager menu in Seren Next Up and it is marked as watched on the Trakt website.

When I exit Next Up list and re-enter the episode has a tick next to it same as before.

[2019-03-01 15:13] nixgates commented on #68
Just one last question before I start looking into it, is the episode being marked as watched correctly on Trakt?

[2019-03-01 15:18] RavRob commented on #20
Thanks for looking into this.

On Thu, Feb 28, 2019 at 11:23 PM nixgates <notifications@github.com> wrote:

[2019-03-01 15:21] lukehansford commented on #68
Yes the episodes are both marked as watched in Trakt history section on the Trakt website.

Here you can see from these screenshots.

Something has stopped the Next up from refreshing.

You can see that Roswell New Mexico and the blacklist have watched ticks next to them.

https://ibb.co/z8W6Npv

Here you can see both episodes are marked as watched under the history page on the Trakt website.

htt

[2019-03-01 15:24] nixgates commented on #68
Ok easy enough, that puts it down to a caching issue of Trakts next up data.

I'll put a temporary fix in the next update. This may cause minor slow downs in the menu for the interim until the full Trakt information syncing is completed.

Please let me know if this issue is still present after 0.1.36

[2019-03-01 15:35] lukehansford commented on #68
Did it get broken in 0.1.35 or has Trakt changed something?

I'm surprised no one else has reported it.

I have just wiped Kodi 18.1 stable and installed Seren and only Seren with default settings on default estuary skin.

I do not have the Kodi Trakt separate addon installed at all if that helps.

I set two episodes mark as watched with the Trakt manager of the context menu in the Next up section

[2019-03-01 15:39] nixgates commented on #68
Looks like something is going wrong with the caching of the data. This data should be refreshed every half an hour if requested but apparently doesn't seem to happening.

Nothing has changed in Seren to expect this type of behaviour.

That's about all I can say at the moment, I'll have to look into it and figure out where the issue stems from and then identify where the issue came from.

[2019-03-01 15:50] lukehansford commented on #68
Is it happening on a fresh install on Kodi 17.6 for you also?

It used to refresh the next up list every time you entered the section which is what we need especially if you use a skin with widgets.

Only thing that is working now is clearing the cache Evey time.

[2019-03-01 16:15] toneman77 opened #69 "Debug log spammed by "trying to load setting definitions from old format..." messages"
I produced debug logs for another issue earlier and when my log was full of the message:
`CAddonSettings[plugin.video.seren]: trying to load setting definitions from old format...`
I got the suggestion to wipe the addon data. Since then I forgot to turn of debug logging and again saw this message even tho i was sure I wiped and setup Seren fresh only days ago so I tried to reproduce:

Started kodi

[2019-03-01 16:53] lukehansford commented on #56
To clarify. I only want the auto resume to play the next unwatched episode. The same episode number in the Next Up section.

It is currently a bug where it will only play the last watched episode which is pretty useless.

[2019-03-01 17:42] drinfernoo commented on #68
@lukehansford You just spammed about 25 of the exact same question regarding this on the subreddit, even saying that you know it's an issue, and that the developer (nixgates) is aware and looking into a fix. I'll be removing them as soon as Reddit is back up.

[2019-03-01 23:14] lukehansford commented on #57
I can confirm this did indeed get fixed in 0.1.35.
I have closed the ticket.

Thankyou for the swift response for this.

[2019-03-01 23:14] #57 closed

[2019-03-02 09:21] toneman77 commented on #69
to make sure it is not my Nvidia shield i tried to reproduce it in an isolated environment and set up a blank new ubuntu docker container with current leia from the official PPA.
- enabled debug logging
- added the repo
- installed seren
- set up trakt and real-debrid
- opened seren and selected "up next"

1533x
`DEBUG: CAddonSettings[plugin.video.seren]: trying to load setting definitions from ol

[2019-03-02 17:23] Lala1976 opened #70 "No seasons"
When i search tv shows, i can't see the seasons or episodes anymore, it just starts scraping. Is there something in the setup i can turn off or on?

[2019-03-02 18:40] nixgates commented on #70
You need to turn off auto-resume in the settings.

[2019-03-02 18:40] #70 closed

[2019-03-02 18:40] nixgates commented on #63
Yep, possible I'll add it to the to-do list

[2019-03-02 22:56] #61 closed

[2019-03-03 21:40] kbxy88 opened #71 "TV artwork displaying image for incorrect language"
My widgets that I have pointed to Seren - trakt - finish watching and another is Seren - Trending , some of the titles come up foreign language on the widgets artwork itself.

I am using an fanart API in Seren settings if that helps
I’m on 18.1
I’m not sure if this is a Seren or Skin error(Bingie Mod) and if a log would help
http://imgur.com/2vYviwK
http://imgur.com/lqwSqhO
‘La Mule’

[2019-03-04 00:18] nixgates commented on #69
Unfortunately this is an issue with Kodi and not Seren.

Until the Kodi team fix the issues with the new settings format Seren will continue using the old one.

There is currently an open issue on the XBMC github in regards to this.
https://github.com/xbmc/xbmc/issues/15252 #

[2019-03-04 00:29] nixgates commented on #71
Apologies, Seren wasn't filtering for language codes with TVDB.

I have appended this fix and it will be included in 0.1.36

[2019-03-04 05:27] icpryde commented on #68
Also note it doesn’t update immediately, for example I watch an episode and finish it next up will still show the episode I watched even if it’s 3 episodes I finished. After a few minute though let’s say 10 min or 30 min it will update to the appropriate episode that I haven’t watched yet. So for me looks like it’s working as intended ?

[2019-03-04 05:28] icpryde commented on #67
That’s awesome to hear :)

[2019-03-04 15:30] lukehansford commented on #68
This seems to have to have fixed itself now.

Must have been something to do with Trakt and not the add-on.

Hope the Dev will see this and not need to add the the temporary fix that would result in the Next UP list slower to load.

[2019-03-04 19:57] lukehansford commented on #68
The caching bug where it places watched ticks next to the episode seems to have fixed itself.

When you press the Kodi stop button when the credits show for a watched TV show episode in Next Up and then exit the list. When you re-enter Next Up the list is updating immediately.

Strange.

[2019-03-04 19:59] lukehansford commented on #68
The caching bug where it places watched ticks next to the episode seems to have fixed itself.

When you press the Kodi stop button when the credits show for a watched TV show episode in Next Up and then exit the list. When you re-enter Next Up the list is updating immediately.

Strange.

[2019-03-04 21:57] pencey opened #72 "Add Network TV Menu Item"
Tv Networks list in "Discover Shows". I realize you can do this with Trakt lists, but I was hoping to get more variety in "Discover" at some point. Thank you for everything so far!

[2019-03-05 00:27] nixgates commented on #68
Closing as the issue appears to be related with Trakt Server issues

[2019-03-05 00:27] #68 closed

[2019-03-05 00:50] nixgates commented on #72
Added for 0.1.36 :)

[2019-03-05 08:58] Alfiegerner commented on #23
I just wanted to do thank you for this feature. With IFTTT we can initiate search through Google home, works really well.

[2019-03-05 10:18] halsandr commented on #23
@Alfiegerner this is my exact use case! it was possible using my previous method, but it wasn't ideal.

[2019-03-05 11:30] ratmole opened #73 "Error Type: <type 'exceptions.ValueError'>"
https://github.com/nixgates/plugin.video.seren/blob/90285e7abcb8cb35267f032050a17ad8884ac561/resources/lib/common/tools.py#L327

when setting custom view types and one of them is blank,
i get: Error Type: <type 'exceptions.ValueError'>

with this code it works as intended:
[code]

[2019-03-05 16:33] lukehansford commented on #68
The caching bug has started again and is not fixed. I spoke too soon my apologies.

We need the fix in 0.1.36 as mentioned.

This is from a total Fresh install of Kodi 18.1 final with the only setting to in Seren changes being autoplay set to list. Authorised Trakt and real debrid and install providers.

This is what is happening.

https://ibb.co/YRVTWLQ

You still get these two ticks next to each

[2019-03-05 16:35] lukehansford opened #74 "Trakt Next Up caching bug"
The caching bug has started again and is not fixed. I spoke too soon my apologies.

A screenshot of what is happening.

https://ibb.co/YRVTWLQ

Both are also marked as watched on the Trakt website.

According to the Trakt Twitter feed they made some changes to the Next up feature on their website a week or so ago.

Also tested with Aura and titan skin widgets and the widgets do not update corrrctl

[2019-03-05 22:16] #74 closed

[2019-03-06 00:34] Mastacc commented on #72
The "Discover TV shows" is kind of poor in general. If it's possible for a new source of "New TV Shows" to be used it would be appreciated. The one in Seren that pulls from trakt shows nothing worthwhile, and the imdb list that other addons use is much better. The current one is missing HUGE new shows and instead is populated with stuff that is mostly very obscure. Wouldn't be problem if I could f

[2019-03-06 03:57] nixgates commented on #73
Thanks I'll set that now, looks like I overlooked that. Added in for next public update

[2019-03-06 04:10] nixgates commented on #72
@Mastacc
What I can look at is adding a new menu for something closer to most popular in the past 12 months?

[2019-03-06 09:40] ratmole opened #75 "PI3 : ERROR: error: can't start new thread"
https://github.com/nixgates/plugin.video.seren/blob/90285e7abcb8cb35267f032050a17ad8884ac561/resources/lib/indexers/tvdb.py#L11

consider
`threading.stack_size(64*1024)`
there are multiple errors in pi3 in Next Up without it
`ERROR: error: can't start new thread`

[2019-03-06 17:44] toneman77 commented on #39
well... sad news and I am out of options and out of ideas. that one day it worked... then it didn't. since the PC version was so quick I repeated my test on fresh installs.
- created a backup of my .kodi folder from the PC
- deleted everything on my Nvidia shield
- deleted everything on my Amazon fireTV 4k
- installed kodi fresh on the shield and fireTV
- exited kodi
- extracted the .kodi folder o

[2019-03-07 02:47] lukehansford commented on #68
The Next Up section seems to be refreshing correctly now.

Tested using Bingie skin

[2019-03-07 02:48] lukehansford commented on #74
The Next Up section seems to be refreshing correctly now.

Tested using Bingie skin

[2019-03-08 02:52] nixgates commented on #75
Seems Next Up is pulling more threads than the PI can handle.

I'll add in a low-end device support setting which will unfortunately slow down the menu a bit, but will also reduce issues with threads not starting.

[2019-03-08 02:55] nixgates commented on #75
Edit:
Sorry I just realised you have mentioned changing the stack size for the threads.
I have a few PI's lying around and I'll run them through the mill and see how it holds up

[2019-03-11 12:05] Lisa-Williams commented on #60
You can hack this now until v0.1.36 is released where it will be an option. Look here [https://www.reddit.com/r/Addons4Kodi/comments/a2ftnp/seren_support_megathread/ei68hux/?context=8&depth=9](https://www.reddit.com/r/Addons4Kodi/comments/a2ftnp/seren_support_megathread/ei68hux/?context=8&depth=9)

[2019-03-11 18:54] Mastacc commented on #72
Yea that would be amazing. The popular list that's there atm probably isn't going to change in a long time, if ever.

[2019-03-12 00:20] kbxy88 opened #76 "Random shows in “finish watching”"
This is something weird that I’ve noticed. I have a widget setup pointing to Seren - My movies - finish watching.
I notice sometimes random movies appear on there that I don’t actually start watching. Recently something was added and normally I’ll just play it and scrub to the end to remove it. This time I can’t play it because it has no playable sources.

I’m running 18.1 , both Titan Mod skin &

[2019-03-12 19:08] rene1980 commented on #42
Hi nixgate. Now in the last seren version die Views works fine. What have you changed since my first posting?

[2019-03-13 06:36] Philps commented on #42
xbmc.sleep did the trick. issue can be marked as resolved.

[2019-03-17 00:21] baxter300 opened #77 "Watchlist showing all items [question/request]"
Is it possible to filter out movies which don’t have a release date, or have one later than the current year from the watchlist?

[2019-03-19 01:20] babz1989 commented on #37
I'm also having this issue on latest seren version. I'm using shield tv kodi 18.1 and getting multiple markings for episodes when using the upnext feature

[2019-03-20 10:22] nixgates commented on #76
In trakt manager of the context menu you can remove playback history for the item. That will remove the item from that list.

As to random movies popping up I've never had this issue, I'll try some test but I'll need more information.

If you wouldn't mind replying to this again as soon as a random movie/episode pops up Ill the meta details for it.

[2019-03-20 10:22] nixgates commented on #76
In trakt manager of the context menu you can remove playback history for the item. That will remove the item from that list.

As to random movies popping up I've never had this issue, I'll try some test but I'll need more information.

If you wouldn't mind replying to this again as soon as a random movie/episode pops up Ill the meta details for it.

[2019-03-21 00:12] #76 closed

[2019-03-21 00:12] kbxy88 commented on #76
Will do , thx for pointing out where to remove playback history

[2019-03-22 08:50] akuiraz86 commented on #75
I was experiencing this issue with my raspberry pi 3b ... inserted the suggested fix by ratmole and now next up loads perfectly!  btw am running OSMC

[2019-03-22 15:27] tsteven9 opened #78 "Trakt stuff missing from Seren"
Hello. I noticed that all my Trakt stuffs (collection, progress, lists...) are non existent in Seren. Usually there's two directories with My TV Shows and My Movies but I can't seem to find them anywhere. Thanks.

[2019-03-23 23:59] baxter300 commented on #78
Hope it’s ok for me to chime in here, I think if you authorise your Trakt account within Seren and then exit the addon and go back in you should see My Movies/My Shows

[2019-03-24 11:26] cmdicksonau opened #79 "New Episodes option"
Hi there,

Would it be possible to add a 'New Episodes' option, similar to what 13Clowns does? The Recently Updated option under Discover TV Shows doesn't seem to update with latest episodes unless I'm doing something wrong..?

[2019-03-24 17:22] ruegnueg commented on #60
just use the pre-emptive termination settings. they are long time available

[2019-03-25 23:39] lukehansford opened #80 "Increase loading speed up of Next Up section"
Is it possible for a future update to speed up the loading of the next up section?

Or add another "trakt progress" section like other addons such as Yoda, Gaia and Realizer.

The Trakt progress sections on these add-ons load significantly faster.

Mostly noticeable if using skin widgets in popular skins such as titan and aura.

[2019-03-26 23:53] tsteven9 commented on #78
Hey there :) I tried that but no positive results :( Thanks for the tip tho!

[2019-03-27 01:07] lukehansford opened #81 "Unwatched Shows in Collection to show only shows not started watching"
Can you make it so the unwatched shows in collection section only displays shows in our collection we have not started to watch.

This is really helpful if you use the Next Up widget to see your current episodes of your show to watch and also use the unwatched shows widget to show your shows you have added to collection but not started watching yet.

Can it be a setting to enable or disable if pos

[2019-03-27 11:52] Lisa-Williams commented on #60
I wonder what will happen if there are only SD quality links.

[2019-03-28 09:17] Zblorg opened #82 "[Feature Request] Uncached source selection for cache assistant"
Hi,
~~a very useful feature would be to allow us to chose which link the cache assistant puts in our debrid account.~~ Turns out you can already.

Would also be nice to be able to cache uncached torrents even when some are available as sometimes the ones already cached are not suitable (files too big, quality too small, wrong language).

[2019-03-28 12:12] Baardmans opened #83 "[Feature request] Cancel button when scraping"
Sometimes, when scraping for sources, the final source to be scraped takes a while.
It would be good to be able to cancel this process and have it play a stream that's already been found.

Thanks in advance!

[2019-03-28 12:17] Baardmans opened #84 "[feature request] hide season 0 / specials"
The title says it all I think, but this would be a good feature to have, for me at least : )

Thanks in advance!

[2019-03-28 16:18] pencey commented on #83
Doesn't pressing the back button work for this? B on my shield remote does this!

[2019-03-28 17:41] Baardmans commented on #83
Dan, I feel so stupid right now... Thanks @pencey!

[2019-03-28 17:41] #83 closed

[2019-03-31 23:31] nixgates commented on #80
Please note, this is a duplicate issue
Duplicate of #39

Next update should help to resolve this issue as the caching of menu items has changed drastically.

[2019-03-31 23:31] #80 closed

[2019-03-31 23:33] nixgates commented on #78
Seems like it's to do with Kodi caching the menus. I've disabled this for the next update which should resolve this issue.

In the interim, please make sure your Trakt account is successfully authorized (your account name should show in the settings menu) and restart kodi.

If this fails to work try re-authorizing Trakt again.

[2019-03-31 23:34] nixgates commented on #75
This has confirmed to be a big help to low end devices and as such has been added for the next update.

[2019-03-31 23:34] #42 closed

[2019-03-31 23:36] nixgates commented on #51
Closing issue due to lack of information, if you would like to re-open the issue let me know

[2019-03-31 23:36] #51 closed

[2019-03-31 23:38] nixgates commented on #79
You can find Recent Episodes for all the shows you watch under the following menu:

My Shows > Recent Episodes

[2019-03-31 23:38] #79 closed

[2019-03-31 23:39] nixgates commented on #84
Added and will be released with next public update

[2019-04-02 04:18] nixgates commented on #81
I think what might be better served for this is if you utilized the Trakt Watchlist.

Rather than just throwing everything at your collection, if you add something to your Watchlist it will stay there until you have watched it once. This is almost exactly what you want, only difference is you will just need to add it to your collection should you decide you want to keep watching it 👍

[2019-04-02 04:18] #81 closed

[2019-04-08 23:11] lukehansford commented on #81
What is the need to add it to your collection. Does it not move from the watchlist into the Seren Next up automatically?

[2019-04-09 18:20] lukehansford opened #86 "All TV show categories such as Trending and my shows have stopped loading"
All the TV show categories have stopped loading since yesterday.

All the movie categories are working fine including movie Trakt Watchlist.

[2019-04-09 19:53] lukehansford commented on #86
It looks like it is just all the my shows sections.

[2019-04-09 23:38] nixgates commented on #86
Trakt had an outage yesterday, please try clearing your cache and re-attempt to load the menus.

Trakt appears to have resolved the issue on their end now.

[2019-04-09 23:55] lukehansford commented on #86
The issue is still hapening.

The my shows sections are having trouble loading such as collection, next up and even the trending TV shows section.

It looks like an issue with TVDB.com

It's only affecting the TV show sections. I can load Trakt fine such as movie lists and watchlist.

Here's a log

https://paste.kodi.tv/egimolosec

[2019-04-10 00:06] dimitris90s opened #87 "Language"
Hello Nix,

I would like to make a suggestion if it possible.
There are many non English people who using your addon and it would be great if you can add a language menu to movies and tv shows sections like original Exodus.
It would be really helpfull.

Thanks for this great addon!

[2019-04-10 00:07] nixgates commented on #86
From what I can see in the log you are experiencing some network issues on your end:

Can you please try and restart your router and device.

Some of your connections are going through but also some look to be timing out or dropping.

From what I can see, TVDB and Trakt are both up and operational.

[2019-04-10 00:16] lukehansford commented on #86
Could it be related to the cloudflare issue?

Had no issues untill today.

Trakt is working great on other add-ons such as Gaia and on all the movie section s it loads perfectly including my Trakt movie latest releases list and watchlist.

Could it maybe be tvdb and a cloudflare peering issue.

[2019-04-10 00:17] nixgates commented on #56
This issue was due to Kodi not advising Seren on playback finished.

This should be fixed in next public update.

[2019-04-10 00:18] lukehansford commented on #86
I can load both of those artworks instantly

[2019-04-10 01:17] nixgates commented on #86
Can you please do the following temporarily disable your skin, clear your cache and turn off your device. Restart your router, turn on your device and try to navigate to a TV show menu in Seren using the default Kodi skin.

[2019-04-10 10:13] lukehansford commented on #86
I have been using the default skin.

I have cleared the Kodi cache, Seren cache and even used reapers wizard to clear the cache.

Have restarted router and device many times.

It shows a continuous loading icon for any of the TV show sections including Trending and Next Up.

Here is a fresh log file

https://paste.kodi.tv/vucugekuco

[2019-04-10 12:31] lukehansford commented on #86
I have done another fresh install and still doesn't work.

All other Kodi add-ons are working for tv shows

[2019-04-10 13:04] lukehansford commented on #86
I have installed Kodi 18.1 on my phone and it still does not load which rules out the firestick 4K.

Looks like tvdb or some other service is being blocked or the specific API or URL that Seren is using.

[2019-04-10 13:40] lukehansford commented on #86
Changing up address does not fix it either. So strange that the only thing being blocked in the TV sections surely that must mean it is tvdb?

[2019-04-10 16:58] lukehansford commented on #86
It is working on WiFi on my phone but not on Firestick 4K.

Could it be something just affecting this device?

[2019-04-10 17:21] lukehansford commented on #86
I have created a TVDB API key and put that into Seren and it still won't load the TV sections.

Surely they are coded the same as the movie sections.

I'm using a Firestick 4K and Kodi 18.1

I can't understand why it would stop working overnight.

Its working on Kodi on my android phone.

[2019-04-11 02:00] nixgates commented on #86
@lukehansford
I suggest at this point you try the new development branch, you can download a zip with this URL
https://github.com/nixgates/plugin.video.seren/archive/Development.zip

Let me know if the updates included in the development branch help to alleviate your issues

[2019-04-11 11:48] lukehansford commented on #86
It has started to work again.

It must of been a trakt or server issue.

Thank you for all your help with this.

[2019-04-11 11:48] #86 closed

[2019-04-12 14:12] neoflix opened #89 "Show filename when searching subtitles"
It would be nice to see filename when you search subtitles.

[2019-04-12 23:07] trowieuk opened #90 "Some items unplayable not all"
Never had this issue with previous version. Some work, some don't. Including ones that worked before new update.

![screenshot000](https://user-images.githubusercontent.com/45860444/56070505-043fd500-5d80-11e9-9810-e830c45b3514.png)

00:00:18.849 1:2204 ERROR: Traceback (most recent call last): 00:00:18.849 1:2204 ERROR: File "C:\ Users \TROW1E \AppData \Roaming \Kodi \addons \plugin.video.seren \

[2019-04-13 00:37] Madddcow opened #91 "Nothing is playable in v0.2.6....Seren just sits there buffering"
Hi there.  Since Seren auto-updated last night to v0.2.6, nothing is playable because Seren just sits there with 0% buffering at 3 secs into the video with no progress at all. It does this with every single show and movie I've tried.  The video will start playing and then stop at 3 secs with buffering sitting at 0%...it happens exactly the same way with every video. I've tried re-authorising Real

[2019-04-13 05:08] Fuckuptheworld13 opened #92 "issue with seren starting tv shows"
im getting a popup when starting a tv show saying "one or more items failed to play check the log for more info" but it only happens when i have the kodi settings default select action to show info under media setting on this issue never happened to me before

[2019-04-13 23:58] trowieuk commented on #91
try providing the log...

[2019-04-13 23:58] trowieuk commented on #92
try providing the log...

[2019-04-14 09:27] Jezze83 opened #93 "Seren freeze with 0.2.8 version"
With latest seren version, kodi freezes no matter what kodi version is installed. Freezes whole system when try enter seren menu and even when trying install from nix repo. Reddit have thread for that and other users have same problem. How to solve this @nixgates ?

[2019-04-14 11:04] nixgates commented on #93
Please manually update to 0.2.8, I don't know how this could have been caused but I can't replace it in the latest update.

[2019-04-14 11:06] nixgates commented on #92
@Fuckuptheworld13 could you please update to 0.2.8 and check if the issue is still occuring?

[2019-04-14 11:07] nixgates commented on #84
Feature now available in Seren 0.2

[2019-04-14 11:07] #84 closed

[2019-04-14 11:07] nixgates commented on #75
Issue should be resolved after 0.2

Please check and confirm

[2019-04-14 11:08] nixgates commented on #73
Resolved in 0.2

[2019-04-14 11:08] #73 closed

[2019-04-14 11:08] nixgates commented on #72
Added in update 0.2.0

[2019-04-14 11:08] #72 closed

[2019-04-14 11:08] nixgates commented on #71
Resolved in update 0.2.0

[2019-04-14 11:08] #71 closed

[2019-04-14 11:08] nixgates commented on #60
Added in update 0.2.0

[2019-04-14 11:08] #60 closed

[2019-04-14 11:09] nixgates commented on #93
Sorry, I just noticed you said you had 0.2.8 installed

Could you please provide a debug log up until the freeze?

[2019-04-14 11:11] nixgates commented on #93
Able to replicate on a Linux device but appears working on Windows. Please give me some time to check what's happening

[2019-04-14 11:14] Jezze83 commented on #93
At the moment i dont have any version installed because i manually deleted seren and i cant install any version because kodi freezes. Im running libreelec with pc.

[2019-04-14 11:41] nixgates commented on #90
Issue resolved in Seren 0.2.8

[2019-04-14 11:41] #90 closed

[2019-04-14 13:57] nixgates commented on #93
Issue with repository should now be resolved.

Thank you for reporting it

[2019-04-14 13:57] #93 closed

[2019-04-14 14:53] Baardmans commented on #84
@nixgates, thanks, works like a charm! With the update I also finale see watched indicators on my home screen widgets! 👍🏻

[2019-04-14 16:24] icpryde opened #94 "“No sources found” on 0.2.8"
Everything was working fine on 0.2.7 for the most part but now movies aren’t playing at all. I’m getting a bunch of errors now. Here’s my log file @nixgates

https://paste.kodi.tv/feyamiwaba

[2019-04-14 16:56] icpryde commented on #94
I rolled back to 0.2.7 expecting it to work but now that’s not working either I grabbed another log. https://paste.kodi.tv/epawikiqow

[2019-04-15 01:02] nixgates commented on #92
I've identified an issue, can you please confirm two things for me?

Are you trying to play the item from the information screen?
Are you on Kodi 18.1?

[2019-04-15 02:02] drinfernoo commented on #92
@nixgates Sounds like that's the exact issue.

[2019-04-15 04:18] nixgates commented on #92
Pending Update, hopefully live in an hour or so

[2019-04-15 05:23] icpryde commented on #94
all is working now with 0.2.11 thank you!

[2019-04-15 05:23] #94 closed

[2019-04-15 05:48] nixgates commented on #92
@Fuckuptheworld13 could you please update and confirm issue is now resolved 👍

[2019-04-15 05:52] nixgates commented on #91
Howdy @Madddcow

Buffering is 99.9% of the time due to your connection to the file. Not to say it couldn't be Seren, it's just the possibility of it causing buffering is near nothing.

Are you still having the issue? Is the issue only at certain times of the day?

Unfortunately testing that a file can be watched from their website only proves that Kodi is having an issue viewing it and not Seren i

[2019-04-15 05:52] #75 closed

[2019-04-15 05:53] nixgates commented on #39
@toneman77 can you check and confirm your issue is still present on the latest release of Seren?

[2019-04-15 05:55] nixgates commented on #78
@tsteven9 if you wouldn't mind answering a question, are you running Seren on SPMC?

[2019-04-15 22:20] Fuckuptheworld13 commented on #92
@nixgates yea is working now thanks bro u r BEST! appreciate! your hard work

[2019-04-16 01:57] #92 closed

[2019-04-16 01:59] nixgates commented on #56
@lukehansford

Can you please check and advises if the issue has been rectified?

[2019-04-16 17:01] denimnani opened #95 "Section "Unfinished shows in colection" is showing all shows"
The section "Unfinished shows in colection" is showing all shows even the complete ones.
In the version 0.1.35 this section worked fine, only shows series that actually have episodes to watch.
At this point I don't know in which version this stop to work properly.
:)

[2019-04-16 22:18] lukehansford commented on #95
Same here

[2019-04-16 22:36] lukehansford opened #96 "New error message near end of TV episodes in 0.2.15"
There is a new error message that has just started showing near the end of TV show episodes in the latest update 0.2.15.

It states 'no sources found for next item in playlist'
'Clearing current playlist'

I got the error on both the latest episodes of The Blacklist and American Gods when I played them from Next Up just before the end of the episode where I believe it would pre-scrape the next epi

[2019-04-16 22:44] lukehansford commented on #82
This would be a great feature.

I find many times some TV show season lack a decent source cached on real debrid.

I go to the Rarbg (TorrentAPI) site and find a Blu-ray season pack that just needs caching and in less than 24 hours it is cached.

If this feature is added can it be made so it caches the entire season pack when you cache it as currently I believe with the current cache assist functi

[2019-04-16 22:51] nixgates commented on #82
@lukehansford this is already implemented at the moment, with the new changes to RD's API and public release of 0.2 all caching to RD servers now selects all media files within the item.

[2019-04-17 12:44] lukehansford commented on #82
That is really good. If we can get the option to be able to see non cached links and cache them that would be great. It would also have the benefit of more cached links on RD for everyone and we won't need visit the Torrent site and copy the magnet link into real debrid.

Maybe a context menu option where we can select one item to cache at a time such as a season pack and being able to see the see

[2019-04-18 11:48] lukehansford opened #98 "Creating playlist slower in latest update & time before scraping starts"
I have noticed in update 0.2.15 when you select a TV show episode it is much slower and taking longer to create a playlist and the time before it starts scraping links.

I'm specifically talking about the time you select the episode to play untill it begins the scraping process.

Wonder if it's possible speeds this up at all.

If you watch alot of TV shows this is quite noticeable.

[2019-04-22 10:41] farmaher opened #100 "Trakt double authorization"
Whenever I have to give Trakt authorization to Seren, I should do it twice to get it working. After first authorization, even by restarting kodi, I am still unable to see my watchlists and should re-authorize Trakt to be able to open my watchlists under My Movies / My TV Shows. The first authorization is given to **Seren** but on second try, the authorization is given to **Trakt API KEY**!

I am e

[2019-04-22 15:24] drinfernoo commented on #100
Are you using a custom Trakt key in the "API Keys" section of settings?

[2019-04-22 15:27] farmaher commented on #100
Yes, I use personal Trakt API key but I think it shouldn't aks for authorization twice.

[2019-04-22 16:12] drinfernoo commented on #100
Try removing your keys and see if it still asks twice. I'm just trying to find the source of the bug.

[2019-04-22 19:02] farmaher commented on #100
I removed the key and I can confirm that it was authorized on first try. So, this only happens when the user input Trakt API keys.

[2019-04-23 03:08] nixgates commented on #95
Fixed pending Update

[2019-04-23 03:08] nixgates commented on #96
Fixed Pending Update

[2019-04-23 03:09] nixgates commented on #91
Closing issue due to lack of response from user

[2019-04-23 03:09] #91 closed

[2019-04-23 14:44] denimnani commented on #98
I had a similar issue in the past,
I solved by wiping the addon data and setting up again.

[2019-04-23 15:15] denimnani opened #101 "Trakt manager "add to collection" not working"
Hey Nix,
The function on trakt manager  "add to collection" is not working for both movies and tv shows.
I receive the confirmation notification but nothing new is added to collection.
The "add to watchlist" is working fine.
I have tried in diferent days and devices to rule out any trakt issue but it seems to be seren.

[2019-04-23 15:25] denimnani commented on #100
This also happened to me a some time ago,
I have restarted seren:
Then in first place put my API and only then authorized trakt, for me solved the issue.
If you authorize trakt first and after use a personal API, it will cause this.

[2019-04-24 16:35] denimnani commented on #95
Fixed, (0.2.22)
You are a machine :)

[2019-04-24 16:35] #95 closed

[2019-04-24 17:18] Baardmans opened #102 "[Bug in 0.2.2] Auto play doesn't work"
After the update, when selecting an episode to play, it doesn't actually load/play anything. I need to long press and choose "Source select" for seren to start scraping sources.

[2019-04-24 17:41] Baardmans opened #103 "[Feature request] Set text color"
Since the 0.2.2 update the text color has changed from white to red. I would like to be able to set this myself. (I'd prefer red text only for unaired episodes.)

[2019-04-24 17:49] denimnani commented on #102
For me is working fine

[2019-04-24 22:16] drinfernoo commented on #103
Only unaired epsiodes *should be* showing up in red italics.

[2019-04-24 22:41] lukehansford commented on #98
This time delay has only started in the same update that added the Trakt syncing

[2019-04-24 22:48] lukehansford opened #104 "Update 2.22 has broken Next Up"
Since the updated yesterday 2.22 next up is blank and does not load episodes.

Force syncing Trakt under tools does not fix it or rebuilding the database.

Even a reinstall of the add-on does not fix it.

[2019-04-24 22:56] lukehansford opened #105 "All items text looks bad in red and in italics in update 2.22"
Since the new update 2.22 all items such as TV shows and movies all are in horrible looking red text in slanted italic.

Can this be changed back to white and look how it did before?

Red and italic makes it very hard to read and looks bad.

Thank you

[2019-04-25 01:04] nixgates commented on #103
This is a bug that is currently affecting some users where Seren is unable to identify release dates.

Could you please provide a clean debug log or try to clear your cached meta in the trakt sync tools menu.

[2019-04-25 03:09] DJMix-I-Can commented on #104
I updated it on two devices. The first device was on a friends Firestick 4K device with Kodi 18.2. Next Up wasn't loading anything, so I rolled it back to 2.15. I couldn't check the rest of the folders because she had to leave.
I'm currently on my Win 7 laptop with Kodi 17.6 because I was going to update a build. The time and date is correct. This is what I get with this installation. Finish watch

[2019-04-25 10:59] lukehansford commented on #104
Looks fixed now.

I am running Kodi 18.1 with a Firestick 4k in the UK which is on British summer time GMT+1 timezone.

[2019-04-25 11:01] lukehansford commented on #105
Looks like this has been fixed in 0.2.3.

Only unaired episodes look like this which is great.

[2019-04-25 11:01] #105 closed

[2019-04-25 23:40] nixgates commented on #104
Thanks Luke, issue fixed in version 0.2.23

[2019-04-25 23:40] #104 closed

[2019-04-25 23:40] nixgates commented on #103
Issue fixed in version 0.2.23

[2019-04-25 23:40] #103 closed

[2019-04-25 23:40] nixgates commented on #102
This issue was fixed in version 0.2.23 - Date bug issue

[2019-04-25 23:40] #102 closed

[2019-04-25 23:43] nixgates commented on #101
I've identified an issue, if Seren has not seen any of the episodes for the show it's likely it won't be marked as collected.

Seren will need to ensure an episode is available in the database to successfully add to collection or force a relative sync of the database.

[2019-04-25 23:44] #96 closed

[2019-04-25 23:48] nixgates commented on #82
The idea moving forward is to add a "More orrents button to the source selection interface.

This will allow auto play users to experience Seren in an automated fashion while allowing users who wish to be more vigilant with their source selection to ability to manually select and cache items they prefer.

A new GUI interface will need to be built for this, changes to the source selection window wi

[2019-04-26 07:51] Jezze83 opened #106 "Library migration"
@nixgates is there library migration function with seren from trakt? If so, how to do that? If not, is it possible add that function?

[2019-04-28 00:24] lukehansford opened #108 "Next Up has stopped updating after watched episode since 2.22"
Before the big update of .22 the Next Up list would update after watching an episode and return to the next up list.

This happened on two seperate devices.

I am using AuraMod.

After watching an episode from the Next Up widget after closing the episode and returning to Next Up widget after about 30 seconds the widget would update and teh episode would disappear.

This does not happen in the late

[2019-04-28 00:34] lukehansford commented on #82
Sounds a great way because you will be able to see what Seren has found cached first and if you don't like any of the cached links you can go ahead and cache your own.

[2019-04-28 17:25] denimnani commented on #108
Same issue here...

[2019-04-28 22:53] nixgates commented on #108
@lukehansford

Seren does not control any refreshing of widgets. The addon that would have taken care of refreshing your widgets after playback would have likely been the Skin Helper Widget.

[2019-04-28 22:53] #108 closed

[2019-04-28 22:56] nixgates commented on #106
Seren does not provide any library integration and I do not intend to add this feature moving forward.

Seren creates it's own local database of your collection/watched items from Trakt so adding library integration would only double up this information.

If there are features from the Kodi library that you would like to implement into Seren I'd be happy to look into doing it.

[2019-04-28 22:56] #106 closed

[2019-04-28 23:19] nixgates commented on #78
Closing this issue due to no response from user.

If you would like this issue re-opened please let me know.

[2019-04-28 23:19] #78 closed

[2019-04-28 23:20] nixgates commented on #56
Closing issue, this should have been rectified in a earlier release.

Please let me know if this is not the case

[2019-04-28 23:20] #56 closed

[2019-04-28 23:21] nixgates commented on #39
Closing issue due to no response from user.

Trakt Sync Database should have rectified this issue. Please let me know if this is not the case.

[2019-04-28 23:21] #39 closed

[2019-04-28 23:30] nixgates commented on #37
@babz1989 could you identify which version of Seren you mean by latest?

Are you running version 0.2.24?

[2019-04-29 00:37] nixgates commented on #63
Added for next public release

[2019-04-29 00:39] nixgates commented on #98
Issue has been identified and a workaround is ready for next public release

[2019-04-29 00:48] nixgates commented on #77
In next public release, Hide Un-Aired Episodes has been changed to Hide Un-Aired Items.

This now also applies to Movies, Seasons, Shows, Episodes

[2019-04-29 00:59] nixgates commented on #100
@farmaher The issue you faced is likely as @denimnani advised

The first authorization is provided for Seren's default Trakt ID.

When you attempt to use a different Trakt API key with Seren, you must authorize again with this new key.

[2019-04-29 00:59] #100 closed

[2019-04-29 01:28] nixgates commented on #101
@denimnani I assume they appear after a few minutes though?

I've added a force sync to happen on the event these context menu items are triggered. This should mean the items are updated straight away and don't wait for the next background sync.

[2019-04-29 10:58] saba1970 opened #109 "Can't configure the settings menu"
Hello,
after the latest update I had lost my RD settings. So I want to fill these settings in the settings menu. But when I opened the settings menu I couldn't do anything. I had just a black screen.

Is this a problem in the new update?

[2019-04-29 16:34] pencey commented on #106
Some skins offer a "global search" See BINGIE Mod. I'm using AuraMod right now since the global search is effectively useless for me since it's only good for Library content and Seren is basically the only thing I use. I'm not sure if there is a way for you to do this, or if it would have to be more on the skin side, but you did great with the NextUp feature so here's to hoping lol. Thanks!!

Here

[2019-04-29 16:39] denimnani commented on #101
No Nix,
The problem is that the itens never appear in the collection or in the trakt web site, even after a few hours.
I have tried to sync after adding to collection but still noting, the watchlist is work almost immediately.

[2019-04-29 16:45] denimnani commented on #109
At least for me this never happen,
Try wipe the addon date and redo all settings, this maybe solve your issue.
Otherwise only Nix can help you...

[2019-04-29 17:59] drinfernoo commented on #106
@pencey It's completely outside of Seren's scope to integrate with Global Search... In Arctic Zephyr 2, you can define custom add-on paths for the built-in skin search, which works really well with Seren and other add-ons.

[2019-04-29 19:01] babz1989 commented on #37
@nixgates This issue has been fixed for me with the latest updates

[2019-04-29 19:16] pencey commented on #106
Thanks for the tip!

[2019-04-29 23:22] nixgates commented on #109
Sounds like an odd issue, @saba1970 could you please provide a debug log for me to investigate the cause of the issue.

Thank you.

[2019-04-30 06:30] saba1970 commented on #109
@denimnani . Thanks. After the wipe addon everything works fine again.

[2019-04-30 06:30] #109 closed

[2019-04-30 12:09] phillipnguyen opened #110 "Error connecting to TMDB"

[2019-04-30 12:17] #110 closed

[2019-05-01 18:17] mophawka opened #111 "Keyboard not opening when enable search history is checked"
@nixgates when i enable search history in settings the keyboard no longer pops up when i search for tv or movie. if i uncheck it . it works fine. this searching while inside the add-on. not a widget or favourite. I am using Eminence 2.0 MOD. Seren 0.2.24 kodi 18

This is happening on windows kodi, fire tv, and nvidia shield.

Any ideas?

Thank you

[2019-05-01 21:21] baxter300 commented on #77
Sounds great, will that include movies that don’t have a planned release date?

[2019-05-02 23:31] denimnani commented on #111
This is very strange, for me is working fine.
Try other skin only to rule out if is skin related.

[2019-05-02 23:38] denimnani commented on #108
@nixgates
I think the issue is not in the Skin Helper Widget.
I have tried directly on seren and after watch an episode the next up won't update,  only after a few minutes or force syncing.
Before was working instantaneously.
This is not a deal breaker but will be nice to work as once before.
Thanks for your hard work :)

[2019-05-02 23:48] lukehansford commented on #108
I totally agree. the issue is not related to the skin helper widget. it stopped working straight after the .22 update and I haven't had any updates to the skin helper widget for ages.

only clearing the cache is updating the list for me. even a kodi restart and the widgets reloading doesnt update the next up list.

I posted this issue on reddit and straight away SerpentDrago replied and said the i

[2019-05-03 02:33] drinfernoo commented on #108
@lukehansford Fortunately, @nixgates has a much better idea of what is "confirmed" to be in the next versions than @SerpentDrago does 😂

[2019-05-04 03:27] DJMix-I-Can commented on #101
I believe this might be relevant to what I'm going through. I was on 0.1.35 because it was working fine & saw that a lot of people were having problems on the updates. Once the updates started fixing their issues, I decided to update my setup. It was working fine until I added a new show called Dead To Me & the new season of Deep State & Tales came out. Neither of them appeared on my Next Up.  I w

[2019-05-04 21:02] 416eddie opened #112 "Seren errors on Kodi Startup"
Hi
My Kodi is crashing on startup and when it doesn’t crash it gives me check log file.
I am using Seren 0.2.24 on Kodi 18.2 a fresh install of Kodi and Seren last night did not fix. Here is the log file.

https://pastebin.com/WxEck7T4

[2019-05-04 21:18] drinfernoo commented on #112
[code]

[2019-05-05 07:53] boomcie commented on #89
This used to work fine in Seren. Has been broken for a few months now.

[2019-05-06 23:14] nixgates commented on #112
Looks like something is wrong with your Seren install weirdly enough.

[2019-05-06 23:17] nixgates commented on #111
@mophawka could you please follow @denimnani advise and try using a different skin?

I'm unable to re-create this issue

[2019-05-06 23:47] 416eddie commented on #112
Hi
There is a folder by that name and it has the following in it
_int_.py
_int_.pyo
GMT
temp.gz
zoneinfo-2010g.tar
Thanks for following up with me on this

[2019-05-08 18:53] mophawka commented on #111
@nixgates sorry for the delayed response. been AFK for a bit. it most certainly is a skin issue. i'm just trying to understand what is changing when i tick enable search history and when i uncheck it to cause one to suppress the keyboard and other not. can't exactly present this to official kodi forum as they frown upon and do not/will not support unofficial add-ons. Thanks

[2019-05-09 02:45] nixgates commented on #112
@416eddie

can you just confirm for me that the file is named int or is it "__init__.py"?

[2019-05-09 02:49] nixgates commented on #111
@mophawka totally understand,

I might be able to help you out if you wouldn't mind passing over a debug log?

[2019-05-09 03:11] 416eddie commented on #112
One file is  _int_.py  and another called _int_.pyo

[2019-05-09 03:13] 416eddie commented on #112
When ever I type it in it takes the _ out not sure why that is the file is _int_.py

[2019-05-09 03:17] 416eddie commented on #112
My auto correct keeps changing the init to int too but the file is definitely _init_.py

[2019-05-09 08:13] mophawka commented on #111
@nixgates debug log attached. the resulting file was too large to use pastebin so i zipped it and attached it. Appreciate the help

[kodi.zip](https://github.com/nixgates/plugin.video.seren/files/3160974/kodi.zip)

[2019-05-09 16:34] drinfernoo commented on #112
It's called `__init.py__`.

[2019-05-09 16:35] 416eddie commented on #112
There is no_ after the .py

[2019-05-09 19:45] drinfernoo commented on #112
@416eddie Fixed it, my bad.

[2019-05-09 19:47] 416eddie commented on #112
Thanks

[2019-05-10 16:30] denimnani commented on #101
@nixgates is working.
Thanks man

[2019-05-10 16:30] #101 closed

[2019-05-10 17:55] kartana opened #113 "Something broke the addon between 0.2.24 and 0.2.30 on AppleTV with Kodi 17.6"
I hate posting this without a log but I haven't figured out how to copy it from my AppleTV install. I can view the log but not copy it over.
Version 0.2.24 runs flawless but I just installed 0.2.30 (fresh Kodi install) and everything breaks. First error with Trakt authorization and then searches don't work and nothing shows up in top movies etc.. It throws a bunch of python errors.
Going back to 0

[2019-05-10 23:22] andrewgribben commented on #113
I'm having the same problem and had to roll back too. I'll update again and pull the Kodi logs in the morning.

[2019-05-11 02:00] Fuckuptheworld13 opened #114 "Trakt sync"
how long do i have to wait for trakt sync to done i been waiting for more then 3hr now and why is it slowing down the whole nvidia shield tv i cant do nothing in the background is going slow mode in kodi and the out side of kodi while doing this trakt sync stuff i cant multi task slowing down my shield tv

[2019-05-11 04:09] Fuckuptheworld13 commented on #114
5hrs later the trakt sync is done and no more slow down on the shield

[2019-05-11 16:09] denimnani commented on #114
Hey men be pacient the addon is in beta stage, you must expect bugs...
I use seren in 2 shield tv and for now the sync is working for me.
I don´t now if you have a lot of content or not, but for me the full syncing process take about 4 to 5 minutes and i have a lot to sync.
Try to rebuild yor database it may solve your issue.

[2019-05-11 17:52] nixgates commented on #114
Can you please provide a debug log in case something has gone wrong.

Is the sync still progressing? How old is your trakt account? Is there a lot of data to process?

There are many factors here. Personally I have over 200 shows I have watched that I track and over 2000 episodes/movies I have marked watched in my trakt account.

The entire sync takes for my account takes about 15 minutes for me.

[2019-05-12 06:18] Fuckuptheworld13 commented on #114
Please! dont take this as an attack im a "Big Fan!" of your work @nixgates i really Appreciate! what you do SEREN is my "Number" one addon the problem is that i never had no issues with seren at all the thing is that i did a reinstall of seren because of the update of seren being slower so when the trakt sync start it doing it thing thats when i was having problems like taking 3hr or so to be done

[2019-05-12 07:58] kartana commented on #113
Are you on AppleTV too?

[2019-05-12 08:30] andrewgribben commented on #113
Yes

[2019-05-12 14:31] MatthieuLab commented on #113
Same here!
I know have to figure how I can grab the previous version!

[2019-05-12 14:53] MatthieuLab commented on #113
Ok, I have clone the git, checkout a 0.2.23 commit, zip the rep and it's fine now.

[2019-05-12 17:23] kartana commented on #113
Was anyone able to get a log file?

[2019-05-12 18:32] neutroh commented on #113
I’m having the same issue on 0.2.30. Nothing works. Clicking literally any menu item within Seren causes “Seren error” notification toast in Kodi. Can’t view any media since it looks like Seren is totally broken in this release. Kodi Log Viewer shows them all to be python errors. I can attempt to take a picture of the logs and post some Imgur links, since there doesn’t seem to be a way to extract

[2019-05-12 22:07] lukehansford opened #115 "Unaired episodes getting added to playlists"
This happened a few updates ago and was fixed and seems to be back again in version .30.

If you watch a weekly episode where it's just one that is available you get an error message near the end of the episode when it tries to pre scrape for links.

It states cannot find sources clearly playlist.

Obviously it can't find sources for the next episode because it hasn't aired yet.

Thankyou

[2019-05-13 09:55] mtaun01 opened #116 "Suggestion: Extra option for UpNext behaviour"
I know that UpNext is aiming to emulate NetFlix behaviour but it isn't always optimal because Netflix has the ability to know when the credits start for everything it shows so it can get the timing right all the time for when its UpNext countdown is first displayed. For Seren we need to set a fixed timer for how long from the end that happens - too short and you risk waiting through loads of the c

[2019-05-13 13:42] denimnani commented on #114
@Fuckuptheworld13 check on google "how to upload kodi log" there are many tuturials on this.
(example: https://www.youtube.com/watch?v=WA5xkTIpdTk)
The file you need is Kodi.log not kodi.log.old, the log doesn't show your passowords..

[2019-05-14 11:11] kartana commented on #113
Ok, amateur hour but here is a screenshot of the error message I get when searching for a tv show (only happening on v0.2.30)

![IMG_0219](https://user-images.githubusercontent.com/8889810/57693552-ccab9d80-7649-11e9-9474-108335bb4046.JPEG)
![IMG_0220](https://user-images.githubusercontent.com/8889810/57693557-ce756100-7649-11e9-93a2-0483d9a3002d.JPEG)

[2019-05-14 14:23] lukehansford opened #117 "Studio icons missing ?"
I have just updated to the latest version of AuraMod and I can't seem to get the studio icons to show.

Do I have to enable them?

I am using the latest version of Seren .30 as the wodegt source.

Thankyou

[2019-05-14 14:27] #117 closed, assigned to nobody

[2019-05-14 16:51] icpryde opened #118 "Inspect Cloud Files on Scrape issue"
Hey Nix, I noticed something with this. If I have an individual file whether its a movie or show then this feature seems to be working. Though if I have an entire season cached on my cloud then Seren doesn't seem to scrape it from the cloud.

Here is a log file:

https://paste.kodi.tv/alikimekir

[2019-05-14 18:15] nafr1 opened #119 "Only play Cached Premium Links"
Hello,

I have a Premiumize Account. I would like to ONLY play TORRENT LINKS that are Cached on Premiumize. Is it possible to do that using Seren addon?

Thanks

[2019-05-14 21:15] lukehansford commented on #118
Seren could not find the latest release for the Greta film from rarbg latest releases bar.
Greta.2018.1080p.AMZN.WEBRip.DDP5.1.x264-NTG

I added it to my real Debrid cloud but Seren cannot scrape it.

It shows in my files.

Don't think this just affects season packs.

[2019-05-14 22:31] nixgates commented on #119
In the accounts section there is an option to enable/disable hosters per premium account.

Uncheck the hosters option in the premiumize settings and it will not attempt to play them through that account.

[2019-05-14 22:31] #119 closed

[2019-05-14 22:43] nixgates commented on #118
Yea it has a few bugs as was not really ready for release. Unfortunately there was a lot of push back about the next up not refreshing which was included in this release.

In the end I had to push through the update early to overcome that issue. The cloud file inspection is still being worked on and I'll hopefully have it ironed out by next update.

[2019-05-14 22:46] nixgates commented on #115
This is addressed and ready for next update, cheers for the information.

[2019-05-14 23:36] nixgates commented on #113
That looks more like Kodi is not returning a number from the settings.

Can you open Seren's settings and in the general tab, set the item limit per page to a number?

@kartana

[2019-05-14 23:38] nixgates commented on #112
Lol Github formatting killing the conversation.

@416eddie is the issue still there after the latest update?

[2019-05-14 23:43] 416eddie commented on #112
Yes the issue is still there but I was going to try to uninstall and reinstall completely to see if that fixes it, I will let you know once if have had time to do that, thanks for keeping up on this

[2019-05-15 04:16] nixgates commented on #114
@Fuckuptheworld13 No it's fine, no attack taken 😂

Is the progress of the initial trakt sync moving? Can you see the percentage still rising?

Would you also mind answering the other questions I put forward in the last message?

[2019-05-15 04:18] nixgates commented on #77
@baxter300 this will also affect movies that don't have a planned release date.

If a episode/show/season/movie is identified as unaired or the release/airdate can't be identfied it is considered as not aired.

Could you confirm that the changes have covered everything for you?

[2019-05-15 04:23] nixgates commented on #67
@icpryde I was just reading through this ticket again to see what needs to be done.

Just so you are aware, Seren doesn't go through providers one by one, they are all performed at the same time. What you are likely seeing is a provider finishing before the other.

My ideas for scraper priority are probably not going to happen at this point due to there really not call for it. If that changes in t

[2019-05-15 04:23] #67 closed

[2019-05-15 04:23] #63 closed

[2019-05-15 04:26] nixgates commented on #98
Issue resolved in version 0.2.30

[2019-05-15 04:26] #98 closed

[2019-05-15 05:37] baxter300 commented on #77
@nixgates confirmed that as of .2.30 movies with a future date are hidden, however ones with no planned release date seem to still be getting through

[2019-05-15 06:53] kartana commented on #113
Thanks for replying @nixgates. The limit is set to the default 40. I tried to change it just to make sure but I get the same problems.

Here is the error message if I try to click on a TV Show I had set as a favorite in Kodi before updating to 0.2.30.

![1](https://user-images.githubusercontent.com/8889810/57754508-eb17a480-76ee-11e9-9e31-250ff273361a.jpg)
![2](https://user-images.githubuserconten

[2019-05-15 10:30] mtaun01 commented on #116
Thanks. I didn't know about that up-arrow functionality. I think that's exactly what I was suggesting assuming that when you hit the up key it immediately goes to the UpNext behaviour of getting you the next episode. I'll have a play tonight.

I certainly don't like setting a long delay on UpNext because I often end up getting the UpNext display annoying me in the corner of the screen when the epi

[2019-05-15 19:47] lukehansford commented on #115
You are welcome and I must say thankyou for all you hard work on Seren :)

[2019-05-16 01:25] 416eddie commented on #112
I have reinstalled and it seems to be working fine now. Thanks for the help.

[2019-05-16 01:54] 416eddie commented on #112
Spoke too soon I was able to turn off Kodi and trim it back on with out issue twice then I had to shut it down one other time now having the same issue with Seren error message and Kodi just shuts down with in 30 seconds of start up plus now I am unable to authorize real debrid

[2019-05-16 02:44] nixgates commented on #112
Did you reinstall Kodi or Seren?

[2019-05-16 02:46] 416eddie commented on #112
I just reinstalled Seren I might try a full reinstall of Kodi on the weekend

[2019-05-16 03:37] 416eddie commented on #112
Here is a new log file
https://pastebin.com/nmBBuDfg

[2019-05-16 17:57] nafr1 opened #120 "Feature Request: AutoPlay with rules defined"
Hello,

I really like the Auto Play option in the Seren addon. One thing I would suggest is the creation of rules (based on settings) to auto select the source. So in the settings, if we can define something like... Autoplay the first Video that has {4k, 1080p etc} resolution, {7.1, 5.1 } Audio, File size between 5gb and 10gb. and Autoplay option looks for something that's closet to that rule and

[2019-05-17 04:44] busherz commented on #113
I also have the same issue as above.With my 4K Apple TV Search stopped working and went blank on 0.2.24 and now with 0.2.30 I just get an error.

With Apple TV 4 search still works but I get the same error!

Kodi 17.3 on both

[2019-05-17 06:04] kartana commented on #113
For version 0.2.24 just disable "search history" and it should work fine.

[2019-05-17 09:20] Fuckuptheworld13 commented on #114
ok your questions
Is the sync still progressing? if you asking if is doing the trakt sync then yes but took hrs
How old is your trakt account?i really dont remember i think 2 maybe 3years
Is there a lot of data to process?182 tv shows
i recently did a trakt sync again because i was getting an error trying to open liked lists on my trakt it wasnt opening the trakt liked list in movies and tv showes

[2019-05-18 09:44] kartana commented on #113
So I did the following:
1. uninstalled Seren
2. made sure both the addon folder and the folder inside userdata are gone
3. installed Seren 0.2.30 fresh
This is the first error message I've got without even touching the settings:

![1](https://user-images.githubusercontent.com/8889810/57967653-ddb62080-7961-11e9-9703-f743aaa19a86.jpg)
![2](https://user-images.githubusercontent.com/8889810/57967654-

[2019-05-19 08:27] mtaun01 commented on #116
Up-arrow tested and working exactly as described and gives me what I hoped. For me at least the up-arrow is a very natural key to use so no request from me for any ability to be able to change it to anything else. I am closing this (my) issue.

[2019-05-19 08:27] #116 closed

[2019-05-19 22:20] mLgz0rn opened #121 "[Feature request] Filter sources"
Hey!

Would it be possible to add to the filters so you can like blacklist sources that has certain words in them.
Right now I'm getting an episode of vikings that has french language dubbed over it. So being able to filter out "FR,ES,GER" and so on from the source title would be great.
This is only an issue when using autoplay mostly though.

Kind regards

[2019-05-20 00:19] Fuckuptheworld13 commented on #114
i got the same error i had before today i cant open nothing in my trakt the only thing i could open is my collection error message : https://drive.google.com/file/d/1EA-sBwcuxjdk-pOsfvBUevMBnHqZbzYc/view?usp=sharing

new logs
https://paste.kodi.tv/yebopuvadu.kodi

[2019-05-20 01:26] Fuckuptheworld13 commented on #114
@nixgates how can i rollback to the old ver. im to much problems with the new ver. is to much every time im having a problem/errors i have to start all over and reset seren and i have to want 3hrs for the trakt sync stuff to be done

[2019-05-20 03:44] nixgates commented on #114
https://github.com/nixgates/nixgates/raw/master/packages/plugin.video.seren/plugin.video.seren-0.1.35.zip

That's a link to manually revert to pre-trakt sync

[2019-05-20 03:45] nixgates commented on #114
@Fuckuptheworld13 that error you sent through though was because your device was having issues connecting to Trakt though, nothing to do with the Trakt Sync Database

[2019-05-20 04:46] Fuckuptheworld13 commented on #114
@nixgates you right about that all this shi** going on is probably my trakt because when the trakt sync is loading is thinking too hard on the collected episodes part im give it one more go with this trakt account if not is over for this trakt stuff and now something cross my mind i think is maybe because i added a few trakt liked links from other trakt users smh im sorry about all this

Thanks @n

[2019-05-20 05:12] nixgates commented on #113
@kartana Can you please find the settings.xml file in the following folder:

Inside this file is a line that will look similar to this:

Could you please reply with this line

(please make sure to only copy this line over, this file will contain sensitive data so make sure to copy only this line)

[2019-05-20 05:14] nixgates commented on #112
Issue should be fixed come next update :)

[2019-05-20 05:18] nixgates commented on #120
Rather than putting a hard and fast rule, Seren uses sort options.

Is there something the sort options aren't fulfilling?

[2019-05-20 05:48] nixgates commented on #77
@baxter300 hmmm... Ok I'll dig in a little further, would you mind providing me with an example so I can test

[2019-05-20 06:28] nixgates commented on #115
@lukehansford no worries :)

Latest update should resolve the issue, if you could confirm and let me know that would be great 👍

[2019-05-20 06:29] nixgates commented on #112
@416eddie could you please check and confirm the issue is now resolved with 0.2.35?

[2019-05-20 06:30] nixgates commented on #118
@lukehansford can you confirm if the issue is now resolved with version 0.2.35 :+1

[2019-05-20 10:52] kartana commented on #113
@nixgates

`<setting id="item.limit" value="40" />`

[2019-05-20 10:58] baxter300 commented on #77
@nixgates Yeah sure, do you just need some example movies or a whole list?
Here are some I’m seeing it with: McClane, The Gentlemen, The Crooked Man, The Hitman’s Wife’s Bodyguard, Escape From Pretoria, Mad Max: The Wasteland, Now You See Me 3

[2019-05-20 17:38] icpryde commented on #118
@nixgates I just tested the feature and it seems to be working great! scraping is even faster now if you got the files on your cloud! Amazing job!

[2019-05-21 02:35] 416eddie commented on #112
Still having the issue will try do a fresh install of Seren tomorrow and see if that works

[2019-05-21 03:10] 416eddie commented on #112
Here is a new log file

https://pastebin.com/sF003nhB

[2019-05-21 07:26] kartana commented on #113
It seems to try to convert an argument that it gets as a string into an integer but can't, possibly because of a comma or something.

[2019-05-21 23:15] Fuckuptheworld13 commented on #114
@nixgates if u want u could close this issue i did a new trakt that fix my problem i was having

[2019-05-22 01:31] nixgates commented on #114
@Fuckuptheworld13 shame we don't know what caused it but I'm glad you're back up and running 👍

[2019-05-22 01:31] #114 closed

[2019-05-22 01:31] #115 closed

[2019-05-22 01:32] #118 closed

[2019-05-22 01:35] nixgates commented on #113
@kartana yea it sounds like Kodi is doing something weird with it's settings on the apple TV device.

If you are up to testing it out with me, I'd need to send you a custom version of Seren that will provide me a bit more information in the log so I can get and idea of where the hell this is failing.

[2019-05-22 01:37] nixgates commented on #69
I've reduced this as much as I can within Seren, we are unfortunately going to have to wait until/if Kodi patches/changes this behavior.

[2019-05-22 01:37] #69 closed

[2019-05-22 08:23] kartana commented on #113
Yes, sure. I think I might even be able to provide the full logs without having to use screenshots.

[2019-05-22 18:30] nafr1 commented on #120
Ummmm it is fulfilling to some extend... so here is how I am using the sorting... I am first sorting by Resolution and than by size. I have also restricted the size to 20GB Max. Now what I hope is the Autoplay is going to try to play a 4K movie with 5.1 or 7.1 audio.... but sometimes it starts playing 2.0 audio movie, although a 5.1 is available.
Also sometimes it starts playing a movie that is su

[2019-05-23 18:58] babz1989 opened #122 "Clicking on a show triggers scraping instead of browsing the show"
For some reason, when I click on a show, it triggers scraping instead of allowing me to browse the show. I don't know whether there's a setting for it because I can't find anything. It was working normal for me yesterday until I updated the addon and this has started happening since.

[This is it happening with a homescreen widget](https://streamja.com/zA9q)

[This is it happening directly in the

[2019-05-23 19:18] Mastacc opened #123 ""Next Up" widget caching bug"
The first time I open Kodi every day it is missing things I haven't watched. It seems to reset back to what it was when I first set up the addon, but I can't be entirely sure because I have to wait a day to even check it. The skin loads the "Next Up" widget and shows the wrong TV shows/episodes, but if I reload the skin or go to the "Next Up" section in the addon it now shows up correctly. Once it

[2019-05-23 19:24] babz1989 commented on #123
I've noticed this delay, it's not as extreme as your situation but it does take a while for next up to refresh. I usually have to force a Trakt update then reload the skin for it to show correctly.

[2019-05-23 20:24] drinfernoo commented on #122
Turn off "Auto Episode Resume" from Seren's settings.

[2019-05-23 23:48] babz1989 commented on #122
Perfect, that worked! Thank you.

[2019-05-23 23:48] #122 closed

[2019-05-24 03:26] JayDigg opened #124 "Please stop the Trakt Error. LOL"
Geez, the Failed to authorize Trakt error is wayy to persistent. Every 5 seconds it keeps poping up. I dont even have a second to try to authorize again because everytime i try the error popup comes up and cancels the authorization. Not sure why if fails. Im already synced and Trakt is showing everything. One the error starts its impossible to navigate anywhere. I only have 3 tv shows and 2 movies

[2019-05-24 03:58] JayDigg commented on #124
Had to delete data and reinstall. If it comes back ill post a log. Thanks!

[2019-05-24 14:41] babz1989 commented on #120
Maybe you could add a tag filter in sorting so that it  would prefer files that have AMZN tag in them for example.

[2019-05-25 17:05] 416eddie commented on #112
Did a fresh install of Kodi 18.2, fresh install of Bingie skin, and Seren Addon and still having the same issue. The only way I can keep it from crashing is to navigate away from the home screen and get to some setting menu like Addon browser, but most of the time it crashes before I can get there so it takes about 10 tries before I can get it launched and stay launched.  Here is the latest log fi

[2019-05-26 22:44] nixgates commented on #124
The failed to authorize notification is only set to show during the initial authentication process and shouldn't show multiple times unless you have gone through the process multiple times?

Was the Trakt error the following?:

This will show multiple times over itself if you have widgets connected to Trakt lists but no Trakt Authorised

[2019-05-27 00:13] nixgates commented on #123
The issue with widgets not updating is really not to do with Seren.

Widgets are updated by the Skin Helper Widgets addon. This update is only triggered in the event an update has been requested by playback stopping and then the home window is opened and only when the home window is opened. Then you must wait again for the actual widgets to be refreshed from that point in time.

So in short the pr

[2019-05-27 00:13] #123 closed

[2019-05-27 00:59] nixgates commented on #112
Looking at your log, this is a whole new kind of issue where previously you were having issues with the dateutils package, now you are experiencing errors all over the place with not only multiple addons but core kodi packages as well.

Skin Helper Addon:

                                            ImportError: No module named ElementTree

Seren:

2019-05-25 12:49:07.947 T:123145761165312   ERROR

[2019-05-27 01:24] 416eddie commented on #112
Hi
Ok thanks for the suggestion.

[2019-05-28 16:25] JayDigg commented on #124
Well, i do have widgets, but only to Discover Movies/Discover tv Shows popular sections. I do have submenu shortcuts to Trakt but i wouldnt think that causes any action until clicking on them.

[2019-05-28 18:33] drinfernoo commented on #124
@JayDigg What about widgets inside of any hubs or something like that?

[2019-05-28 21:10] 416eddie commented on #112
I have done a fresh install of everything and still the same issue when I load Seren unless I unlock hubs in the skin setting and leave them unlocked, then it launches fine but still get Seren error. One thing I noticed with a fresh install when I go to Tool/Premium Services/Current Real Debrid Transfers there is a whole list of files there some marked dead some marked error some marked magnet con

[2019-05-28 21:33] 416eddie commented on #112
Latest log file https://pastebin.com/z9p2Ytbz

[2019-05-31 00:56] nixgates commented on #124
@JayDigg what did the text in the dialog say? Was it the text I mentioned above?

It's hard to identify the issued dialog if I don't know which dialog it is, but in saying that I think I've found the culprit and have fixed what I believe to be the issue for the next release.

If you could still confirm what the text said so I can be sure that would be great.

[2019-05-31 01:07] nixgates commented on #112
I'm going to try and get my hands on an Apple TV this weekend and have a look.

The Apple TV is doing a lot of weird things that I'm really going to have to look at personally.

[2019-05-31 01:07] nixgates commented on #113
I'm going to try and get my hands on an Apple TV this weekend and have a look.

The Apple TV is doing a lot of weird things that I'm really going to have to look at personally.

[2019-05-31 03:22] eblin commented on #113
Hey @nixgates I debugged this on my ATV and it seems on initial launch all settings are empty, since you are caching the settings after that it just keeps failing over and over on same setting. For some reason the ATV doesn't write the initial settings.xml on addon install as I suspect happens in other devices.

https://github.com/nixgates/plugin.video.seren/blob/master/resources/lib/indexers/trak

[2019-05-31 06:29] nixgates commented on #113
Ah! That would have taken me an enternity to identify without an ATV.

I'll just make a change for that device so the settings don't get cached in the next update.

But I'd love to see a PR 🙏

[2019-05-31 06:45] kartana commented on #113
Thanks for taking your time to figure this out! @eblin

[2019-05-31 06:48] busherz commented on #113
Nice work thanks!

[2019-05-31 08:09] 416eddie commented on #112
Hi
Thanks for continuing to look at this but I am using a Mac mini not Apple TV, although I have read some posts on other sites about issues with Apple TV and Kodi 18.2. It may have something to do with the way macs deal with file structure and permissions.

[2019-05-31 14:00] eblin commented on #113
No problem, thanks!

The caching of settings works fine after initial launch, I don't think that's the issue.

I think the issue with caching settings is that you are not clearing cached settings on `setSetting`, because even though setting gets updated fine thru `xbmcaddon.Addon().setSetting` call when you are retrieving them you're checking the cache dict first and then returning (which is great

[2019-05-31 16:47] lukehansford opened #125 "Episode not being marked as watched if you resume"
I have noticed a bug where if you are half way through an episode and return later and resume and finish the episode it not being marked as watched in the next up section.

The episode is marked as watched on the trakt website but the next up item for that show does not move to the next episode upon reload.

Clearing cache and re loading the list fixes this.

Thank you

[2019-05-31 17:37] kartana opened #126 "Wrong order of episodes in multi file torrents"
So I assume Seren just checks for the episode I want to play and assuming it's episode 3 plays the third item in the multi file torrent but this is sometimes wrong. Take Attack on Titan Season 2 for example. There are multiple torrents (bd 1080p) where if you select episode 1 of season 2 it doesn't actually play episode 2 but a different one. If you search for that torrent and add it to Real-Debri

[2019-06-01 16:18] diemenz commented on #113
I am looking forward to this PR being submitted as I also have an Apple TV 4K and haven’t been able to fix this.

[2019-06-01 18:31] nixgates commented on #113
The issue is Kodi doesn't update the setting outside the python interpreter.

The only reason the settings cache is there is to minimise the log output about the settings being in the old format that the Kodi team apparently refuse to remove so this can be omitted for Apple devices

[2019-06-01 18:32] nixgates commented on #113
In short there should be no disadvantage to disabling the cache

[2019-06-01 18:35] nixgates commented on #126
Are we talking about the display of titles on the my files section?

The scraping of files uses title comparisons to identify the correct file to play so I would highly doubt that would be the case.

[2019-06-02 11:27] kartana commented on #126
Not sure what you mean. I'll try to explain myself better since it's a bit hard to explain, I added a way to reproduce this issue at the bottom:
I am only talking about cached Torrents. I want to watch a certain TV Show, I search for it, it brings up multiple season and I choose season 01 and click on episode 01. (my settings are "Source Select" (no auto play) and "no Pre-emptive termination" btw)

[2019-06-04 19:47] #125 closed

[2019-06-05 03:47] baruchin opened #129 "Next Up out of sync when Kodi not used on several days"
I have three Kodi setups. Only one of them is the one I use on a daily basis, the other two not that much. The thing is, everytime I launch Kodi on these other two setups, my Next Up section on Seren seems out of sync and I have to go to Seren Trakt tools and force sync. This does not happen on the device I use on a daily basis. So it seems that if Kodi is not used daily, Trakt sync gets messed up

[2019-06-07 05:58] nixgates commented on #129
Yes this is normal behavior, Next up will use the local data and this will take a minute or so to update after turning the device on.

Not using the local data results in a next up list that takes twice as long to pull and for some older Trakt accounts it becomes an unreasonable amount of time.

You will need to allow a minute or two for the background sync to be processed.

[2019-06-07 05:58] #129 closed

[2019-06-07 06:00] nixgates commented on #124
Closing the issue due to inactivity, if you want to re-open it just let me know

[2019-06-07 06:00] #124 closed

[2019-06-07 07:59] Lala1976 opened #130 "Losing settings"
Every day Seren loses it's settings. When I put my settings in and reboot Kodi it's fine, when I put in the settings and shutdown kodi for a moment it's also fine, but when I shutdown Kodi for the night, the next day al settings are gone. This happens on all my devices (Androidbox and Rpi3b+).

[2019-06-07 09:54] denimnani commented on #130
Never had this issue :(

[2019-06-07 20:47] lukehansford opened #131 "Hiding shows from next up on trakt not working"
If you hide show on the trakt website they are not being hidden in Seren.

I had to wipe added settings and resync trakt for them to disappear

[2019-06-08 00:46] drinfernoo commented on #131
Have you tried hiding it from the Trakt Manager?

[2019-06-08 17:26] lukehansford commented on #131
Yes that also didn't work

[2019-06-08 23:00] Retucex opened #132 "Sporadic "No playable sources" on all streams"
I have an issue where selecting a source will always show the message "No playable sources found".
This happens randomly and will affect all shows/movies for a period of time.

Coming back after a while sometimes fixes the issue. I still haven't found a way to reliably reproduce the error, nor a way to fix it consistently.

Here is my log file after trying to play a source and it failed:
https://p

[2019-06-08 23:11] zolijosat opened #133 "Resume episode from Openmeta plugin"
I use the Openmeta plugin to add my trakt collection to the kodi library and then use the Seren to actually play the episode. This all works fine, the only issue I have is that the episode progress is not saved to the kodi database and when stopping and restarting the episode, it starts from the beginning.

When stopping and restarting the episode from within Seren, resuming works fine. Is this so

[2019-06-09 03:44] nixgates commented on #132
Real debrid have been having server issues so this is the likely culprit. Sorry I can't be more help

[2019-06-09 03:44] #132 closed

[2019-06-09 14:18] nixgates commented on #112
@416eddie yea it's possible.

I have an update in the works that might help in this situation if the issue is the same as the Apple TV issue.

[2019-06-09 14:20] nixgates commented on #130
This is actually an issue with Kodi clearing the settings for the addon and some other addons experience the same issue.

I've done a fair amount on Seren's side of things to help reduce this but the best thing you can do is update your Kodi version to 18 and reduce the amount of widgets on your home screen.

[2019-06-09 14:20] #130 closed

[2019-06-09 14:26] 416eddie commented on #112
Hi
Great I look forward to trying it out.

Thanks
Ted

[2019-06-09 14:31] nixgates commented on #131
Making changes like this on the Trakt website will take up to 10 minutes to replicate down to your local device.

Making the changes using Seren should be applied instantly though so I'll check this now.

[2019-06-09 22:21] fracmo2000 opened #134 "Wrong language Seren LibreELEC 9.0.2 (Kodi 18.2)"
I have installed Seren on LibreELEC 9.0.2 (Kodi 18.2) working very well, video quality is superb, but I'm getting wrong language on several movies & TV shows, should be English, as I'm in UK.

I've searched settings but can't seem to find anywhere I can specify my preferred language.

[2019-06-10 03:20] drinfernoo commented on #134
That's actually in Kodi's settings:

`Settings -> Player -> Language -> Preferred Audio Language`

I usually set it to "User Interface Language".

This likely isn't really much of a Seren issue 👍

[2019-06-10 05:52] fracmo2000 commented on #134
Thank you "drinfernoo" for your post. I checked my settings.

The Kodi "Preferred audio language" was set to "Media default".  So I changed it to  "User interface language" as you suggested.

This fixed the problem of foreign language playing in Movies and TV Shows.

You have been very helpful so thank you for taking the time to reply.

[2019-06-10 18:39] lukehansford opened #135 "Next Up delay in updating after show is watched in Kodi"
The Next up list is not updating as it should after a show is watched. There is a delay. After finishing episodes I have checked on the trakt website and Seren has sent the watched status instantly so that part is working great.

This is making skins such as AuraMod and titan Bingie broken because after watching an episode and returning back to the main skin screen they force a reload of the next

[2019-06-10 22:01] denimnani commented on #135
Same here, i think this start happening when the local database was implemented.

[2019-06-10 22:06] diemenz commented on #113
I sign in everyday checking to see if this fix was merged lol.

[2019-06-10 22:48] eblin commented on #113
I believe @nixgates already implemented it in the code not sure if he has released it though see: #128

[2019-06-11 23:37] denimnani commented on #135
This is weird as hell, today in all the episodes I watched the up next was updated immediately.

[2019-06-12 04:59] cporter123 commented on #135
I’m having this issue too. Seems to be happening randomly. Sometimes it updates straight away, sometimes not. Reloading the skin doesn’t change anything when this issue occurs

[2019-06-12 05:05] cporter123 opened #136 "[Request] Different file size limits for movies and tv shows"
I can watch 10GB movies without buffering but that is far too big for TV shows, which I can usually only get to about 4GB without buffering. Is it possible to have a setting each for tv and movies to limit file sizes independently of each other?

[2019-06-12 08:27] Royv1981 commented on #113
I test it, but it don't work by my on this moment. Is the fix already released?

[2019-06-12 17:59] FliesWithWind commented on #136
I wanted to post the same request here. This would be very useful.

[2019-06-12 23:03] lukehansford commented on #135
I am still getting this issue.

The same issue does not happen with add-ons such as realizer or Gaia so it must be able to be fixed in Seren.

I am also getting shows disappear from the list entirely during an update.

[2019-06-12 23:58] lukehansford commented on #135
I just checked realizer and it actually forces a refresh of the trakt progress list itself and the list updates in about 20 seconds.

I think it works better because it is the add-on requests the list to be updated after an episode from it has been watched.

could this be added to Seren?

[2019-06-13 01:06] cporter123 commented on #135
This might be related to this issue, the trakt website used to display a “now playing” banner when watching something through seren, I just noticed it’s no longer doing this. Trakt history is still being updated as normal on completion of episode though

[2019-06-14 00:56] lukehansford commented on #135
I have a theory.

Could it be due to Seren set to currently to only update from trakt every 10 minutes from changes we make elsewhere on the trakt site for example.

Is this also affecting the next up list when Seren marks the episode as watched?

Could this be solved by removing the 10 minute update time and make it instant.

We need it to update the next up list from trakt each time we load the

[2019-06-14 21:53] bluenote73 commented on #77
Hey Nix, also looking for something like this functionality. In my case I'd really like to not be presented with films that are more than likely only going to come back with CAMs or similar crap quality.  It'd be fantastic if you could figure out a way to filter out anything that isn't released on DVD/Netflix.  Failing that, filtering out anything that's still in theaters would be a half measure t

[2019-06-16 02:46] diemenz commented on #113
There hasn’t been a new version so I’m assuming it’s not out yet

[2019-06-16 22:09] carpathicus commented on #133
I second this. I noticed that if you play the episode through the "standard" seren player, the resume doesn't work, but if you play via seren-smartplay, then resume works fine. Which means movies will never resume when started via openmeta (or wako, etc), since there is no smart play option.

[2019-06-20 01:47] lukehansford commented on #135
I have been using Realizer the last week and found after you finish an episode and close it and get returned back to the trakt progress list there is a visible loading icon you have to wait for to finish which results in the list being updated correctly everytime.

If you test Realizer from its trakt - Progress list you will see. maybe the dev of that add-on would be happy to share it so it can be

[2019-06-20 22:14] drinfernoo commented on #135
@lukehansford If you seem to know what's wrong and how to fix it, why not open up a pull request with a fix instead of incessantly whining about it?

Obviously it hasn't been "fixed", as there hasn't been an update to Seren since the last time you commented.

[2019-06-23 07:21] diemenz commented on #113
I have tried making these edits myself to get it working but have been unsuccessful and still get the error. I rolled back to the last working version in the meantime.

[2019-06-23 07:37] kartana commented on #113
Did they come for @nixgates too? He hasn't commented since June 7. Hope he is just busy with other stuff.

[2019-06-23 14:31] Shokaze opened #137 "Romance category for TV Show empty bug"
Hello,
While browsing through the TV Show categories by genres, i noticed that the category for Romance is empty, meaning that kodi is loading for a few seconds before taking me back to the different genres selection screen. However when i do a Multi Select genre but only choose Romance this time Seren properly display me all TV Shows with Romance tag included. Is it a bug from Seren or through th

[2019-06-27 00:19] nixgates commented on #134
Thanks @drinfernoo closing issue

[2019-06-27 00:19] #134 closed

[2019-06-27 00:20] nixgates commented on #135
Issue is confirmed and fixed for next update.

Please wait while testing is happening to confirm no more major issues are identified as this update included a fair amount of changes to Seren.

[2019-06-30 11:36] Shokaze opened #138 "Seren page item limit doesn't work for trakt lists"
Hello, I wanted to check if i'm having a bug on my side or if this is a nixgate decision regarding the display of trakt personal lists. I've found some interesting trakt lists recommendation on reddit and decided to add them to my profile. However some of them have 200+ movies in it and now if i want to check them trough seren it takes forever to load the items in it.

What's weird is that i check

[2019-06-30 11:41] #137 closed

[2019-06-30 14:50] mdsundquist opened #139 "Trakt token refresh errors"
I have Seren 0.2.35 installed in Kodi 18.2 on my MacBook Pro running macOS 10.14.5. Just yesterday, Seren started throwing errors that (based on the log) seem to be about accessing Trakt. I have uninstalled/installed Seren and reauthorized via trakt.tv/activate, but the issue persists. The odd thing is that I have the same set-up on my Mi Box 3 and it's working fine.

[Here's the log file from my

[2019-06-30 16:58] mdsundquist commented on #139
Completely uninstalling Kodi and reinstalling everything seems to have fixed the issue.

[2019-06-30 18:27] drinfernoo commented on #138
While it is a bit irritating for larger lists to take forever to load this way, I *do* believe it's intentional. The original reasoning behind the list limit was to cut down on Trakt requests, as the web service backends start to throttle requests after a certain number, but now that Seren is performing more caching of these requests (in the form of it's Trakt sync database), the limit is less of

[2019-06-30 18:41] Shokaze commented on #138
Yeah i did noticed that once seren cached the list itself, it is pretty fast to load it up next time. My doubt is that i imagine seren to have a cache size limit (or does it ?) so if you check trough a lot of trakt lists in seren it can become tedious to have to wait 5min+ for each new list.
But i do understand the potential design choice of limiting requests and to avoid to throttle the trakt API

[2019-07-01 00:24] #139 closed

[2019-07-01 12:33] lukehansford commented on #138
The latest releases trakt list from gildad & Alex takes ages to load everytime Kodi loads. It is the last widget to load when all the other sections such as Trending load fine.

Is this because the limit of 40 is not being applied to our trakt lists so they are taking forever to load?

It would make sense they have the same limit and load at the same speed as Seren's other sections. People can inc

[2019-07-01 14:27] drinfernoo commented on #138
By increasing the limit above 40, you are actually likely to be *slowing down* Seren, since 40 items per is when TMDb starts to throttle requests.

That particular Trakt list is kept "short" because giladg periodically removes older movies from the list, but can be a bit of a wait time for me as well.

[2019-07-02 18:31] lukehansford commented on #135
Sounds great. Thankyou to you and all the testers :)

[2019-07-06 16:43] busherz commented on #113
any update?

[2019-07-06 16:47] kartana commented on #113
@nixgates hasn't posted anything for 1 month now. I hope this project isn't dead.

[2019-07-06 17:07] drinfernoo commented on #113
@kartana Seren is far from dead... things just take time 👌

[2019-07-09 14:27] nafr1 opened #140 "Newest official build of Kodi crashing when trying to Run Shows as playlist (smartplay)"
After the update of kodi couple of days ago, the smartplay feature is not working anymore. It crashes the kodi. Can anyone else verify if it's working for them? I have tried that in Android and Windows and both crashing.

[2019-07-14 23:24] nixgates commented on #131
Fixed pending update

[2019-07-15 00:01] nixgates commented on #138
@lukehansford

Unlike most addon caches, Seren also uses a semi permanent cache (trakt sync databse). Once an item has been seen and the meta information has been loaded, Seren will not need to update it again unless Trakt identifies it as being updated.

Unlike most addons, this means menu speed caching is faster as most information is local and not relying on a 24 hour timeout for all informatio

[2019-07-15 00:10] nixgates commented on #138
I've just performed a test on the Netflix list with the latest Seren update and while it does take a somewhat long time (2-3 minutes) for the list to initially load, it does in fact load and after the initial loading of that list, the time is reduced to a few seconds. All subsequent openings of the lists should actually be fairly fast unless there is a very substantial amount of changes.

Keep in

[2019-07-15 00:10] #138 closed

[2019-07-15 00:11] nixgates commented on #136
This has been added in the new update :+1:

[2019-07-15 00:11] #136 closed

[2019-07-15 00:12] nixgates commented on #112
This issue should be resolved with the new update.

Could you please check and confirm @416eddie

[2019-07-15 00:14] nixgates commented on #113
@kartana @busherz

Apologies, I wanted to push this earlier but I kept running into things and really wanted to push out a polished update this time.

Please note, the issue has been resolved with the latest update. If could check and confirm that would be very appreciated :+1:

[2019-07-15 02:03] diemenz commented on #113
So far so good nix. Will keep checking it out over the next few days

[2019-07-15 04:28] 416eddie commented on #112
Hi
I will try a fresh install of everything but still having the issue with just updating the existing install. Plus there is a Kodi update that I just updated so will have to dump everything tomorrow and do a fresh install of everything and get back to you.
Thanks for checking back in this issue.

[2019-07-15 15:18] busherz commented on #113
Thanks @nixgates

Everything working good!

[2019-07-15 17:40] snperry85 opened #143 "Search suggestions crash kodi on xbox one"
When doing a search, both movies and tv shows, if you select one of the suggestions that pop up below the on screen keyboard, it will crash out of kodi.

Selecting DONE works perfectly as intended.

Xbox One
Kodi 18.3
Seren 1.0.23

[2019-07-15 17:41] drinfernoo commented on #143
This is a known bug with the autocompletion add-on, and isn't something to do with Seren.

[2019-07-15 17:50] snperry85 commented on #143
My apologies. Thanks.

[2019-07-15 17:50] #143 closed

[2019-07-15 22:35] denimnani commented on #135
Is working great with last update :)

[2019-07-16 06:15] nixgates commented on #135
@denimnani Thanks for the feedback!

:joy:

[2019-07-16 06:15] #135 closed

[2019-07-16 06:16] nixgates commented on #131
@lukehansford could you check and confirm this issue is resolved please

[2019-07-16 06:17] nixgates commented on #113
Alright, I'll close this bad boy off.

Let me know if it comes back

[2019-07-16 06:17] #113 closed

[2019-07-16 06:17] nixgates commented on #111
@mophawka there was some changes to the way search works in the new update.

Has this fixed your issue?

[2019-07-16 21:25] lukehansford opened #145 "Possible to hide building list items?"
Is it possible to hide the full screen building list message.

Either as a standalone option or when we select background scraper task display.

It would be good when we select the background task scraper display option that the building list message is displayed in the same small top right scraper display if possible.

[2019-07-17 00:23] nixgates commented on #145
This was looked into before the major release 1.0.0 and while Seren was able to actually do away with the entire building playlist screen when playing from within the addon menus, the feature broke when playing from a widget.

Seren got rolled back a few version after this was identified and the idea put on the back burner. Not to say it won't be looked at again, I just need to identify the differ

[2019-07-17 00:24] nixgates commented on #140
@nafr1

Can you please confirm your issue has been rectified with the latest update?

[2019-07-17 00:28] nixgates commented on #133
@zolijosat saving progress to the local kodi database has never been a feature nor a goal for Seren as I've always found it to be more cumbersome than it was worth.

I would suggest you utilize Trakt for this purpose, there was a few changes to how the resuming works with Trakt which makes it much more efficient and reliable in the latest release.

If you are still having issues with resuming usin

[2019-07-17 00:28] #133 closed

[2019-07-17 00:29] nixgates commented on #131
Without a reply and having confirm that the hide feature works on my end with the latest release I'm going to close the incident, if you would like you can let me know if the issue persists

[2019-07-17 00:29] #131 closed

[2019-07-17 00:32] nixgates commented on #126
@kartana There's been a bit of work on the title identification side of things in Seren with the latest release that I believe should have solved this for most items.

Only issue I have is your example there uses attack on titan which is an anime item. The current norm for meta databases doesn't coincide with the general naming conventions of anime titles. While I've added a small amount of work t

[2019-07-17 00:32] #126 closed

[2019-07-17 06:19] kartana commented on #126
@nixgates Ok, thanks. If they don't use standard naming conventions there is nothing you can do. I didn't know that. But I'll keep that in mind when I am trying to watch Anime. Thanks for all the work you do!

[2019-07-17 23:59] lukehansford commented on #145
I'm not asking if the screen can be removed or the function.

What I am asking is can the message be added to the background task text if we select scraper display layout to background task so it's not full screen just the same as scraping is not during this setting change. If you select this option the building list is still displayed full screen even though the scraping is small and compact at t

[2019-07-18 17:52] lukehansford commented on #135
Can confirm it's all working great now and fixed. Thankyou

[2019-07-18 23:16] nixgates commented on #145
Ah ok, yes this can be done, I'll mark this as a feature request :+1:

[2019-07-19 00:31] SoulTV opened #146 "Seren failing to play video from widgets"
When using Seren to populate widgets in Titan Bingie, if "show information" is set as the default action, Seren starts the video and then stops the video after a few seconds. Sometimes an error dialog pops up and says "one or more items failed to play". When this happens, the video will play until you click "ok" on the dialog and then video stops. If you change the default action to "play", videos

[2019-07-19 01:13] nixgates commented on #146
Hey and thanks!

Could you do me a small favor and just let me know what your smartplay settings are set to?

[2019-07-19 01:29] nixgates commented on #146
Actually, it appears I can replicate the issue and I believe I have a fix.

Thanks for reporting the issue, I'll hopefully have an update in the next few days.

[2019-07-19 01:34] nixgates commented on #140
I think I've found the issue that the Kodi devs have introduced and I've added a workaround.

I'll hopefully have an update within the next few days

[2019-07-19 01:36] nixgates commented on #140
For those that are interested, it appears Kodi is causing some form of crashing with dialogs.

I've introduced fallbacks to most functions that call a dialog to ensure that any dialogs open are closed first.

[2019-07-19 01:36] SoulTV commented on #146
Awesome! Just in case, my smart play settings are enabled, 60 second count down, auto playlist enabled, auto episode resume disabled, pre emptive scraping enabled

[2019-07-19 02:03] SoulTV opened #147 "New Episode Tag in Titan Bingie"
This one isn't really a bug, maybe just an improvement suggestion

Seren isn't providing info for "new episodes" tag in Titan Bingie. Here are a couple labeled screen shots of Trakt TV Collection being used in widgets from different addons as well as Seren:

https://imgur.com/a/u0JO528

Venom and OpenMeta are able to provide info so that Titan Bingie can mark shows with "new episode tag". I'm wond

[2019-07-19 03:53] nixgates commented on #147
Do you know what property tag they are looking for?

Seren currently sets the following properties on the items:

UnWatchedEpisodes
TotalEpisodes
WatchedEpisodes
TotalSeasons

If there is another that should be covered, I'll be happy to add it in.

[2019-07-19 03:59] nixgates commented on #146
Yea, it was caused by the skin attempting to play a non-playable item, I've set Seren to always cancel anyway playback requests when building the initial playlist.

Appears to fixed the issue.

[2019-07-19 03:59] SoulTV commented on #147
Just asked, I'll post back when he tells me

[2019-07-19 04:01] SoulTV commented on #146
cool, ill check it out when the update is ready. Ive got one more feature request for you but I'll post it in another issue. sorry in advance lol

[2019-07-19 04:03] SoulTV opened #148 "Flatten Season"
Last request, promise lol

Is it possible to add an option for flattening seasons? Helps a lot with the netflix knockoffs out there

And thx for getting around to these so quick, really appreciate it man

[2019-07-19 23:31] SoulTV commented on #147
Hey so Titan Bingie dev never got back to me but I noticed the tags appear on my watchlist but not my collection. Not sure if that helps narrow it down. Here's a pic    https://imgur.com/a/zzzbQD0

[2019-07-20 20:47] cgcgcgcgcg opened #149 "Please consider adding support for Alldebrid"
I've been using Seren with Real Debrid for a while but Real Debrid started to be problematic.

Please consider adding support for Alldebrid since it's more stable for us that are tired of RD issues.

[2019-07-21 14:45] SoulTV commented on #147
Someone mentioned the tag might be "NewEpisodes", not sure if that's an actual tag or not.

[2019-07-21 18:29] SoulTV commented on #147
The new episode tag already works unless you did something in an update I missed? Sorry about that if nothings changed. I'll close this

[2019-07-21 18:29] #147 closed

[2019-07-28 09:49] RingGenie opened #150 "Episodes after the first aren't scrobbled when using Up Next"
When using Up Next it will mark the first episode as watched, but after that none of episodes are scrobbled at all. For some reason the variable isn't getting reset to false in __init__. (I fixed it for myself by just adding  `self.scrobbled = False` to the start_playback function). Thanks for all the work you've done by the way. Everything else in this update has been perfect.

[2019-07-28 22:41] nixgates commented on #150
Love your work, thanks for catching this one.

Added awaiting next public update

[2019-07-29 03:13] nixgates commented on #111
Closing incident due to issue being caused by skin and user un-reachable

[2019-07-29 03:13] #111 closed

[2019-07-30 01:28] nixgates commented on #148
I've added this feature for the next public release :+1:

[2019-07-30 14:15] SoulTV commented on #148
You're the man, thx!

[2019-07-31 07:02] Philps opened #151 "Custom Providers: localtitle always EN aliases empty in def movie()"
When usingCustomer Providers, all trakt/tmdb information which are passed to the custom provider are in EN.

As per Wiki, i would expect that self.language would affect localtitle. Also aliases remain blank and cant be used.

class source:
    def __init__(self):
        self.priority = 1
		self.language = ['en'] <-------------------------------
        self.domains = ['']
        self.base_link =

[2019-08-01 03:00] 416eddie commented on #112
Hi
This is all working as it should now, no more crashing or error messages. Thanks for the help it is much appreciated.

[2019-08-02 17:08] baxter300 opened #152 "ClearLogos and fallback text inconsistent between TV and Movie menues"
I currently have two widgets set up on my home page, both to my watchlist. One via the My Movies section, the other My Shows. The watchlist widget and menu are both able to show ClearLogos for movies (although they’re populated in very few instances, I believe this is due to a know bug), and will use the fallback text of the Movie title. However the TV series will show no ClearLogos, and uses the

[2019-08-04 17:25] SoulTV opened #153 "Mssing Artwork"
I've noticed that there's missing artwork whenever using a liked trakt list. For example, this list https://trakt.tv/users/enormoz/lists/netflix?sort=added,asc in OpenMeta has artwork for pretty much everything but when using Seren it's missing artwork for quite a few titles. I know that @diddy81 and @drinfernoo used a lot of your artwork code to beef up OpenMeta https://github.com/diddy81/plugin.

[2019-08-05 01:04] Shokaze opened #154 "Imdb ratings completely wrong"
Hello,
I just notice that the imdb ratings for all movies and TV shows are completely out of place. I have checked the IMDb website and each time the rating is off for each items in Seren. Since IMDb doesn't provide API key, where does seren pull it's ratings from ? Or is it just an isolated behavior in my end in which case is there any way to reset the ratings ? (I tried clearing cache but no cha

[2019-08-05 01:33] drinfernoo commented on #154
This is typically handled by whatever skin you're using... do you get correct ratings from other sources?

[2019-08-05 02:01] Shokaze commented on #154
Yes I get correct IMDb ratings from Exodus redux. I didn't mention but I do have a omdb API key registered in my skin which gives me proper ratings for imdb/rt/tmdb/metacritic, its just that it takes some time to load. I did my research and installed seren in my phone and same behavior, wrong IMDb ratings which after some research seems to be tmdb ratings (btw for a lot of movies seren display me

[2019-08-07 17:50] Baubascat opened #155 "Trakt Not Working In Movies/Trending"
When you select Trakt an error message pops up.

[2019-08-07 22:52] SerpentDrago commented on #155
You should describe your exact issue in detail , think "how to teach a 5 year old how to make a pb&j sandwich" ,

And provide a Full debug log .

Otherwise this issue will be closed . thanks

[2019-08-07 23:48] nixgates commented on #155
@Baubascat as per Serpents instructions. Could you please provide more details such as the text in the error, a full debug log would be most helpful as well.

[2019-08-07 23:52] nixgates commented on #153
This is likely to do with the semi-permanent caching by Seren and the fact that TVDB shit the bed the other day.

Could you try and clear the stored metadata from the device and see if that works.

Seren > Tools > Trakt Sync > Clear All Metadata

[2019-08-07 23:56] nixgates commented on #154
Seren doesn't pull IMDB ratings at all. Ratings are supplied from the relevant meta provider (TVDB/TMDB).

While Seren applies this information to the items "rating" it does not indicate at all that this is a IMDB rating.

If your skin is displaying this an IMDB rating, it's doing so without actually knowing where the rating comes from.

[2019-08-07 23:56] #154 closed

[2019-08-07 23:58] nixgates commented on #152
@baxter300 could you identify some titles that this issue is occurring on?

[2019-08-08 00:15] nixgates commented on #151
Currently Seren only has translations for the English language and therefore only operates within the English realm of things. While I have some parts ready for working within different languages, it's still a little way off. (If you have any multilingual support I'd be very appreciative of a language file translation)

The class variable language is not utilized by Seren and has been carried over

[2019-08-08 00:15] #151 closed

[2019-08-08 00:21] drinfernoo commented on #155
https://kodi.wiki/view/Log_file/Easy

[2019-08-08 05:40] baxter300 commented on #152
It’s all TV titles, I have two tv widgets (Next Up, and Watchlist), both just say TV at the top (where ClearLogos or Location Label would be) rather than the title of the one that is selected

[2019-08-08 12:57] SoulTV commented on #152
@nixgates I have the same issue. I mentioned it in issue #153 , although TVDB had issues, the clear logo issue has been present since before that. Here are some labeled comparison pictures between Seren and OpenMeta

https://imgur.com/a/SzJUXFm

In the pictures, the top clear logo isn't populated by the addons. For me, it's coming from Artwork Beef settings in advanced.xml so ignore that one. The

[2019-08-08 12:59] SoulTV commented on #153
I responded to this in #152 because I think we're experiencing the same thing. May be good to close this one and continue on that thread?

[2019-08-08 13:16] baxter300 commented on #152
@soulTV @nixgates apologies if I explained my issue poorly but I think mines a little different, this is not about individual titles missing artwork but rather the entire section in the addon.

For example if I have ClearLogos or Folder Labels switched on in the Seren settings, then when I’m in a movies menu or on a widget linked to that menu then highlighting a title will either give the Logo or

[2019-08-08 15:32] SoulTV commented on #152
@baxter300 Pretty sure this is the same issue. I forgot to mention that this behavior only affects TV shows. For a movie (Avengers) it will show clear logo or the the title in plain text. For TV shows, (The Boys), my skin shows neither clear logo or the title in plain text.

https://imgur.com/a/ZXzwGj4

In the pictures I posted make sure you ignore the top large clear logo and landscape as they ar

[2019-08-08 15:59] Baubascat commented on #155
I have this installed on a Shield TV and I have connect to it for files in the past but currently I can not so I can't post a log but I am attaching a photo of the log. When I start Seren in Kodi on my Shield TV (newest 16GB) and go to Movies-Trending and then open the Context Menu to and a movie to my Trakt Collection, when I select Trakt Manager from the Context Menu the notification chimes and

[2019-08-08 22:35] nixgates commented on #155
Could you please confirm the version of the context menu addon and the version of your Seren addon and if available please update to the latest released version.

Looks like you have an older version for the context menu addon.

[2019-08-08 22:36] nixgates commented on #153
Cool I'll close this off and have a look at #152

[2019-08-08 22:36] #153 closed

[2019-08-08 22:57] nixgates commented on #152
Apologies guys, I'm having some trouble identifying what we are referencing here.

Could we maybe get some screenshots of the issues so I can visibly see what we are talking about? (Please make sure you censor any personal information)

[2019-08-08 23:04] baxter300 commented on #152
Yeah sure, apologies I didn’t just do this in the first place I wasn’t at home. And further apologies that these are photos rather than screen shots.

But you can see from the below that as well as all ClearLogos not pulling through for me (which as I’ve mentioned is probably a TVDB issue), the text at the top is different for widgets or the menus themselves when ClearLogos are unavailable

https:

[2019-08-09 00:51] Baubascat commented on #155
You were right. The context menu was old.

[2019-08-09 00:51] #155 closed

[2019-08-09 01:03] nixgates commented on #152
@baxter300 @SoulTV thanks guys, I think I can see what you are mentioning here.

I've had a look and I can't find the fault in the current development version so it may be that it's fixed but I don't believe there has been any changes to that side of the addon so I just want to check a few things first.

Could we do a quick and ensure you both have your Fanart API keys added to Seren?

[2019-08-09 10:47] baxter300 commented on #152
@nixgates I’ve just created a new FanArt API, added it into Seren, cleared metadata, cleared Seren cache, purged Kodi cache packages and thumbnails. Still seeing no ClearLogos for movies but getting the top label, and still getting nothing for TV shows

[2019-08-10 03:42] SerpentDrago commented on #152
Nix i believe you fixed this in the dev build , by having fanart.tv lookup clearlogo by TMDB ID instead of imdb id

[2019-08-10 03:50] SerpentDrago commented on #152
I'm also confirming both in Movies and Shows Trakt watchlist , i'm getting titles AND clear logos , all view types i choose in my skin auramod , are showing pritty much everything . On dev build , so it very well could be fixed .

[2019-08-10 16:23] baxter300 commented on #152
@SerpentDrago thanks mate, don’t think the dev build is available to me so I’ll check on the next public

[2019-08-10 21:33] SoulTV commented on #152
@nixgates my bad, haven't checked back in a few days. I've checked my Fanart API key and everything looks good. Is there any way I could get access to the dev version?

[2019-08-12 02:30] SerpentDrago commented on #152
Theres no "dev" version per say , just some updates sometimes , when things are being worked on , in the future nix may just update the github one and not the repo a bit before release onto repo

[2019-08-12 05:19] nixgates commented on #152
Ok cool, we can put a pin in this one until next public release

[2019-08-12 05:24] nixgates commented on #149
Hi just realized I haven't replied to this yet. I'm happy to look into it, I'll hopefully have the integration done soon.

[2019-08-12 11:45] baxter300 commented on #152
@nixgates Works for me, having seen @SoulTV ‘s screen shots I’ve actually install Titan Bingie almost all of the ClearArt for movies is now there so half of my issue seems to be resolved and must have been a skin problem. For the TV side of things I’ll hang fire and wait for the update

[2019-08-14 10:34] cronofx commented on #87
Hi guys I new on GitHub not quite there yet , been useing seren for a quite bit now and I think you guys made an amazing add-on  ,  there is space to improve though any chance to make track.tv   make sync on start up ?? Would save   effort of doing it manually everytime cheers.

[2019-08-16 18:19] peno64 opened #156 "Please add the possibility if a movie is stopped that it shows the list of streams again"
I have set the option that after searching a movie/episode that a list with all streams are shown. This for two reasons. First of all to see the name of the stream and choose the one which has a subtitle in my language (I check this via the opensubtitles website). But also because sometimes the stream in dubbed in another language which I don't want or has subtitles burned in them which I also don

[2019-08-17 18:25] ShahidSaud commented on #87
Hey Nix,
I agree with dimitris90s. Once I started using Seren I haven't looked on for any other addon and the addon is just amazing. Only thing missing is the Language option which dimitris90s mentioned, I rarely goto other addon when I need to watch French or German movies or series.

Please plan to include this option in your addon or let us know when this will be available as an update? Yes, th

[2019-08-22 18:44] peno64 opened #157 "Documentation of retrospect is confusing"
In the start page it is stated:

Installing and updating Retrospect under Kodi Leia and up
If you are using Kodi Leia then the installation is straight forward: you can install Retrospect and the dependencies from the Kodi repository. You will find Retrospect in the repository under the Video Add-ons. Updating Retrospect will then automatically be done using the Kodi repository.

Installing Retros

[2019-08-22 18:45] peno64 commented on #157
sorry, this is in the wrong place

[2019-08-22 18:45] #157 closed

[2019-08-23 09:42] sraedler opened #158 "Contextmenu actions are not working"
The Contextmenu Items Source Select and Rescrape Item are both not working.
I guess the API action is not redirecting to the SmartPlay functions.

could you fix it please?

BTW. when do you plan to release the new version with all the mentioned fixes?

[2019-08-25 08:55] sraedler commented on #158
thanks, that works!

sorry that I missed that.

[2019-08-25 08:55] #158 closed

[2019-08-25 10:02] sraedler opened #159 "Source Selection cause wrong cache or select the wrong item"
If I configure the plugin to manual source selection, the cache or any other behavior is strange.
If I have for example 10 sources in the list. If I click on the 5th, it resolves not just the 5th. The resolve method is called with different list positions, which cause wrong cache.

How-To-Reproduce:
1. Configure manual Source Selection
2. Select any source and wait until it is running
3. Stop the

[2019-08-25 12:55] drinfernoo commented on #159
Have you tried turning off "Auto try next link on resolve failure (Source Select)"?

[2019-08-25 13:47] sraedler commented on #159
yes I tried it, but even there, I can see multiple threads resolving the following links.

I think it might lead to concurrency problems through the resolving threads
I debugged with Pycharm and I can see different self.Postition in source selection and additionally multiple threads running concurrent against the resolving.

[2019-08-26 01:10] SoulTV opened #160 "Default Next Up action"
Is it possible to add the default select action for Next Up widget to be the "Browse Show" context menu item? It would really help for older people who don't really understand using the context menu. My parents don't really get why it just starts playing an episode especially if they fell asleep and its like 2 episodes ahead. If they could navigate from Next Up widget to the right episode using on

[2019-08-26 01:37] drinfernoo commented on #160
It's confusing that when you click on an episode... it plays that episode? 🤣

[2019-08-27 07:31] abbaskip opened #161 "Next Up showing incorrect title"
Seren seems to push a TV Episodes:
ListItem.Title

Field to include the TV Show name and Season and Ep number.

This means that when used on Widgets etc (which I'm sure is possibly the most common use), and skin that allows you to turn the TV Show and S/E numberes on or off OR any that just shows the these by default will repeat it.

For example on Titan Mod Next Up Widget shows:
Next Episode
Seas

[2019-08-27 08:27] baxter300 opened #162 "Finished moves showing in Finish Watching"
Around 80% of the movies I watch on Seren still show up in the Finish Watching menu, even if I make a point and skip through all the credits

[2019-08-27 14:35] baxter300 commented on #162
@drinfernoo yeah I’ve been doing that as a work around but I assumed that they showing up there once completed was a bug

[2019-08-27 14:52] abbaskip commented on #161
Great, that's perfect. Didn't even realise that option was there.

[2019-08-27 14:53] abbaskip commented on #161
(Actually that that option is better as a skin option than Add-on option?)

[2019-08-30 01:29] abbaskip opened #163 "Crashing when playing from Next Up"
This seems inconsistent, and I can't work out when it happens and when it doesn't. I'm wondering if it's when linking to cached sources that are no longer valid, but thats just speculation (as if I go into Seren and rescapre it works).

Basically I click the episode I want to play in Next Up and Kodi crashes with the below log:
[code]

[2019-08-30 01:50] SerpentDrago commented on #163
Would help more if you could provide a FULL debug log , not just copy / paste the errors you think are relevant , the whole log can help greatly

[2019-08-30 03:14] drinfernoo commented on #163
Agreed, these errors are likely because of outdated settings files in your Kodi install, but don't really point to what caused the crash.

[2019-08-30 03:28] #161 closed

[2019-08-30 03:29] abbaskip commented on #163
I just pasted from after the click, but will paste the full thing shortly. It's quite big due to some add-ons that do loads at startup.

[2019-08-30 03:30] abbaskip commented on #163
Here you go. This is clicking from the widget - but same happens if I go into Next Up and just click from there.
https://paste.kodi.tv/inutasikef.kodi

[2019-08-30 11:07] lukehansford opened #164 "Next up not up to date when loaded"
I have been using the TVZion app the last week or so.

When I watch a episode the app sends the watched status to Trakt. I have checked this on the trakt website.

Seren is not showing the correct up to date next up list which is on the Trakt website.

This is even after a day has passed. Other apps do update it just seems to be Seren.

The only fix is to clear cache from the tools menu and reload

[2019-08-31 18:07] lukkie112 opened #165 "German Language string.po Problems"
Hi Nixgate!
I have translated the booth strings.po into German Language

But If I copie the folders (German & recources.language.de_de) to ....kodi/addons/plugin.video.seren/recources/language, onyl some Menue Points are in German. The most menue points are still in englisch and when I open a menue point i get some errors.

The Errors are, because in german we use special characters like Ö, Ü, Ä a

[2019-08-31 18:15] lukkie112 opened #166 "settings.xml with another language"
Hi Nixgate!

I have translated the entries in the settings.xml into German. Some strings.po are not right translated into german because in the strings.po are other englisch names than in the settings.xml

So I would like to Copie my settings.xml to the folder .....kodi/addons/plugin.video.seren/recources and past over the existing settings.xml

After i am doing that I Cleared Kodi Cache an start

[2019-09-02 02:14] drinfernoo commented on #164
What inconsistencies are you seeing? Are you missing entries, or are they in the wrong order?

If they're in the wrong order, there is a setting in Seren:

![](https://i.imgur.com/lvyBgZv.jpg)

[2019-09-02 02:35] lukehansford commented on #164
Items you watch outside of Seren but are marked as watched on the trakt website are still stuck in the next up list. Episodes are ones you watched days ago.

I am talking about if you use another app or manually mark items as watched on the trakt website.

Even after a day the next up list in Seren is still in this outdated state.

The only thing that seems to force an update is to clear cache und

[2019-09-02 10:15] abbaskip commented on #163
Any ideas? Currently work some shows I have to navigate into Seren and rescrape every time which means no up next

[2019-09-02 14:13] drinfernoo commented on #163
@abbaskip Update to 1.4.6, and let us know if you're still having the issue.

[2019-09-02 14:19] abbaskip commented on #163
Seems to be fixed, but it was happening inconsistently so not positive.

When was the update pushed? I have auto updates on, and know it wasn't working earlier this evening (4 hours ago), but when I just checked now my Seren was already 1.4.6

[2019-09-02 15:18] drinfernoo commented on #163
1.4.6 was pushed late last night. So this seems to be fixed?

[2019-09-02 15:27] #37 closed

[2019-09-02 15:27] #112 closed

[2019-09-02 15:27] #148 closed

[2019-09-02 15:27] #150 closed

[2019-09-02 15:28] #164 closed

[2019-09-02 15:30] drinfernoo commented on #165
The 1.4.6 update added translation support to most of the add-on. Go ahead and give it another try.

Currently, accented characters (Ö, Ü, Ä) will be automatically deaccented, but that may be changed in the future.

I'm gonna close your two issues, but feel free to open another if you have issues with translation, or a PR with changes when you're done 👍

[2019-09-02 15:30] #165 closed

[2019-09-02 15:30] #166 closed

[2019-09-02 15:30] drinfernoo commented on #87
1.4.6 has added translation support for most of the add-on strings. It's now possible to do these translations!

[2019-09-02 15:33] drinfernoo commented on #159
This should be fixed as of 1.4.6. Would you be able to check into it for me?

[2019-09-02 15:34] drinfernoo commented on #152
@baxter300 Can you confirm that these are working now?

[2019-09-02 15:35] drinfernoo commented on #146
Can you verify that this is working in 1.4.6?

[2019-09-02 15:36] drinfernoo commented on #140
@nafr1 Can you verify that this is fixed as of 1.4.6?

[2019-09-02 15:38] drinfernoo commented on #20
@RavRob Can you verify if this is still happening in 1.4.6?

[2019-09-02 15:43] RavRob commented on #20
Sorry, I will be a while before I can verify this.  I am out of country for
another week.   I will check when I have a chance after I get home.

On Mon, Sep 2, 2019 at 5:38 PM drinfernoo <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-09-02 18:09] sraedler commented on #159
I will check it next week, because I don‘t have access to a Computer.

[2019-09-02 19:02] baxter300 commented on #152
@drinfernoo strangely, all ClearArt seems to be missing now

[2019-09-02 20:08] drinfernoo commented on #152
@baxter300 You'll have to be using Fanart.tv as your preferred artwork provider, and have a Fanart.tv API key entered in settings for them to work now.

[2019-09-02 20:28] baxter300 commented on #152
@drinfernoo I’ve just tried that, set it to FanArt and double checked that my API key was still there, still no luck

[2019-09-02 22:17] SoulTV commented on #146
Thx for the update, this is working correctly on 1.4.6

[2019-09-02 22:21] SoulTV commented on #152
Thx for the update, this is still a problem with 1.4.6. It seems like some clear art that wasn't working before is. But the fallback text does not work for tv shows that don't have clear art. Here's a pic https://imgur.com/a/JOOT4Dn

[2019-09-02 22:35] #146 closed

[2019-09-02 23:24] hockeymachine86 opened #167 "Next Up Won't Load - Ver1.4.6"
When you go to "My TV Shows" > "Next Up", it shows up blank.  The log file has the following error

[2019-09-03 00:49] hockeymachine86 commented on #167
Here is full debug log:
https://pastebin.com/6anqG1Lw

[2019-09-03 02:36] nixgates commented on #167
I've just pushed a hotfix which should include a fix for this. Could you please test and confirm? 😊

[2019-09-03 02:40] nixgates commented on #160
I can't control the info screen as that's created by the skin.

I'm kind of on the fence about this, while I see what you are saying I feel like educating the user is the correct method here rather than them being used to old practices. Seren already includes the context menu button to "Browse Season" and I feel that is sufficient to match the needs when considering how fast it is to open a contex

[2019-09-03 02:49] hockeymachine86 commented on #167
Tried to update to 1.4.7 and get this error
21:46:25.071 T:140570043344640   ERROR: CAddonInstallJob[plugin.video.seren]: invalid package special://home/addons/packages/plugin.video.seren-1.4.7.zip

[2019-09-03 02:56] DJMix-I-Can commented on #167
It's still not working on a Fresh Install... I didn't get an update notification and tried to force the update, nothing. I just wound up downloading the zip file.
Here goes the debug file.
https://pastebin.com/hQtk6cYS

[2019-09-03 03:10] hockeymachine86 commented on #167
I couldn't get the update to work by checking for updates from the repo, but was able to update by downloading zip file and installing from that.
Update **does** fix the Next Up not loading isssue.

[2019-09-03 03:12] drinfernoo commented on #167
@hockeymachine86 No, the repo install issue should be fixed shortly.

[2019-09-03 03:12] #167 closed

[2019-09-03 15:35] SoulTV commented on #160
I hear you and I agree the context menu is sufficient but OLD people are making me losing my marbles lol.

Here's an idea. Would it be easier, since the info window is skin dependent, to make the default select action the context menu itself? That would basically accomplish the same thing. If it's an easy edit I can make to Seren on my end, I'd be more than happy to add it myself on each update. J

[2019-09-03 16:23] baxter300 commented on #162
@drinfernoo is that a Trakt or a Seren limitation? If Trakt then I guess that means this should be closed

[2019-09-03 16:26] baxter300 commented on #152
@soulTV interesting to see we appear to have adopted each others’ skins... have you tried with Bingie?

[2019-09-03 17:00] SoulTV commented on #152
@baxter300 lol, guess so. No I haven't tried with Bingie but I assume the large text at the top is working for you but the fallback text on the actual widget isn't. I'll check out Bingie later and see

[2019-09-04 13:32] minhgi opened #168 "clear local torrent cache cause error"
2019-09-04 08:10:12.187 T:10800   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
                                            Error Type: <class 'thread.error'>
                                            Error Contents: release unlocked lock